{% load static i18n %}

<div class="container section">
  <h1 class="title  has-text-centered">
    Alegeri reprezentanții societății civile în Consiliul Economic și Social 2024
  </h1>

  <p class="subtitle" style="margin: 0 10%">
    Consiliul Economic şi Social este un organism cu rol consultativ în ceea ce privește stabilirea
    strategiilor şi politicilor economice şi sociale la nivel naţional şi este cheia pentru realizarea,
    promovarea şi dezvoltarea dialogului și a solidarității sociale.
    Membrii Consiliului au printre atribuții analizarea și avizarea proiectelor de hotărâri și de ordonanțe ale
    Guvernului și proiectele de lege care urmează să ajungă în Parlament, precum și a proiectelor de programe și
    strategii înainte de adoptare.

    Tot membrii CES sunt responsabili și de semnalarea către Guvern și Parlament a unor fenomene sociale și economice
    care trebuie să ajungă pe agendă pentru a fi întâmpinate de propuneri de acte normative.

    Nu în ultimul rând, acest Consiliu are un rol activ în analizarea stărilor conflictuale la nivel național sau în
    sector și propune modalități pentru a le soluționa, conduce analize și studii privind realitatea economică și
    socială din România și contribuie la implementarea de strategii, programe și standarde în ceea ce privește dialogul
    social.

    <br><br>

    {% if not CANDIDATE_SUPPORTING_ENABLED %}
      {% if source == "candidates" %}
        Află <a href="{% url 'all-proposed' %}">aici</a> care au fost toate candidaturile depuse pentru alegerea 
        reprezentanților societății civile în cadrul Consiliului Economic și Social 2024.
  
      {% elif source == "all" %}
        Vezi <a href="{% url 'candidates' %}">aici</a> toate candidaturile acceptate pentru alegerea 
        reprezentanților societății civile în cadrul Consiliului Economic și Social 2024.

      {% endif %}
    {% endif %}
  </p>


</div>

<div class="section has-text-centered">
  {% comment %}
  {% if not CANDIDATE_SUPPORTING_ENABLED %}
    {% if source == "candidates" %}
      <a href="{% url 'all-proposed' %}" class="button is-warning">Vezi toate propunerile</a>
    {% elif source == "all" %}
      <a href="{% url 'candidates' %}" class="button is-warning">Vezi toți candidații</a>
    {% endif %}
  {% endif %}
  {% endcomment %}

  <a href="{% url 'election_rules' %}" class="button is-warning">Regulament alegeri CES</a>

  {% if RESULTS_ENABLED %}
    <a href="{% url 'results' %}" class="button is-warning">Rezultate finale</a>
  {% endif %}
</div>
