{% extends 'hub/ngo/base.html' %}
{% load social_share %}
{% load static %}
{% load spurl %}
{% load i18n %}

{% block content %}
  <div class="container">
    {% block left-side-view %}
      <div class="container content mb-50 rules-section" style="margin: 0 5%">

        <h1>
          Procedura pentru alegerea reprezentanților societății civile în Consiliul Economic și Social (CES) care să răspundă prevederilor L248/2013
        </h1>

        <p>
          <strong>Comisia Electorală:</strong>
        </p>
        <ul>
          <li>Fundația pentru Dezvoltarea Societății Civile (FDSC);</li>
          <li>Academia de Advocacy;</li>
          <li>Centrul de Resurse Juridice (CRJ);</li>
          <li>Federația Fundațiilor Comunitare din România;</li>
          <li>Centrul de Resurse pentru Comunitățile de Romi din Cluj;</li>
          <li>Asociația Code for Romania (fără drept de vot);</li>
          <li>Secretariatul General al Guvernului (Președintele Comisiei Electorale, fără drept de vot).</li>
        </ul>

        <p>
          <strong>Calendar:</strong>
        </p>
        <ul>
          <li>
            <strong>21 octombrie – 7 noiembrie 2024</strong>
            —
            înscrierea și validarea electorilor în platforma
            <a href="{{ REGISTER_URL }}" class="inline-link">NGO Hub</a>
          </li>
          <li>
            <strong>23 octombrie – 1 noiembrie 2024, ora 16:00</strong>
            —
            depunerea candidaturilor și strângerea de susțineri de către candidați în platforma VotONG
          </li>
          <li>
            <strong>4 – 6 noiembrie 2024</strong>
            —
            validarea candidaturilor de către Comisia Electorală a VotONG
          </li>
          <li>
            <strong>7 – 8 noiembrie 2024</strong>
            —
            exprimarea voturilor prin platforma VotONG
          </li>
          <li>
            <strong>11 noiembrie 2024</strong>
            —
            anunțarea rezultatelor
          </li>
          <li>
            <strong>12 – 13 noiembrie 2024</strong>
            —
            depunerea contestațiilor
          </li>
          <li>
            <strong>14 – 15 noiembrie 2024</strong>
            —
            soluționarea contestațiilor
          </li>
          <li>
            <strong>18 noiembrie 2024</strong>
            —
            publicarea și comunicarea rezultatelor finale ale alegerilor
          </li>
          <li>
            <strong>19 noiembrie 2024</strong>
            —
            depunerea rezultatelor și dosarelor candidaților la Secretariatul General al Guvernului
          </li>
        </ul>

        <hr>

        <h2>
          A. Preambul:
        </h2>

        <p>
          În art. 2 din L248/2013 sunt definite domeniile de specialitate ale CES, după cum urmează:
        </p>
        <p>
          Articolul 2
        </p>
        <p>
          (1) Consiliul Economic și Social este consultat obligatoriu asupra proiectelor de acte normative inițiate de Guvern sau a propunerilor legislative ale deputaților ori senatorilor.
          Rezultatul acestei consultări se concretizează în avize la proiectele de acte normative.
        </p>
        <p>
          (2) Domeniile de specialitate ale Consiliului Economic și Social sunt:
        </p>
        <ol type="1">
          <li>
            politicile economice;
          </li>
          <li>
            politicile financiare și fiscale;
          </li>
          <li>
            relațiile de muncă, protecția socială, politicile salariale și egalitatea de șanse și de tratament;
          </li>
          <li>
            agricultură, dezvoltare rurală, protecția mediului și dezvoltare durabilă;
          </li>
          <li>
            protecția consumatorului și concurență loială;
          </li>
          <li>
            cooperație, profesii liberale și activități independente;
          </li>
          <li>
            drepturi și libertăți cetățenești;
          </li>
          <li>
            politicile în domeniul sănătății;
          </li>
          <li>
            politicile în domeniul educației, tineretului, cercetării, culturii și sportului.
          </li>
        </ol>

        <p>
          (3) Consiliul Economic și Social se poate autosesiza sau poate fi sesizat de orice autoritate publică ori de organizațiile patronale sau sindicale reprezentative la nivel național, precum și de reprezentanții societății civile
          asupra unor stări de fapt, evoluții ori evenimente economico-sociale de interes național.
        </p>

        <p>
          (4) În situațiile prevăzute la aliniatul (3),
          Consiliul Economic și Social emite puncte de vedere și recomandări pe care le comunică autorităților, instituțiilor sau organizațiilor patronale, sindicale ori ale societății civile cu atribuții, competențe sau interese în
          domeniu.
          În lipsa unui consens între părțile reprezentate în Consiliul Economic și Social, secretariatul tehnic va transmite, după caz, punctele de vedere sau recomandările formulate de fiecare parte.
        </p>

        <p>
          În consecință, reprezentanții societății civile aleși în acest for ar fi de dorit să posede competențe cel puțin practice în cel puțin unul dintre domeniile de specialitate și abilități de comunicare (susținere a pozițiilor lor)
          și negociere;
        </p>

        <p>
          În conformitate cu prevederile art. 11 aliniatul 2 litera c), societatea civilă are desemnate 15 fotolii în Consiliul Economic și Social.
          Reprezentanții acestora (reprezentanți de ONG-uri) trebuie să provină din următoarele domenii:
        </p>

        <ul>
          <li>structuri cooperatiste;</li>
          <li>profesiuni liberale;</li>
          <li>organizații pentru protecția consumatorilor;</li>
          <li>comunității științifice și academice,</li>
          <li>organizații de agricultori;</li>
          <li>organizații de pensionari;</li>
          <li>organizații ale comunităților locale,</li>
          <li>asociații care reprezintă familia și persoanele cu dizabilități;</li>
          <li>alte organizații neguvernamentale cu activitate în domeniile de competență ale Consiliului Economic și Social.</li>
        </ul>

        <p>
          În conformitate cu art 11, aliniatul 2 lit c) cei 15 membri reprezentând societatea civilă, constituind partea societății civile, sunt numiți prin decizie a prim-ministrului, la propunerea Ministerului Consultării Publice și
          Dialogului
          Social (în prezent atribuțiile respective fiind exercitate de Serviciul pentru Suport Strategic și Cooperare cu Mediul Asociativ din cadrul SGG).
        </p>

        <p>
          Procedura va trebui să urmărească prevederile L248/2013 privind domeniile din care provin reprezentanții aleși prin prezenta procedură, pentru a ne asigura că Secretariatul General al Guvernului va prelua rezultatele acestui
          sistem de selecție a reprezentanților societății civile.
        </p>

        <table>
          <tr>
            <th>
              Domenii de specialitate CES cf L248/2013 art 2
            </th>
            <th>
              Structuri care propun candidați ale Soc civ. Cf art 11 aliniatul 2 lit c
            </th>
            <th>
              Domenii de activitate ale Soc. Civ. cf. Studiu sectorul ONG 2024 – FDSC – Pag. 137, cf. Tabel 42
            </th>
          </tr>
          <tr>
            <td>a) politicile economice;</td>
            <td>a) structuri cooperatiste;</td>
            <td>a) Cultură/artă;</td>
          </tr>
          <tr>
            <td>b) politicile financiare și fiscale;</td>
            <td>b) profesiuni liberale;</td>
            <td>b) Sport & Hobby;</td>
          </tr>
          <tr>
            <td>c) relațiile de muncă, protecția socială, politicile salariale și egalitatea de șanse și de tratament;</td>
            <td>c) organizații pentru protecția consumatorilor;</td>
            <td>c) Educație;</td>
          </tr>
          <tr>
            <td>d) agricultură, dezvoltare rurală, protecția mediului și dezvoltare durabilă;</td>
            <td>d) comunității științifice și academice;</td>
            <td>d) Sănătate;</td>
          </tr>
          <tr>
            <td>e) protecția consumatorului și concurență loială;</td>
            <td>e) organizații de agricultori;</td>
            <td>e) Social/caritabil;</td>
          </tr>
          <tr>
            <td>f) cooperație, profesii liberale și activități independente;</td>
            <td>f) organizații de pensionari;</td>
            <td>f) Mediu/ecologie;</td>
          </tr>
          <tr>
            <td>g) drepturi și libertăți cetățenești;</td>
            <td>g) organizații ale comunităților locale;</td>
            <td>g) Protecția animalelor;</td>
          </tr>
          <tr>
            <td>h) politicile în domeniul sănătății;</td>
            <td>h) asociații care reprezintă familia și persoanele cu dizabilități;</td>
            <td>h) Civice;</td>
          </tr>
          <tr>
            <td>i) politicile în domeniul educației, tineretului, cercetării, culturii și sportului.</td>
            <td>i) alte organizații neguvernamentale cu activitate în domeniile de competență ale Consiliului Economic și Social.</td>
            <td>i) Dezvoltare comunitară;</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>j) Religioase;</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>k) Turism.</td>
          </tr>
        </table>

        <hr>

        <h2>
          B. Se propun următoarele secțiuni și alocare de locuri:
        </h2>

        <table>
          <tr>
            <th>Secțiuni</th>
            <th>Număr locuri</th>
          </tr>
          <tr>
            <td>1 Organizații din domeniul social</td>
            <td>3</td>
          </tr>
          <tr>
            <td>2 Organizații pentru protecția drepturilor omului</td>
            <td>3</td>
          </tr>
          <tr>
            <td>3 Organizații din domeniul protecției mediului înconjurător, ecologiei, dezvoltării durabile</td>
            <td>2</td>
          </tr>
          <tr>
            <td>4 Organizații academice, profesionale, think-tank (corespund categoriei “comunități științifice și academice”)</td>
            <td>2</td>
          </tr>
          <tr>
            <td>5 Organizații cooperatiste, agricole, de dezvoltare rurală și comunitară</td>
            <td>2</td>
          </tr>
          <tr>
            <td>6 Organizații din domeniul educație</td>
            <td>1</td>
          </tr>
          <tr>
            <td>7 Organizații din domeniul sănătate</td>
            <td>1</td>
          </tr>
          <tr>
            <td>8 Organizații din domeniul tineri</td>
            <td>1</td>
          </tr>
        </table>

        <hr>

        <h2>
          C. Criterii de îndeplinit pentru a deveni elector (votant):
        </h2>

        <h3>
          C.1. Eligibilitate: cine poate participa la procesul de votare?
        </h3>

        <p>
          Orice
        </p>

        <ul>
          <li>
            asociație, fundație sau federație înregistrată legal în România conform OG 26/2000, și/sau Legii 21/1924 privind asociațiile și fundațiile (cu modificările și completările ulterioare),
          </li>
          <li>
            fundație pentru tineret de la nivel județean sau a municipiului București sau Fundația Națională pentru Tineret, înființate în baza legii 146/2002 (cu modificările și completările ulterioare) precum și
          </li>
          <li>
            Societatea Națională de Cruce Roșie din România înființată în baza Legii 139/1995 (modificată și completată de Legea 524/2004) și a structurilor sale cu personalitate juridică,
          </li>
        </ul>

        <p>
          care a depus bilanț contabil în anul premergător celui destinat alegerilor, cu excepția asociațiilor de întreprinzători și a asociațiilor de locatari.
          Nu sunt eligibile acele organizații în care membrii conducerii organizației (Președinte și Consiliu Director) sunt membri ai conducerii unui partid politic sau persoane care au fost alese într-o funcție publică.
        </p>

        <h3>
          C.2. Cum poți obține dreptul de a vota?
        </h3>

        <p>
          Pentru a fi validați ca electori, fiecare ONG prezintă la înscrierea pe platforma VotONG, prin ecosistemul Code for Romania pentru creșterea capacității organizațiilor neguvernamentale din România – NGO Hub, următoarele:
        </p>

        <ul>
          <li>
            Date de identificare:

            <ul>
              <li>denumirea organizației;</li>
              <li>adresa de e-mail a organizației;</li>
              <li>reprezentantul legal al organizației;</li>
              <li>numele membrilor Consiliului Director;</li>
              <li>numărul de înregistrare în Registrul Asociațiilor și Fundațiilor;</li>
              <li>date de contact pentru organizație;</li>
              <li>(opțional) o scurtă descriere.</li>
            </ul>

          </li>
          <li>
            Prima pagină a ultimului bilanț contabil depus la Ministerul de Finanțe și completarea numelor membrilor conducerii organizației (Președintele și Consiliul Director);
          </li>
          <li>
            O copie a ultimului statut al organizației și ale tuturor documentelor ulterioare/ suplimentare ale statutului,
            certificată pentru conformitate cu originalul de persoana sau persoanele împuternicite prin hotărârea adunării generale sau, după caz, a Consiliului Director;
          </li>
          <li>
            Declarație prin care se confirmă că membrii conducerii organizației (Președinte și Consiliul Director)
            nu sunt membri ai conducerii unui partid politic sau persoane care au fost alese sau numite într-o funcție publică la momentul înscrierii.
          </li>
        </ul>

        <h3>
          C.3. Validarea dreptului de vot pentru fiecare ONG se va face în termen de maximum 5 zile lucrătoare.
        </h3>

        <p>
          Procedura de validare a unei organizații presupune verificarea îndeplinirii criteriilor de eligibilitate menționate la punctul C.1 și a documentelor menționate la punctul C.2.
        </p>

        <h3>
          C.4. După validare, ONG-ul va primi acces la platforma de vot pentru societatea civilă, unde va putea:
        </h3>
        <ul>
          <li>
            să completeze profilul propriei organizații;
          </li>
          <li>
            să completeze profilul candidatului propus până la data de 1 noiembrie 2024 ora 16:00;
          </li>
          <li>
            să atragă cel puțin 10 susțineri din partea a 10 organizații înregistrate în platformă până la data de 1 noiembrie 2024 ora 16:00.
          </li>
        </ul>

        <hr>

        <h2>
          D. Criterii de îndeplinit pentru a deveni candidat
        </h2>

        <h3>
          D.1 Elementele care asigură o alegere și nominalizare a membrilor societății civile în cadrul CES, răspunzând concomitent la misiunea CES și la interesele sectorului neguvernamental, utilizând această procedură, sunt:
        </h3>

        <ol type="1">
          <li>
            Autoevaluarea atentă și responsabilă a persoanelor mandatate de ONG care își depun candidatura;
          </li>
          <li>
            Asumarea responsabilă de mandatare a candidatului de către ONG;
          </li>
          <li>
            Validarea din punct de vedere tehnic realizată de organizatori (conformitatea îndeplinirii criteriilor de înscriere pentru candidați)
          </li>
          <li>
            Susținerea oferită de organizațiile validate ca electori, candidaților pe care îi consideră pregătiți în a îndeplini cerințele unui membru CES;
          </li>
          <li>
            Votul propriu zis;
          </li>
          <li>
            Desemnarea reprezentanților societății civile în CES pentru un mandat de 4 ani, de către Primul Ministru;
          </li>
          <li>
            Confirmarea aleșilor de către CES.
          </li>
        </ol>

        <h3>
          D.2. Orice persoană mandatată de o organizație care se angajează în susținerea participării acesteia în cadrul CES poate candida folosind platforma VotONG.
        </h3>

        <p>
          Reprezentantul organizației va completa profilul candidatului în platforma de vot, fiind permise completări parțiale și editări ale informației existente până la data limită de 1 noiembrie 2024 ora 16:00.
        </p>

        <h3>
          D.3. Organizația care nominalizează un candidat trebuie să îndeplinească următoarele condiții:
        </h3>

        <ol type="1">
          <li>
            Să fi fost validată ca elector;
          </li>
          <li>
            Să încarce în platforma VotONG Rapoartele anuale ale organizației pentru fiecare din ultimii trei ani (2021, 2022, 2023), care să includă:
            <ul>
              <li>
                sursele de finanțare;
              </li>
              <li>
                resursele financiare și materiale de care dispune pentru îndeplinirea mandatului de reprezentare a organizațiilor votante în CES (diseminarea informațiilor, consultări periodice cu partenerii și organizațiile pe care le
                reprezintă, formularea de observații și propuneri pentru îmbunătățirea politicilor publice în domeniul lor de activitate, calități de leadership și recunoașterea organizației la nivel național);
              </li>
              <li>
                descrierea manierei în care a fost implicată fie într-un proiect național, fie în patru proiecte locale, cu relevanță semnificativă în domeniul de competență ales (cu aplicabilitate asupra perioadei 1 ian. 2021 – 31 dec.
                2023); se consideră proiect național dacă s-a derulat și/sau a avut grup țintă și/sau rezultate relevante asumate în cel puțin două județe din două regiuni administrativ-teritoriale diferite; se consideră proiect local dacă
                s-a derulat și/sau a avut grup țintă și/sau rezultate relevante asumate într-un singur județ sau localitate;
              </li>
              <li>
                pentru anul 2024, se va completa un sumar al activității organizației în câmpul dedicat profilului organizației din platforma VotONG.
              </li>
            </ul>
          </li>
          <li>
            Să încarce în platforma VotONG dovada că nu au datorii la bugetul de stat, respectiv: Certificatul fiscal emis de Agenția Națională de Administrare Fiscală teritorială cu contribuțiile la bugetul de stat și Certificatul fiscal
            emis de Direcția de Impozite și Taxe Locale;
          </li>
          <li>
            Să completeze și să încarce în platforma VotONG o declarație pe proprie răspundere prin care declară că nu realizează activități sau susține cauze de natură politică sau care discriminează pe considerente legate de etnie, rasă,
            sex, orientare sexuală, religie, capacități fizice sau psihice sau de apartenență la una sau mai multe categorii sociale sau economice.
          </li>
        </ol>

        <h3>
          D.4 Profilul unui candidat cuprinde următoarele:
        </h3>

        <ol type="a">
          <li>
            Mandat din partea organizației, semnat (inclusiv prin semnătură electronică), cu sublinierea domeniului de competență pentru care candidează;
          </li>
          <li>
            Scrisoare de intenție (cu menționarea domeniului pe care dorește să-l reprezinte în cadrul CES) din care să rezulte desfășurarea de activități de influențare a politicilor publice și de reprezentare a intereselor unor grupuri de
            organizații care desfășoară o activitate de interes public;
          </li>
          <li>
            CV în format Europass;
          </li>
          <li>
            Declarație de interese (format oficial);
          </li>
          <li>
            Cazier judiciar (opțional);
          </li>
          <li>
            Cazier fiscal, valabil la data depunerii candidaturii;
          </li>
          <li>
            Declarație pe propria răspundere privind îndeplinirea următoarelor condiții:
            <ul>
              <li>
                neapartenență politică;
              </li>
              <li>
                nu deține funcții de demnitate publică la nivel local sau central și nu este angajat al unei instituții sau autorități publice;
              </li>
              <li>
                nu are antecedente penale.
              </li>

            </ul>
          </li>
          <li>
            Fotografie actuală a candidatului.
          </li>
        </ol>

        <p>
          Informațiile de la punctele a, b, c, d, g și h vor fi disponibile public în platforma VotONG.
        </p>

        <h3>
          D.5. Pentru a putea candida, fiecare candidat trebuie să se asigure că are cel puțin zece electori care își exprimă în platformă susținerea pentru candidatura sa. Orice elector poate să își exprime susținerea pentru unul sau mai
          mulți candidați prin intermediul unei funcționalități dedicate din platforma VotONG.
        </h3>

        <h3>
          D.6. O organizație poate propune un singur candidat, într-un singur domeniu.
        </h3>

        <h3>
          D.7. Completarea profilului de candidat poate fi făcută de către un reprezentant al unui ONG în orice moment între data acceptării ONG-ului în platformă și data limită, 1 noiembrie 2024, ora 16:00.
        </h3>

        <p>
          După această dată limită, reprezentanții ONG-urilor nu vor mai putea adăuga sau modifica informația asociată ONG-ului, și nici pe cea asociată candidatului. Modificarea identității candidatului trebuie să fie însoțită de
          modificarea
          actelor aferente acestui candidat - trebuie să existe o concordanță între toate documentele exprimate la punctul D.5 și identitatea candidatului unui ONG. Permisiunea de modificare sau eliminare a conținutului paginii de candidat
          este permisă doar reprezentantului ONG-ului, iar formatul paginii este identic pentru toți candidații.
        </p>

        <h3>
          D.8. Fiecare candidatură este validată de către Comisia Electorală după verificarea îndeplinirii condițiilor de la punctele D.3 și D.5, precum și prezența informațiilor de la D.4.
        </h3>

        <h3>
          D.9. Validarea candidaturilor depuse se va realiza de către Comisia Electorală a VotONG într-un termen de 3 zile lucrătoare de la încărcarea informațiilor/documentelor solicitate pe platforma VotONG.
        </h3>

        <hr>

        <h2>
          E. Desfășurarea alegerilor și nominalizarea reprezentanților societății civile în CES:
        </h2>

        <h3>
          E.1.
          Exercitarea voturilor se realizează exclusiv pe platforma
          <a href="https://www.votong.ro" class="inline-subtle-link">www.votong.ro</a>,
          iar votul va fi anonim.
        </h3>

        <h3>
          E.2.
          Fiecare elector va avea, în cadrul domeniul în care s-a înregistrat să voteze, un număr egal de voturi cu numărul fotoliilor alocate în Consiliul Economic și Social pentru domeniul respectiv, conform secțiunilor/domeniilor și
          alocărilor de locuri de la punctul B.
        </h3>

        <p>
          Un candidat poate primi maxim un vot din partea unui ONG elector.
        </p>

        <h3>
          E.3.
          În urma exprimării voturilor electorilor se va realiza o ierarhizare a scorurilor obținute de candidați pentru fiecare din domeniile de competență definite la punctul B.
        </h3>

        <h3>
          E.4.
          În cazul în care nu se înscriu candidați pentru unul sau mai multe domenii de competență, Comisia Electorală a VotONG va propune ocuparea locului/locurilor de către candidatul/candidații cu cele mai multe voturi,
          indiferent de domeniu, în ordine descrescătoare, urmând ca acesta să reprezinte și interesele organizațiilor/domeniului pentru care nu au existat candidați.

        </h3>

        <h3>
          E.5.
          În cazul în care se constată egalitate de voturi între candidații din cadrul unui domeniu de specialitate al CES, Comisia Electorală a VotONG va decide desemnarea candidatului câștigător în baza unor criterii precum
          complexitatea structurii federației/organizației care l-a propus și nivelul de acoperire națională/regională al acesteia.
        </h3>

        <h3>
          E.6.
          La încheierea etapei de vot se vor prezenta rezultatele obținute de candidați în funcție de numărul de voturi obținute și admiterea celor 15 câștigători.
          Va exista o perioadă de 4 zile de depunere și rezolvare a contestațiilor.
        </h3>

        <h3>
          E.7.
          Orice elector care are suspiciuni fondate că procesul electoral a fost viciat poate cere Comisiei Electorale, după încheierea procesului electoral, auditarea alegerilor și Comisia Electorală va decide dacă aprobă auditarea și
          în ce condiții va avea loc aceasta.
        </h3>

        <h3>
          E.8.
          După soluționarea tuturor contestațiilor depuse, rezultatul final al alegerilor va fi făcut public pe platforma VotONG și pe pagina de Internet a Secretariatului General al Guvernului, la secțiunea Mediul asociativ – CES.
        </h3>

        <h3>
          E.9.
          În conformitate cu Articolul 11, aliniatul 2, litera c) din Legea 248/2013 privind organizarea și funcționarea Consiliului Economic și Social, cei 15 membri reprezentând societatea civilă, constituind parte a societății civile,
          sunt
          numiți prin decizie a Prim-ministrului, la propunerea Ministerului Consultării Publice și Dialogului Social, în prezent atribuțiile respective fiind exercitate de Secretariatul General al Guvernului prin Serviciul Suport Strategic
          și Cooperare cu Mediul Asociativ.
        </h3>

        <p>
          Nominalizarea reprezentanților societății civile în CES se va face în baza rezultatelor votului exprimat în platforma VotONG, menționate în Raportul privind alegerea reprezentanților societății civile în CES – 2024 elaborat de
          Comisia Electorală.
        </p>

        <h3>
          E.10.
          Aducerea la cunoștința electorilor a deciziei Prim-Ministrului, publicată în Monitorul Oficial.
        </h3>

      </div>
    {% endblock %}
  </div>
{% endblock %}
