{% extends 'hub/ngo/base.html' %}
{% load social_share %}
{% load static %}
{% load spurl %}
{% load i18n %}


{% block content %}
  <div class="container">
    {% block left-side-view %}
      <div class="container content mb-50">
        <h2>
          Metodologia de selecție și alegere a reprezentanților societății civile în Comitetul de Monitorizare a PNRR
        </h2>

        <p>
          Comisia Electorală:
        </p>
        <ul>
          <li>Fundația pentru Dezvoltarea Societății Civile (FDSC),</li>
          <li>Academia de Advocacy (AA),</li>
          <li>Fundația Centrul de Resurse Juridice (CRJ),</li>
          <li>Federația Fundațiilor Comunitare din România (FFCR),</li>
          <li>Centrul de Resurse pentru Comunitățile de Romi din Cluj (CRCR),</li>
          <li>Asociația Code for Romania (Code4Romania) - fără drept de vot ca administrator al platformei,</li>
          <li>Ministerul Investițiilor și Proiectelor Europene (MIPE) - Președintele Comisiei Electorale, fără drept de vot</li>
        </ul>

        <hr>

        <p>
          Calendar:
        </p>
        <ul>
          <li><b>8 - 17 martie 2022</b> – consultare publică legată de regulamentul propus;</li>
          <li><b>21 martie</b> - lansarea apelului de candidaturi pentru desfășurare a procesului de selecție și vot pentru desemnarea reprezentanților societății civile în Comitetul de monitorizare a PNRR;</li>
          <li><b>începând cu 21 martie</b> – înscrierea de noi electori în platforma VotONG;</li>
          <li><b>28 martie – 6 aprilie</b> - depunerea candidaturilor;</li>
          <li><b>7 - 11 aprilie</b> - validarea / selecția candidaturilor de către Comisia Electorală a VotONG;</li>
          <li><b>12 - 13 aprilie</b> – exprimarea voturilor prin platforma www.votong.ro;</li>
          <li><b>14 aprilie</b> – anunțarea rezultatelor preliminarii;</li>
          <li><b>15 - 18 aprilie</b> – depunerea contestațiilor;</li>
          <li><b>19 - 20 aprilie</b> – soluționarea contestațiilor;</li>
          <li><b>21 aprilie</b> – publicarea și comunicarea rezultatelor finale ale alegerilor;</li>
          <li><b>21 aprilie</b> – depunerea rezultatelor și dosarelor candidaților la Ministerul Investițiilor și Proiectelor Europene;</li>
        </ul>

        <hr>

        <h3>
          A. Preambul:
        </h3>

        <p>
          În conformitate cu alin. (2) lit a) din cadrul Hotărârii privind organizarea și funcționarea Comitetului de monitorizare a Planului Național de Redresare și Reziliență
          vor fi selectați un număr de 15 reprezentanți ai societăţii civile, care să acopere cei 6 piloni PNRR prin utilizarea mecanismului VotONG.
        </p>

        <h3>
          B. Alegerile se vor desfășura urmărind pilonii și alocările de locuri:
        </h3>

        <table>
          <tr>
            <th>Piloni</th>
            <th>Număr locuri</th>
          </tr>
          <tr>
            <td>tranziția verde;</td>
            <td>2</td>
          </tr>
          <tr>
            <td>transformarea digitală;</td>
            <td>1</td>
          </tr>
          <tr>
            <td>creștere inteligentă, durabilă și favorabilă incluziunii,
              inclusiv coeziune economică, locuri de muncă, productivitate, competitivitate,
              cercetare, dezvoltare și inovare, precum și o piață internă funcțională,
              cu IMM-uri puternice;
            </td>
            <td>1</td>
          </tr>
          <tr>
            <td>coeziune socială și teritorială;</td>
            <td>3</td>
          </tr>
          <tr>
            <td>sănătate și reziliență economică, socială și instituțională, având drept scop, printre altele,
              creșterea nivelului de pregătire pentru situații de criză și a capacității de reacție la criză;
            </td>
            <td>5</td>
          </tr>
          <tr>
            <td>politici pentru generația următoare, copii și tineret, cum ar fi educația și competențele</td>
            <td>3</td>
          </tr>
        </table>

        <h3>C. Criterii de îndeplinit pentru a deveni elector (votant):</h3>

        <p><b>C.1. Eligibilitate: cine poate participa la procesul de votare?</b></p>

        <p>
          Orice:
        </p>
        <ul>
          <li>asociație, fundație sau federație înregistrată legal în România conform OG 26/2000,
            și/sau Legii 21/1924 privind asociaţiile şi fundaţiile (cu modificările şi completările ulterioare),
          </li>
          <li>fundație pentru tineret de la nivel județean sau a municipiului București,</li>
          <li>sau Fundația Națională pentru Tineret, înființată în baza legii 146/2002
            (cu modificările și completările ulterioare) precum și
          </li>
          <li>Societatea Națională de Cruce Roșie din România înființată în baza Legii 139/1995
            (modificată și completată de Legea 524/2004) și a structurilor sale cu personalitate juridică,
          </li>
        </ul>
        <p>
          care a depus bilanţ contabil la Agenția Națională de Administrare Fiscală în anul premergător celui destinat alegerilor,
          cu excepția asociațiilor de întreprinzători și a asociațiilor de locatari.
          Nu sunt eligibile acele organizații în care membrii conducerii organizației
          (Președinte și Consiliu Director) sunt membri ai conducerii unui partid politic
          sau persoane care au fost alese sau care ocupă o funcție publică până în momentul depunerii candidaturii.
        </p>

        <p><b>C.2. Cum poți obține dreptul de a vota?</b></p>

        <p>Pentru a fi validați ca electori, fiecare ONG trebuie
          să se înscrie pe platforma VotONG prezentând următoarele:
        </p>

        <ul>
          <li>date de identificare: denumirea organizației, adresa de e-mail a organizației,
            reprezentantul legal al organizației, numele membrilor Consiliului Director,
            numarul de înregistrare în Registrul Asociațiilor și Fundațiilor,
            date de contact pentru organizație și, opțional, o scurtă descriere.
          </li>
          <li>prima pagină a ultimului bilanț contabil depus la Ministerul de Finanțe și
            să completeze numele membrilor conducerii organizației (Președintele și Consiliul Director)
          </li>
        </ul>

        <p>Comisia electorală va verifica dacă nu există suprapunere completă la nivel de
          Președinte și Consiliu Director pentru două sau mai multe organizații.
          Acolo unde se vor depista astfel de cazuri, drept de vot va obține prima organizație înscrisă în platforma VotONG.
        </p>

        <p><b>C.3. Validarea dreptului de vot pentru fiecare ONG se va face în termen de maximum 5 zile lucrătoare.</b></p>

        <p>Procedura de validare a unei organizații presupune verificarea îndeplinirea criteriilor de eligibilitate menționate
          la punctul C.1 și a documentelor menționate la punctul C.2.</p>

        <p><b>C.4. După validare, ONG-ul va primi acces la platforma de vot pentru societatea civilă, unde va putea:</b></p>

        <ul>
          <li>să completeze profilul propriei organizații</li>
          <li>să completeze profilul de candidatură până la data de 6 aprilie 2022, ora 16:00</li>
        </ul>

        <h3>D. Criterii de îndeplinit pentru a deveni candidat</h3>

        <p><b>D.1. Orice organizație înscrisă și validată în platforma VotONG poate candida folosind platforma VotONG</b></p>

        <p>Organizația va completa profilul de candidatură în platforma de vot, fiind permise completări parțiale
          și editări ale informației existente până la data limită de 6 aprilie 2022, ora 16:00.</p>

        <p><b>D.2. Organizația care candidează trebuie să îndeplinească următoarele condiții de selecție:</b></p>

        <ol>
          <li>Să fi fost validată ca elector conform punctului C. de mai sus.</li>
          <li>Să încarce în platforma VotONG rapoartele anuale ale organizației pentru fiecare din ultimii doi ani (2019, 2020),
            care să includă sursele de finanțare și din care să rezulte că dispune de resurse financiare şi materiale
            pentru îndeplinirea mandatului de reprezentare a organizaţiilor votante în Comitetul de Monitorizare PNRR;
          </li>
          <li>Să nu aibă datorii la bugetul de stat.</li>
          <li>Să încarce în platforma VotONG o copie a ultimului statut autentificat/certificat al organizației
            și a hotărârii judecătoreşti corespunzătoare definitivă şi irevocabilă și ale tuturor documentelor ulterioare/ suplimentare ale statutului,
            inclusiv hotărârile judecătorești definitive și irevocabile;
          </li>
          <li>Să completeze și să încarce în platforma VotONG o declarație pe proprie răspundere prin care declară că nici organizația,
            nici persoanele mandatate să o reprezinte în Comitetul de Monitorizarea PNRR, nu realizează activități sau susține cauze
            de natură politică sau care discriminează pe considerente legate de etnie, rasă, sex, orientare sexuală, religie,
            capacități fizice sau psihice sau de apartenența la una sau mai multe categorii sociale sau economice.
          </li>
          <li>Să transmită dovezi că organizația a fost implicată fie într-un proiect național/regional,
            fie în două proiecte locale cu relevanță semnificativă pentru secțiunea/domeniul unde și-a depus candidatura
            (cu aplicabilitate asupra perioadei 1.01.2019 - 31.12.2021). Dacă este cazul, se vor solicita informații suplimentare
            despre îndeplinirea acestui criteriu.
          </li>
          <li>Organizațiile candidate nu pot avea între membri conducerii organizației (Președinte sau Consiliu Director)
            membri ai conducerii unui partid politic sau persoane care au fost alese sau numite într-o funcție publică.
            Organizațiile vor completa o declarație pe propria răspundere în acest sens.
          </li>
          <li>Organizațiile candidate, reprezentanții legali si/sau structurile de conducere ai acestora nu au fost găsiti vinovati
            la data depunerii candidaturii, printr-o hotărâre judecătorească definitivă, pentru comiterea unei fraude/ infracțiuni
            referitoare obţinerea şi utilizarea fondurilor europene şi/sau a fondurilor publice naţionale aferente acestora,
            în conformitate cu prevederile Codului Penal aprobat prin Legea nr. 286/2009, cu modificările și completările ulterioare,
            sau la orice alte activități ilegale în detrimentul intereselor financiare a UE sau ale bugetului de stat.
            Organizațiile vor completa o declarație pe propria răspundere în acest sens.
          </li>
          <li>Organizațiile candidate, reprezentanții legali si/sau structurile de conducere ai acestora nu se află în situațiile
            prevăzute de Recomandarea Comisiei Europene nr. 1039/16.07.2020, publicată în JOUE nr 227/16.07.2020 privind condiționarea
            acordării sprijinului financiar public de lipsa unei legături cu jurisdicțiile necooperante în scopuri fiscale,
            începând cu data depunerii cererii de candidatura, pe perioada de selecţie.
            Organizațiile vor completa o declarație pe propria răspundere în acest sens.
          </li>
          <li>Entitățile care intenționează să participe la apelul pentru desemnarea membrilor ONG în cadrul Comitetului de Monitorizare PNRR
            și/sau reprezentanții legali și/sau angajații/voluntarii ai acestora nu trebuie să se regăsească într-una din situațiile de mai jos
            la data depunerii candidaturii și pe întreg procesul de evaluare și vot:
            <ul>
              <li>nu desfășoară activități/dețin funcții de conducere în cadrul/pentru structurile cu atribuții
                în implementarea/coordonarea implementării PNRR și/sau a reformelor și investițiilor aferente;
              </li>
              <li>nu dețin calitatea de demnitar, coordonator și/sau conducător al instituțiilor cu rol de coordonator
                național și/sau a coordonatorilor de reforme PNRR
              </li>
            </ul>
            Organizațiile vor completa o declarație pe propria răspundere în acest sens.
          </li>
        </ol>

        <p><b>D.3. Profilul de candidatură cuprinde următoarele:</b></p>

        <ol>
          <li>Documente care să valideze îndeplinirea condițiilor de la punctul D2,
            inclusiv o declarație pe propria răspundere în formatul standard din Anexa 1;
          </li>
          <li>Scrisoare de intenție (cu menționarea secțiunii pentru care vrea să candideze în cadrul Comitetului de Monitorizare PNRR)
            din care să rezulte desfăşurarea de activităţi în domeniul secțiunii pentru care candidează;
          </li>
          <li>Mandat din partea organizației, semnat (inclusiv prin semnătură electronică),
            prin care să desemneze maxim 2 persoane, dintre care 1 membru titular, și 1 membru supleant;
            cel puțin una dintre cele 2 persoane trebuie să aibă funcție de conducere în cadrul organizației;
          </li>
          <li>Certificat de atestare fiscală eliberat de ANAF;</li>
          <li>Certificat de atestare fiscală pentru persoane juridice privind impozitele și taxele locale
            și alte venituri ale bugetului local, eliberat cu maximum 30 de zile înainte de depunerea candidaturii.
          </li>
        </ol>
        <p>Informațiile de la punctele D.3 vor fi disponibile public în platforma VotONG.</p>

        <p><b>D.4. O organizație poate candida într-o singură secțiune.</b></p>

        <p><b></b>D.5. Completarea profilului de candidatură poate fi făcută de către un reprezentant al unui ONG în orice moment
          începând cu data de 28 martie 2022 și până la data limită 6 aprilie 2022, ora 16:00.</b></p>

        <p>După această dată limită, reprezentanții ONG-urilor nu vor mai putea adăuga
          sau modifica informația asociată ONG-ului și candidaturii sale.</p>

        <p><b>D.6. Fiecare candidatură este validată de către Comisia Electorală după verificarea îndeplinirii condițiilor de la punctele D.2,
          precum și prezența informațiilor de la D.3.</b></p>

        <p><b>D.7. Dacă se constată vreun fals în documentele sau declarațiile transmise, organizația respectivă va fi descalificată,
          iar locul câștigat va fi redistribuit următorilor clasați ca număr de voturi.</b></p>

        <p><b>E. Desfășurarea alegerilor:</b></p>

        <p><b>E.1. Fiecare elector va avea, în cadrul fiecărei secțiuni, un număr de voturi egal cu numărul locurilor disponibile.
          Fiecare elector va avea un număr total de 15 voturi.
        </b></p>

        <table>
          <tr>
            <th>Piloni</th>
            <th>Număr locuri</th>
          </tr>
          <tr>
            <td>tranziția verde;</td>
            <td>2</td>
          </tr>
          <tr>
            <td>transformarea digitală;</td>
            <td>1</td>
          </tr>
          <tr>
            <td>creștere inteligentă, durabilă și favorabilă incluziunii,
              inclusiv coeziune economică, locuri de muncă, productivitate, competitivitate,
              cercetare, dezvoltare și inovare, precum și o piață internă funcțională,
              cu IMM-uri puternice;
            </td>
            <td>1</td>
          </tr>
          <tr>
            <td>coeziune socială și teritorială;</td>
            <td>3</td>
          </tr>
          <tr>
            <td>sănătate și reziliență economică, socială și instituțională, având drept scop, printre altele,
              creșterea nivelului de pregătire pentru situații de criză și a capacității de reacție la criză;
            </td>
            <td>5</td>
          </tr>
          <tr>
            <td>politici pentru generația următoare, copii și tineret, cum ar fi educația și competențele</td>
            <td>3</td>
          </tr>
        </table>

        <p><b>Un candidat poate primi maxim un vot din partea unui ONG elector.</b></p>

        <p><b>E.2. În cazul în care sunt înregistrate mai puține candidaturi decât locuri disponibile în oricare dintre piloni,
          Comisia Electorală va decide și va argumenta redistribuirea acestor locuri către alți piloni.</b></p>

        <p><b>E.3. Exprimarea voturilor se va face folosind componenta specifică a ecosistemului VotONG</b></p>

        <p><b>E.4. La încheierea etapei de vot se vor prezenta rezultatele obținute de candidați în funcție de
          numărul de voturi obținute și admiterea celor 15 câștigători.
          Va exista o perioadă de 2 zile de depunere și 2 zile de soluționare a contestațiilor.</b></p>

        <p><b>E.5. Orice elector care are suspiciuni fondate că procesul electoral a fost viciat poate cere
          Comisiei Electorale, după încheierea procesului electoral, auditarea alegerilor și Comisia Electorală
          va decide dacă aprobă auditarea și în ce condiții va avea loc aceasta.</b></p>

        <p><b>E.6. Desemnarea reprezentanților societății civile în Comitetul de Monitorizare a PNRR se va face
          de către Ministerul Investițiilor și Proiectelor Europene, respectând rezultatele alegerilor desfășurate
          prin platforma VotONG. În cazul retragerii sau imposibilității de reprezentare a unei organizații câștigătoarea
          în Comitetul de Monitorizare PNRR, organizația clasată următoarea ca numărul de voturi va prelua mandatul</b></p>
      </div>
    {% endblock %}
  </div>
{% endblock %}
