{% extends 'hub/ngo/base.html' %}
{% load social_share %}
{% load static %}
{% load spurl %}
{% load i18n %}


{% block content %}
  <div class="container">
    {% block left-side-view %}
      <div class="container content mb-50">
        <h1 class="tile-title">
          Metodologia de selecție și alegere a reprezentanților societății civile în Consiliul Economic și Social
        </h1>

        <p class="subtitle">
          Metodologia este încă în lucru, urmând a fi publicată în curând.
        </p>

        <hr>
        
        <p class="subtitle">
          <a href="{% url 'old-methodology' %}">
            Aici puteți consulta metodologia folosită pentru alegerile din anul 2020
          </a>.
        </p>

      </div>
    {% endblock %}
  </div>
{% endblock %}
