{% extends 'base.html' %}
{% load static %}
{% load spurl %}
{% load i18n %}

{% block content %}
<div class="search-wrapper container is-flex">
    <form action="{% url 'candidates' %}" method="GET">
        <div class="field border-b">
            <p class="control has-icons-right ">
                <input class="input search-input" type="text" name="q" value="{{ current_search }}" placeholder="{% trans 'Search...' %}">
                <label class="search-icon">
                    <span class="icon is-small is-right">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="submit" style="display: none;"/>
                </label>
            </p>
        </div>
    </form>
</div>

<div class="container">
    {% block extra-header %}
        <div id="donate_safely" class="container">
            <h1 class="donate-title">
                {% trans "Elections CES/CESE 2020" %}
            </h1>
            <p class="donate-subtitle">
                {% trans "Platforma de vot electronic ce se adresează organizațiilor neguvernamentale, dedicată alegerilor Consiliului Economic și Social din România și din Uniuniea Europeană" %}
            </p>
        </div>

    {% endblock %}

    {% block domain-filters %}

    <div id="aid_types" class="container">
        <div class="columns is-multiline">

            {% for domain in domains %}

            <div class="column is-4 filter">
            {% if current_domain.0|add:0 == domain.0 %}
                <div class="card-active">
                    <a href="{% spurl base='{{ current_url }}' remove_query_param='domain' remove_query_param='page' %}"
                       class="has-text-black is-flex">
            {% else%}
                <div class="card">
                    <a href="{% spurl base='{{ current_url }}' set_query='domain={{ domain.0 }}' remove_query_param='page' %}"
                       class="has-text-black is-flex">
            {% endif %}
                        <span class="call-to-action" style="background-color: #bfd1e3;">
                            <i class="far fa-check-circle"></i>
                        </span>
                        <div class="card-content">{{ domain.1 }}</div>
                    </a>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
    {% endblock %}

    <div class="columns is-centered">

        <div class="column is-two-thirds">
            {% block left-side-view %}
            {% endblock %}
        </div>

    </div>

</div>
{% endblock %}
