{% extends 'base.html' %}
{% load static %}
{% load spurl %}
{% load i18n %}

{% block content %}
<div class="search-wrapper container is-flex">
    <form action="{% url 'candidates' %}" method="GET">
        <div class="field border-b">
            <p class="control has-icons-right ">
                <input class="input search-input" type="text" name="q" value="{{ current_search }}" placeholder="{% trans 'Search...' %}">
                <label class="search-icon">
                    <span class="icon is-small is-right">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="submit" style="display: none;"/>
                </label>
            </p>
        </div>
    </form>
</div>

    {% block extra-header %}

        <div class="container has-text-centered mb-50">
      <div class="columns is-centered">
        <div class="column is-two-thirds">
            <h1 class="section-title">
                {% trans "Elections CES/CESE 2020" %}
            </h1>
            <p class="section-text">
                {% trans "Platforma de vot electronic ce se adresează organizațiilor neguvernamentale, dedicată alegerilor Consiliului Economic și Social din România și din Uniuniea Europeană" %}
            </p>
        </div>
      </div>
    </div>

    {% endblock %}

    {% block domain-filters %}

    <div class="container section has-text-centered ">
            <h1 class="title">
                {% trans "Elections CES/CESE 2020" %}
            </h1>
            <p class="subtitle border-b">
                {% trans "Platforma de vot electronic ce se adresează organizațiilor neguvernamentale, dedicată alegerilor Consiliului Economic și Social din România și din Uniuniea Europeană" %}
            </p>
    </div>


    {% if current_domain %}
    <div class="container section">
        <h1 class="section-title">{{ current_domain.name }}</h1>
        <p class="section-text">{{ current_domain.description }}</p>
    </div>
    {% endif %}

    {% endblock %}
    
    <div class="container section">
            {% block left-side-view %}
            {% endblock %}
    </div>
{% endblock %}
