{% extends 'candidate/base.html' %}
{% load static i18n %}
{% load spurl guardian_tags %}
{% load social_share meta_tags hub_tags %}

{% block meta_tags %}
  {% if candidate.photo %}
    {% with title=candidate.name image=candidate.photo.url %}
      {% meta_tags %}
    {% endwith %}
  {% endif %}
{% endblock %}

{% block left-side-view %}

{% block domain-filters %}
{% endblock%}

{% get_obj_perms user for candidate as "user_permissions" %}

<div class="container">
    <!-- <h1 class="section-title">{{ candidate.domain.name }}</h1> -->
    <div class="section-title">Sectiune: {{candidate.domain.name}}</div>
    <p class="section-text">{{ candidate.domain.description }}</p>
</div>

<div class="container need is-flex">
    <div class="card-image need-logo is-hidden-mobile">
    {% if candidate.photo %}
        <img src="{{ candidate.photo.url }}" alt="{{ candidate.name }}">
    {% else %}
        <img src="{% static 'images/photo-placeholder.gif' %}" alt="{{ candidate.name }}">
    {% endif %}
    </div>

    <div class="card-info">
        <div class="flex-align-center">
            <div class="card-image need-logo is-hidden-tablet">
                {% if candidate.photo %}
                <img src="{{ candidate.photo.url }}" alt="{{ candidate.name }}">
                {% else %}
                <img src="{% static 'images/photo-placeholder.gif' %}" alt="{{ candidate.name }}">
                {% endif %}
            </div>
            <div class="need-title is-hidden-tablet">{{candidate.name}}</div>
        </div>

        <div class="need-subtitle is-hidden-mobile">{{candidate.org}}</div>

        <div class="need-title is-hidden-mobile">
            <a class="has-text-black" href="{% url 'candidate-detail' candidate.pk %}">{{candidate.name}}</a>
        </div>
        <div class="need-subtitle is-hidden-tablet">{{candidate.org}}</div>

        {% if "view_data_candidate" in user_permissions %}
          <div class="need-subtitle">Email: {{candidate.email}}</div>
          <div class="need-subtitle">Tel.: {{candidate.phone}}</div>
        {% endif %}

        <div class="need-subtitle">Sectiune: {{candidate.domain.name}}</div>
    </div>
    {% if CANDIDATE_SUPPORTING_ENABLED and "support_candidate" in user_permissions %}
    <div class="buttons">
    {% if candidate.org != request.user.orgs.first %}
    {% if user|already_supported:candidate %}
      <a href="{% url 'candidate-support' candidate.id %}" class="button is-danger">Retrage susținerea</a>
    {% else %}
      <a href="{% url 'candidate-support' candidate.id %}" class="button is-success">Susține</a>
    {% endif %}
    {% endif %}
      <span style="width: 100%; padding: 10px;">Susținători: {% supporters candidate.id %}</span>
    </div>
    {% endif %}
</div>

<hr/>

{% if candidate.description %}
<div class="container candidate-desc">
    <p class="label">{% trans 'Description' %}:</p>
    {{ candidate.description|linebreaks }}
</div>
{% endif %}

<div class="container detail-desc">
    <div class="detail-desc-title">
        <span class="candidate-colorblock"></span>
        {% trans "General information" %}
    </div>
    <div><p class="label">{% trans 'Role' %}:</p> {{ candidate.role }}</div>
    <div><p class="label">{% trans 'Professional experience' %}:</p> {{ candidate.experience|linebreaks }}</div>
    <div><p class="label">{% trans 'Studies' %}:</p> {{ candidate.studies|linebreaks }}</div>
</div>


<div class="container detail-desc">
    <div class="detail-desc-title">
        <span class="candidate-colorblock"></span>
        {% trans "Documents" %}
    </div>
    {% if candidate.cv %}
    <p>
        <span class="icon">
          <i class="fas fa-lock"></i>
        </span>
        <a href="{{ candidate.cv.url }}">{% trans 'Curriculum Vitae' %}</a>
    </p>
    {% endif %}
    {% if candidate.letter %}
    <p>
        <span class="icon">
          <i class="fas fa-lock"></i>
        </span>
        <a href="{{ candidate.letter.url }}">{% trans 'Letter of intent' %}</a>
    </p>
    {% endif %}
    {% if candidate.mandate %}
    <p>
        <span class="icon">
          <i class="fas fa-lock"></i>
        </span>
        <a href="{{ candidate.mandate.url }}">{% trans 'Mandate from the organization' %}</a>
    </p>
    {% endif %}
    {% if candidate.statement %}
    <p>
        <span class="icon">
          <i class="fas fa-lock"></i>
        </span>
        <a href="{{ candidate.statement.url }}">{% trans 'Statement of interests' %}</a>
    </p>
    {% endif %}

    {% if "view_data_candidate" in user_permissions %}

    {% if candidate.tax_records %}
    <p>
        <span class="icon">
          <i class="fas fa-lock"></i>
        </span>
        <a href="{{ candidate.tax_records.url }}">{% trans 'Tax records' %}</a>
    </p>
    {% endif %}
    {% if candidate.legal_records %}
    <p>
        <span class="icon">
          <i class="fas fa-lock"></i>
        </span>
        <a href="{{ candidate.legal_records.url }}">{% trans 'Legal records' %}</a>
    </p>
    {% endif %}

    {% endif %}
</div>


<div class="container detail-desc">
    <div class="detail-desc-title">
      <span class="candidate-colorblock"></span>
      Organizație
    </div>
    <p><span class="label">Numele organizației:</span> <a href="{% url 'ngo-detail' candidate.org.id %}">{{ candidate.org.name }}</a></p>
    {% if candidate.org.description %}
    <p class="label">Scurta descriere:</p>
    {{ candidate.org.description|linebreaks }}
    <hr>
    {% endif %}
    <hr>
</div>

{% comment %}
{% social_buttons obj=candidate %}
{% endcomment %}

{% endblock %}

{% block content %}
{% url "ngos" as ngos %}
{% with current_url=ngos %}
{{ block.super }}
{% endwith %}
{% endblock %}
