{% extends 'candidate/base.html' %}
{% load static %}
{% load spurl %}
{% load i18n %}

{% block extra-header %}
{% include "partials/ces_header.html" %}
{% endblock %}


{% block left-side-view %}

<div class="search-wrapper container is-flex">
    <form action="{% url 'candidates' %}" method="GET">
        <div class="field border-b">
            <p class="control has-icons-right ">
                <input class="input search-input" type="text" name="q" value="{{ current_search }}" placeholder="{% trans 'Search...' %}">
                <label class="search-icon">
                    <span class="icon is-small is-right">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="submit" style="display: none;"/>
                </label>
            </p>
        </div>
    </form>
</div>

{% if current_domain %}
    <h2 class="section-title uppercase">
       <span class="is-4"><<</span> <a href="{% url 'candidates' %}">{% trans "Back" %}</a>
    </h2>
{% endif %}

<h2 class="section-title uppercase">
    {% trans "Candidates" %}
</h2>

<script>
    window.onload = function () {
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onAfterPageLoad: function(items) {
                var more_link = $('.infinite-more-link')[0];
                if (more_link === undefined) {
                    // Waypoint.Infinite removes the anchor with the above class
                    // after performing the last request.
                    //
                    // so at this point, we know there are no more items that can be loaded,
                    // so we remove the pagination nav
                    $('nav.pagination').remove()
                }
            }
        })
    };
</script>

<div class="container">
    {% if page_obj %}

    <div class="is-multiline infinite-container">
        {% for candidate in page_obj %}


        <div class="need is-flex container infinite-item">
            <div class="card-image need-logo is-hidden-mobile">
            {% if candidate.photo %}
                <img src="{{ candidate.photo.url }}" alt="{{ candidate.name }}">
            {% else %}
                <img src="{% static 'images/photo-placeholder.gif' %}" alt="{{ candidate.name }}">
            {% endif %}
            </div>

            <div class="card-info">
                <div class="flex-align-center">
                    <div class="card-image need-logo is-hidden-tablet">
                        {% if candidate.photo %}
                            <img src="{{ candidate.photo.url }}" alt="{{ candidate.name }}">
                        {% else %}
                            <img src="{% static 'images/photo-placeholder.gif' %}" alt="{{ candidate.name }}">
                        {% endif %}
                    </div>
                    <div class="need-title is-hidden-tablet">{{candidate.name}}</div>
                </div>
                <div class="need-subtitle is-hidden-mobile">{{candidate.org}}</div>
                <div class="need-title is-hidden-mobile">
                    <a class="has-text-black" href="{% url 'candidate-detail' candidate.pk %}">{{candidate.name}}</a>
                </div>
                <!-- <div class="need-description is-hidden-mobile">{{candidate.experience}}</div> -->
                <div class="need-subtitle">Sectiune: {{candidate.domain.name}}</div>
            </div>

            <div class="need-call2action">
                <a class="button is-flex has-background-success has-text-weight-bold has-text-white" href="{% url 'candidate-detail' candidate.pk %}">
                    {% trans "View details" %}
                </a>
            </div>
        </div>


        <hr class="is-hidden-tablet" style="margin: 0 10%;" />
        <hr class="is-hidden-mobile half-width" />
        {% endfor %}
    </div>
    </div>

    {% include "shared/pagination.html" with page_obj=page_obj domain=current_domain %}

    {% else %}
    <div class="content is-medium">
        <!-- replace bellow trans with "No results matching query" when data is added -->
        <p style="text-align: center;">{% trans "Aici vei putea vedea candidaturile propuse de pentru Consiliul Economic și Social pe măsură ce ele devin publice." %}</p>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block content %}
{% with current_url=request.get_full_path %}
{{ block.super }}
{% endwith %}
{% endblock %}
