{% extends 'base.html' %}
{% load static %}
{% load spurl %}
{% load i18n %}

{% block content %}
<div class="search-wrapper container is-flex">
    <form action="{% url 'ngos' %}" method="GET">
        <div class="field border-b">
            <p class="control has-icons-right ">
                <input class="input search-input" type="text" name="q" value="{{ current_search }}" placeholder="{% trans 'Search...' %}">
                <label class="search-icon">
                    <span class="icon is-small is-right">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="submit" style="display: none;"/>
                </label>
            </p>
        </div>
    </form>
</div>

<div class="container">

    {% block extra-header %}

    <div class="container has-text-centered mb-50">
      <div class="columns is-centered">
        <div class="column is-two-thirds">
            <h1 class="section-title">
                {% trans "Elections CES/CESE 2020" %}
            </h1>
            <p class="section-text">
                {% trans "Platforma de vot electronic ce se adresează organizațiilor neguvernamentale, dedicată alegerilor Consiliului Economic și Social din România și din Uniuniea Europeană" %}
            </p>
        </div>
      </div>
    </div>

    {% endblock %}

    {% block domain-filters %}

    <div class="container mb-50">
        <div class="columns is-multiline">

            {% for domain in domains %}

            <div class="column is-4 filter">
            {% if current_domain.id == domain.id %}
                <div class="card-active">
                    <a href="{% spurl base='{{ current_url }}' remove_query_param='domain' remove_query_param='page' %}"
                       class="has-text-black is-flex">
            {% else%}
                <div class="card">
                    <a href="{% spurl base='{{ current_url }}' set_query='domain={{ domain.id }}' remove_query_param='page' %}"
                       class="has-text-black is-flex">
            {% endif %}
                        <span class="call-to-action">
                            <i class="far fa-check-circle"></i>
                        </span>
                        <div class="card-content">{{ domain.name }}</div>
                    </a>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>


    {% if current_domain %}
    <div class="container mb-50">
      <div class="columns is-centered">
        <div class="column is-two-thirds">
            <h1 class="domain-title">{{ current_domain.name }}</h1>
            <p class="domain-subtitle">{{ current_domain.description }}</p>
        </div>
      </div>
    </div>
    {% endif %}

    {% endblock %}

    <div class="columns is-centered">

        <div class="column is-two-thirds">
            {% block left-side-view %}
            {% endblock %}
        </div>

    </div>

</div>
{% endblock %}
