{% extends 'base.html' %}
{% load static %}
{% load spurl %}
{% load i18n %}

{% block content %}

<div class="container">

    {% block extra-header %}

    <div class="container has-text-centered mb-50">
      <div class="columns is-centered">
        <div class="column is-two-thirds">
            <h1 class="section-title">
                {% trans "Elections CES/CESE 2020" %}
            </h1>
            <p class="section-text">
                {% trans "Platforma de vot electronic ce se adresează organizațiilor neguvernamentale, dedicată alegerilor Consiliului Economic și Social din România și din Uniuniea Europeană" %}
            </p>
        </div>
      </div>
    </div>

    {% endblock %}

    {% block domain-filters %}
    {% endblock %}

    <div class="columns is-centered section">
      <div class="column is-two-thirds">
          {% block left-side-view %}
          {% endblock %}
      </div>
    </div>

</div>
{% endblock %}
