{% extends 'ngo/base.html' %}
{% load static i18n %}
{% load spurl guardian_tags %}
{% load social_share meta_tags hub_tags %}

{% block meta_tags %}
  {% if ngo.logo %}
    {% with title=ngo.name image=ngo.logo.url %}
      {% meta_tags %}
    {% endwith %}
  {% endif %}
{% endblock %}


{% block left-side-view %}
{% block extra-header %}
{% endblock %}
{% block domain-filters %}
{% endblock%}

{% get_obj_perms user for ngo as "user_permissions" %}

{% if ORG_APPROVAL_ENABLED and "approve_organization" in user_permissions and messages %}
    <article class="message is-danger">
    <div class="message-body">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    </article>
{% endif %}

<div class="container need is-flex">
    <div class="card-image need-logo is-hidden-mobile">
        {% if ngo.logo %}
        <img src="{{ ngo.logo.url }}" alt="{{ ngo.name }}">
        {% else %}
        <img src="{% static 'images/logo-demo.png' %}" alt="{{ ngo.name }}">
        {% endif %}
    </div>

    <div class="card-info">
        <div class="flex-align-center">
            <div class="card-image need-logo is-hidden-tablet">
                {% if ngo.logo %}
                <img src="{{ ngo.logo.url }}" alt="{{ ngo.name }}">
                {% else %}
                <img src="{% static 'images/logo-demo.png' %}" alt="{{ ngo.name }}">
                {% endif %}
            </div>
            <div class="need-title is-hidden-tablet">{{ ngo.name }}</div>
        </div>
        <div class="need-title is-hidden-mobile">{{ ngo.name }}</div>

        {% if "approve_organization" in user_permissions or "view_data_organization" in user_permissions %}
        <div class="need-description"><b>Stare aplicație: <span class="status-{{ngo.status}}">{% trans ngo.status.capitalize %}</span></b></div>
        {% endif %}
    </div>
</div>


<hr/>

<div class="container detail-desc">

    {% if ngo.description %}
    <p class="label">Scurta descriere:</p>
    {{ ngo.description|linebreaks }}
    <hr>
    {% endif %}

    <div class="detail-desc-title">
        <span class="ngo-colorblock"></span>
        Informații generale
    </div>

    <p><span class="label">Numele organizației:</span> {{ ngo.name }}</p>
    <p><span class="label">Email:</span> {{ ngo.email }}</p>
    {% if "approve_organization" in user_permissions or "view_data_organization" in user_permissions %}
    <p><span class="label">Telefon:</span> {{ ngo.phone }}</p>
    {% endif %}
    <p><span class="label">Județ:</span> {{ ngo.city.county }}</p>
    <p><span class="label">Localitate:</span> {{ ngo.city.city }}</p>
    <p><span class="label">Adresa fizică:</span> {{ ngo.address }}</p>
    <p><span class="label">Număr înregistrare în Registrul Asociațiilor și Fundațiilor:</span> {{ ngo.registration_number }}</p>

    <div class="detail-desc-title">
        <span class="ngo-colorblock"></span>
        Reprezentant legal
    </div>

    <p><span class="label">Reprezentant legal:</span> {{ ngo.legal_representative_name }}</p>
    {% if "approve_organization" in user_permissions or "view_data_organization" in user_permissions %}
    <p><span class="label">Email reprezentant legal:</span> {{ ngo.legal_representative_email }}</p>
    {% if ngo.legal_representative_phone %}
    <p><span class="label">Telefon:</span> {{ ngo.legal_representative_phone }}</p>
    {% endif %}
    {% endif %}
    <p><span class="label">Președintele organizației:</span> {{ ngo.organisation_head_name }}</p>
    <p><span class="label">Membrii Consiliului Director:</span> {{ ngo.board_council }}</p>

    <div class="detail-desc-title">
        <span class="ngo-colorblock"></span>
        {% trans "Documents" %}
    </div>

    {% if "approve_organization" in user_permissions or "view_data_organization" in user_permissions %}

      {% if ngo.last_balance_sheet %}
      <p>
          <span class="icon">
            <i class="fas fa-lock"></i>
          </span>
          <a href="{{ ngo.last_balance_sheet.url }}" title="{% trans 'First page of last balance sheet' %}">{% trans 'First page of last balance sheet' %}</a>
      </p>
      {% endif %}

      {% if ngo.statute %}
      <p>
          <span class="icon">
            <i class="fas fa-lock"></i>
          </span>
          <a href="{{ ngo.statute.url }}" title="{% trans 'NGO Statute' %}">{% trans 'NGO Statute' %}</a>
      </p>
      {% endif %}

      {% if ngo.fiscal_certificate %}
      <p>
          <span class="icon">
            <i class="fas fa-lock"></i>
          </span>
          <a href="{{ ngo.fiscal_certificate.url }}" title="{% trans 'Fiscal certificate' %}">{% trans 'Fiscal certificate' %}</a>
      </p>
      {% endif %}

    {% endif %}

    {% if ngo.report_2019 %}
    <p>
        <span class="icon">
          <i class="fas fa-lock"></i>
        </span>
        <a href="{{ ngo.report_2019.url }}" title="{% trans 'Yearly report 2019' %}">{% trans 'Yearly report 2019' %}</a>
    </p>
    {% endif %}

    {% if ngo.report_2018 %}
    <p>
        <span class="icon">
          <i class="fas fa-lock"></i>
        </span>
        <a href="{{ ngo.report_2018.url }}" title="{% trans 'Yearly report 2018' %}">{% trans 'Yearly report 2018' %}</a>
    </p>
    {% endif %}

    {% if ngo.report_2017 %}
    <p>
        <span class="icon">
          <i class="fas fa-lock"></i>
        </span>
        <a href="{{ ngo.report_2017.url }}" title="{% trans 'Yearly report 2017' %}">{% trans 'Yearly report 2017' %}</a>
    </p>
    {% endif %}

    {% if ngo.statement %}
    <p>
        <span class="icon">
          <i class="fas fa-lock"></i>
        </span>
        <a href="{{ ngo.statement.url }}" title="{% trans 'Statement' %}">{% trans 'Statement' %}</a>
    </p>
    {% endif %}

    {% if ngo.candidate and ngo.candidate.is_proposed %}
    <div class="detail-desc-title">
        <span class="ngo-colorblock"></span>
        Candidat
    </div>

    <p><span class="label">Candidat:</span> <a href="{% url 'candidate-detail' ngo.candidate.id %}">{{ ngo.candidate.name }}</a></p>
    {% endif %}
</div>

{% if ORG_APPROVAL_ENABLED and "approve_organization" in user_permissions %}

<hr>

<div class="container detail-desc">

{% if ngo.status == 'rejected' %}
  <p class="label">Motivul respingerii:</p>
  {{ ngo.rejection_message|linebreaks }}
{% elif ngo.status == 'pending' %}
  <div class="buttons vote-org-buttons">
    <a href="{% url 'ngo-vote' ngo.id 'a' %}" id="action-approve" class="button is-success vote-org-button">Aprobă</a>
    <a href="{% url 'ngo-vote' ngo.id 'r' %}" id="action-reject" class="button is-danger vote-org-button">Respinge</a>
  </div>

  <article id="reject-org-error" class="message is-danger" style="display: none;">
    <div class="message-body">Trebuie să completezi un motiv de respingere. Acesta va fi trimis prin email organizației.</div>
  </article>
  <textarea id="rejection-message" name="rejection_message" class="textarea" placeholder="Scrie aici motivul respingerii. Acesta va fi trimis prin email organizației."></textarea>

  <script>
  $( document ).ready(function() {
    $( ".vote-org-button" ).on( "click", function( event ) {
      var action = $( this ).attr("id");
      var message = $( "#rejection-message" ).val();

      if ( action === "action-approve" ) {
        return window.confirm("Esti sigur ca vrei sa APROBI aceasta organizatie? Actiunea este ireversibila!");
      } else if ( action === "action-reject" ) {
        if ( message.length > 0 ) {
          $( this ).attr( "href" , "{% url 'ngo-vote' ngo.id 'r' %}?rejection-message=" + encodeURIComponent(message));
          return window.confirm("Esti sigur ca vrei sa RESPINGI aceasta organizatie? Actiunea este ireversibila!");
        } else {
          $( "#reject-org-error" ).show();
          return false;
        }
      }

      return false;
    });
  });
  </script>
{% endif %}

</div>

{% endif %}

{% comment %}
{% social_buttons obj=ngo %}
{% endcomment %}

{% endblock %}

{% block content %}
{% url "ngos" as ngos %}
{% with current_url=ngos %}
{{ block.super }}
{% endwith %}
{% endblock %}
