{% extends 'ngo/base.html' %}
{% load static %}
{% load spurl %}
{% load i18n %}


{% block left-side-view %}

<div class="search-wrapper container is-flex">
    <form action="{% url 'ngos' %}" method="GET">
        <div class="field border-b">
            <p class="control has-icons-right ">
                <input class="input search-input" type="text" name="q" value="{{ current_search }}"
                    placeholder="{% trans 'Search...' %}">
                <label class="search-icon">
                    <span class="icon is-small is-right">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="submit" style="display: none;" />
                </label>
            </p>
        </div>
    </form>
</div>

<h2 class="section-title uppercase">
    {% trans "Registered organisations" %}
</h2>

<!-- <div class="container filter-container">
    <div class="columns is-mobile">
        <div class="column">
            <div class="columns">
                <div class="column is-narrow filter-dropdown is-marginless">
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu1">
                                {% if current_county %}
                                <span>{{ current_county }}</span>
                                {% else %}
                                <span>{% trans "County" %}</span>
                                {% endif %}
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>

                        <div class="dropdown-menu" id="dropdown-menu1" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-item">
                                    <a href="{% spurl base='{{ request.get_full_path }}' remove_query_param='county' remove_query_param='page' %}"
                                        class="dropdown-item">
                                        {% trans "All" %}
                                    </a>
                                </div>
                                {% for county in counties %}
                                <div class="dropdown-item">
                                    <a href="{% spurl base='{{ request.get_full_path }}' set_query='county={{ county }}' remove_query_param='city' remove_query_param='page' %}"
                                        class="dropdown-item {% if county == current_county %}is-active{% endif %}">
                                        {{ county }}
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-narrow filter-dropdown is-marginless">
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                                {% if current_city %}
                                <span>{{ current_city_name }}</span>
                                {% else %}
                                <span>{% trans "City" %}</span>
                                {% endif %}
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>

                        <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-item">
                                    <a href="{% spurl base='{{ request.get_full_path }}' remove_query_param='city' remove_query_param='page' %}"
                                        class="dropdown-item">
                                        {% trans "All" %}
                                    </a>
                                </div>
                                {% for city_id, city_name in cities %}
                                <div class="dropdown-item">
                                    <a href="{% spurl base='{{ request.get_full_path }}' set_query='city={{ city_id }}' remove_query_param='page' %}"
                                        class="dropdown-item {% if city_id == current_city %}is-active{% endif %}">
                                        {{ city_name }}
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="column">
            <div class="columns">
                <div class="column is-hidden-mobile">
                    <a class="button is-link is-outlined" href="{% url 'ngos' %}">{% trans "Reset filters" %}</a>
                </div>
            </div>
        </div>
    </div>

    <a class="button is-link is-outlined is-hidden-tablet" href="{% url 'ngos' %}">
        {% trans "Reset filters" %}
    </a>

</div> -->

<script>
    window.onload = function () {
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onAfterPageLoad: function (items) {
                var more_link = $('.infinite-more-link')[0];
                if (more_link === undefined) {
                    // Waypoint.Infinite removes the anchor with the above class
                    // after performing the last request.
                    //
                    // so at this point, we know there are no more items that can be loaded,
                    // so we remove the pagination nav
                    $('nav.pagination').remove()
                }
            }
        })
    };
</script>

<div class="container">
    {% if page_obj %}

    <div class="is-multiline infinite-container">
        {% for ngo in page_obj %}

        <div class="need is-flex container infinite-item">
            <div class="card-image need-logo is-hidden-mobile">
                {% if ngo.logo %}
                <img src="{{ ngo.logo.url }}" alt="{{ ngo.name }}">
                {% else %}
                <img src="{% static 'images/logo-demo.png' %}" alt="{{ ngo.name }}">
                {% endif %}
            </div>

            <div class="card-info">
                <div class="flex-align-center">
                    <div class="card-image need-logo is-hidden-tablet">
                        {% if ngo.logo %}
                        <img src="{{ ngo.logo.url }}" alt="{{ ngo.name }}">
                        {% else %}
                        <img src="{% static 'images/logo-demo.png' %}" alt="{{ ngo.name }}">
                        {% endif %}
                    </div>
                    <div class="need-title is-hidden-tablet">{{ngo.name}}</div>
                </div>
                <div class="need-title is-hidden-mobile">
                    <a class="has-text-black" href="{% url 'ngo-detail' ngo.pk %}">{{ngo.name}}</a>
                </div>
                {% comment %}
                <div class="need-description is-hidden-mobile">{% trans 'Founders' %}: {{ngo.founders}}</div>
                <!-- <div class="need-description is-hidden-mobile">{% trans 'Domain' %}: {{ngo.domain}}</div> -->
                <!-- <div class="need-description is-hidden-mobile"><b>Stare aplicație: <span
                            class="status-{{ngo.status}}">{% trans ngo.status.capitalize %}</span></b></div> -->
                {% endcomment %}
            </div>

            <div class="need-call2action">
                <a class="button is-flex has-background-success has-text-weight-bold has-text-white"
                    href="{% url 'ngo-detail' ngo.pk %}">
                    Vizualizează
                </a>
            </div>

        </div>
        <hr class="is-hidden-tablet" style="margin: 0 10%;" />
        <hr class="is-hidden-mobile half-width" />
        {% endfor %}
    </div>

    {% include "shared/pagination.html" with page_obj=page_obj domain=current_domain %}

    {% else %}
    <div class="content is-medium">
        <p style="text-align: center;">{% trans "No results matching query" %}</p>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block content %}
{% with current_url=request.get_full_path %}
{{ block.super }}
{% endwith %}
{% endblock %}
