{% extends 'ngo/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block domain-filters %}
{% endblock domain-filters %}

{% block extra-header %}
{% endblock extra-header %}

{% block left-side-view %}

<h2 class="title border-b uppercase">{% trans "Register organization" %}</h2>

<div class="container">
    {% if messages %}
        <article class="message is-success">
        <div class="message-body">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        </article>
    {% else %}
        <form class="ces-form" method="post" enctype="multipart/form-data" >
            {% csrf_token %}

            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
            <article class="message is-danger"><div class="message-body">Erori "{{ hidden_field.label }}": {{ hidden_field.errors }}</div></article>
            {% endif %}
            {% endfor %}

            {% for field in form %}
            {% if field.errors %}
            <article class="message is-danger"><div class="message-body">Erori "{{ field.label }}": {{ field.errors }}</div></article>
            {% endif %}
            {% endfor %}

            {{ form|crispy }}

            <div class="has-text-right">
              <input class="button is-success is-medium" type="submit" value='{% trans "Send registration request" %}'>
            </div>
        </form>
    {% endif %}
</div>

<script>
$( document ).ready(function() {
  $("#file-input-logo").attr("required", true);
  $("#file-input-last_balance_sheet").attr("required", true);
  $("#file-input-statute").attr("required", true);
});
</script>

{% endblock %}
