# django
django-debug-toolbar~=4.4.6
django-extensions~=3.2.3
werkzeug~=3.0.4

# tests
faker~=30.3.0

## make sure to sync these with the ../.pre-commit-config.yaml file
ruff~=0.6.9
black~=24.10.0

# utils
ipython~=8.28.0
pdbpp~=0.10.3

# dependency manangement
pip-tools~=7.4.1

# testing
pytest~=8.3.3
pytest-django~=4.9.0
pytest-xdist~=3.6.1
pytest-cov~=5.0.0

# debugging
debugpy~=1.8.7

-r requirements.txt
