# django
django-debug-toolbar~=4.3.0
django-extensions~=3.2.2
werkzeug~=3.0.2

# tests
faker~=24.14.0

## make sure to sync these with the ../.pre-commit-config.yaml file
ruff~=0.3.7
black~=24.3.0

# utils
ipython~=8.24.0
pdbpp~=0.10.3

# dependency manangement
pip-tools~=7.4.1

-r requirements.txt