# django and related
django~=4.2.16
django-avatar~=8.0.1
django-environ~=0.11.2
django-crispy-forms~=2.3
django-allauth[socialaccount]~=65.0.2

# job scheduler
django-q2~=1.7.2
blessed~=1.20.0  # optional requirement for django-q2
psutil~=6.0.0  # optional requirement for django-q2
croniter~=3.0.3  # optional requirement for django-q2

# django-crispy-bulma~=0.2.0  # TODO: scrap this as it's abandonware
django-admin-autocomplete-filter~=0.7.1
django-spurl~=0.6.8
django-storages~=1.14.4
django-recaptcha~=4.0.0
django-file-resubmit~=0.5.2
django-admin-rangefilter~=0.13.2
django-model-utils~=5.0.0
django-impersonate~=1.9.2
django-guardian~=2.4.0
django-tinymce~=4.1.0
django-import-export~=4.1.1

# file handling
boto3~=1.35.39
pillow~=10.4.0
whitenoise~=6.7.0
brotlipy~=0.7.0

# misc
requests~=2.32.3
django-ses~=4.2.0

pycognito~=2024.5.1

# database
psycopg2-binary~=2.9.9

# prod packages
gunicorn~=23.0.0
gevent~=24.10.2
sentry-sdk[django]~=2.16.0
