{% extends 'ngo/base.html' %}
{% load static %}
{% load spurl %}
{% load i18n %}


{% block domain-filters %}
{% endblock domain-filters %}

{% block extra-header %}
{% include "partials/ces_header.html" %}
{% endblock %}

{% block left-side-view %}

{% include "committee/partials/nav.html" with active='ngos' %}

<div class="container">
    <h2 class="title border-b uppercase">{% trans 'Pending Organisations' %}</h2>

    {% if page_obj %}

    <div class="columns is-multiline">
        {% for ngo in page_obj %}
        <div class="need is-flex container">
            <div class="card-info">
                <div class="flex-align-center">
                    <div class="card-image need-logo is-hidden-tablet">
                        {% if ngo.logo %}
                            <img src="{{ ngo.logo.url }}" alt="{{ ngo.name }}">
                        {% else %}
                            <img src="{% static 'images/logo-demo.png' %}" alt="{{ ngo.name }}">
                        {% endif %}
                    </div>
                    <div class="need-title is-hidden-tablet">{{ngo.name}}</div>
                </div>
                <div class="need-title is-hidden-mobile">
                    <a class="has-text-black" href="{% url 'ngo-detail' ngo.pk %}">{{ngo.name}}</a>
                </div>
            </div>

            <div class="">
                {{ ngo.created }}
            </div>

            <div class="need-call2action">
                <a class="button is-flex has-background-warning has-text-weight-bold has-text-black" href="{% url 'ngo-detail' ngo.pk %}">
                    Vizualizează
                </a>
            </div>

        </div>
        <hr class="is-hidden-tablet" style="margin: 0 10%;" />
        <hr class="is-hidden-mobile half-width" />
        {% endfor %}
    </div>

    {% include "shared/pagination.html" with page_obj=page_obj domain=current_domain %}

    {% else %}
    <div class="content is-medium">
        <p style="text-align: center;">{% trans "No results matching query" %}</p>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block content %}
{% with current_url=request.get_full_path %}
{{ block.super }}
{% endwith %}
{% endblock %}
