{% extends 'hub/ngo/base.html' %}
{% load static %}
{% load spurl %}
{% load i18n %}


{% block left-side-view %}

  <div class="search-wrapper container is-flex">
    <form action="{% url 'ngos' %}" method="GET">
      <div class="field border-b">
        <p class="control has-icons-right ">
          <input
            class="input search-input"
            type="text"
            name="q"
            value="{{ current_search }}"
            aria-label="{% trans 'Search...' %}"
            placeholder="{% trans 'Search...' %}">
          <span class="icon is-small is-right">
                <i class="fas fa-search" aria-label="search-icon"></i>
            </span>
          <input
            type="submit"
            style="display: none;"
            aria-label="{% trans 'Search...' %}"
          />
        </p>
      </div>
    </form>
  </div>


  {% trans "Registered organizations" as section_title %}

  {% if page_obj and VOTING_DOMAIN_ENABLED %}

    {% include "hub/ngo/components/expandable_voting_domains.html" with section_title=section_title %}

  {% else %}

    <h2 class="section-title uppercase">
      {{ section_title }} ({{ counters.ngos_accepted }})
    </h2>

  {% endif %}


  <div class="container">
    {% if page_obj %}

      <div class="is-multiline infinite-container">

        {% if VOTING_DOMAIN_ENABLED %}
          {% include "hub/ngo/components/ngos_listing_by_voting_domain.html" %}
        {% else %}
          {% include "hub/ngo/components/ngos_listing.html" %}
        {% endif %}

      </div>

      {% include "hub/shared/pagination.html" with page_obj=page_obj domain=current_domain %}

    {% else %}
      <div class="content is-medium">
        <p style="text-align: center;">{% trans "No results matching query" %}</p>
      </div>
    {% endif %}
  </div>

{% endblock %}

{% block content %}
  {% with current_url=request.get_full_path %}
    {{ block.super }}
  {% endwith %}
{% endblock %}
