{% extends 'hub/ngo/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block domain-filters %}
{% endblock domain-filters %}

{% block extra-header %}
{% endblock extra-header %}

{% block left-side-view %}

  {% if organization %}

    <div class="tabs is-medium">
      <ul>
        <li class="is-active">
          <a href="{% url 'ngo-update' organization.id %}">Profilul organizației</a>
        </li>
        <li>
          {% if organization.candidate %}
            <a href="{% url 'candidate-update' organization.candidate.id %}">Candidatura mea</a>
          {% elif CANDIDATE_REGISTRATION_ENABLED %}
            <a href="{% url 'candidate-register-request' %}">Adaugă candidatură</a>
          {% endif %}
        </li>
        <li>
          <a href="{% url 'votes' %}">Voturile mele</a>
        </li>
        {% if not user.is_ngohub_user %}
          <li {% if active == "settings" %}class="is-active"{% endif %}>
            <a href="{% url 'account-password-reset' %}">{% trans 'Settings' %}</a>
          </li>
        {% endif %}
      </ul>
    </div>

  {% endif %}

  <h2 class="title border-b uppercase">Profilul organizației</h2>

  {% if organization.status == 'accepted' %}
    <a href="{% url 'ngo-detail' organization.id %}">Vezi profilul public al organizației</a>
    {% if not CANDIDATE_REGISTRATION_ENABLED %}
      |
      <strong>
        Actualizarea datelor se poate face doar contactând
        <a href="mailto:{{ contact_email }}">administratorii platformei</a>
      </strong>
    {% endif %}
    <br><br>
  {% endif %}

  <div class="container">
    {% if messages %}
      <article class="message is-success">
        <div class="message-body">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      </article>
    {% endif %}

    {% if not organization.is_fully_editable %}
      <div class="message {{ update_status }}">
        <div class="message-body flex-align-center">
          <form
            id="update-ngo-form"
            method="post"
            action="{% url 'ngo-update-post' organization.id %}?return_url={{ request.path }}">
            {% csrf_token %}
            <button
              class="button {{ update_status }} is-small update-ngo-button"
              type="submit"
              title="{% trans 'Refresh NGO Information' %}">
              <i class="fas fa-sync"></i>
            </button>
          </form>

          {% if organization.status == "pending" %}
            <h4 style="padding-right: 2rem" class="is-danger">
              {% trans "Some data wasn't found on NGO Hub." %}
            </h4>
          {% endif %}

          <p class="has-text-grey-dark">
            <strong>
              {% trans "Update organization's profile" %}
            </strong>
            ({% trans "Some data in this organization's profile can only be updated through NGO Hub." %})
          </p>
        </div>
      </div>

      <form class="ces-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
          {% if hidden_field.errors %}
            <article class="message is-danger">
              <div class="message-body">Erori "{{ hidden_field.label }}": {{ hidden_field.errors }}</div>
            </article>
          {% endif %}
        {% endfor %}

        {% for field in form %}
          {% if field.errors %}
            <article class="message is-danger">
              <div class="message-body">Erori "{{ field.label }}": {{ field.errors }}</div>
            </article>
          {% endif %}
        {% endfor %}

        {{ form|crispy }}

        <div class="has-text-right">
          <input class="button is-success" type="submit" value='{% trans "Update organization" %}'>
        </div>

      </form>
    {% endif %}
  </div>
{% endblock %}
