{% load static i18n %}

<div class="container section">
  <h1 class="title  has-text-centered">
    Alegeri Comisia Electorală a platformei VotONG
  </h1>

  <p class="subtitle" style="margin: 0 10%">
    VotONG este o platformă care facilitează procesul de desemnare a reprezentanților societății civile în diferite
    instituții publice precum Consiliul Economic și Social, Consiliul Național pentru Combaterea Discriminării (CNCD),
    Consiliul Suprem al Magistraturii ș.a. Prin VotONG, orice ONG din România care este înscris pe platformă poate
    nominaliza candidați, poate susține candidaturi și poate vota, printr-un mecanism ușor, auditabil și transparent.
  </p>

  <p class="subtitle border-b" style="margin: 0 10%">
    Este o perioadă importantă pentru societatea civilă care dorește ca alegerile reprezentanților săi în forurile
    consultative să rămână transparente. Pentru acest lucru este important ca mecanismele de selecție să fie organizate,
    coordonate și verificate de reprezentanți relevanți, așadar derulăm în această perioadă alegerile pentru Comisia
    Electorală. Pentru a vedea care este rolul unei organizații în Comisia Electorală și care sunt criteriile de
    aplicare consultați regulamentul de mai jos.
  </p>


</div>

<div class="section has-text-centered">
  <a href="{% url 'methodology' %}" class="button is-warning">Metodologie</a>
  {% if RESULTS_ENABLED %}
    <a href="{% url 'results' %}" class="button is-warning">Rezultate finale</a>
  {% endif %}
</div>
