{% extends 'ngo/base.html' %}
{% load social_share  %}
{% load static %}
{% load spurl %}
{% load i18n %}


{% block content %}
<div class="container">
    {% block left-side-view %}
    <div class="container tight-container content mb-50">
        <h1>
            Despre proiect
        </h1>

        <p>
            VotONG este platforma prin care societatea civilă își va putea alege reprezentanții transparent,
            printr-un proces electiv bazat pe o participare deschisă a cât mai multor ONG-uri.
            Platforma permite organizarea de runde electorale în care organizațiile neguvernamentale pot
            nominaliza proprii candidați, pot susține deschis o candidatură sau alta și pot vota în cadrul
            alegerilor deschise prin acest sistem.
        </p>

        <p>
            Validarea organizațiilor este un proces anual care va ajuta întregul sector să mențină facil și o bază de
            date dinamică în care se regăsesc majoritatea organizațiilor active din România.
        </p>

        <p>
            Prima rundă de alegeri organizată prin platforma VotONG este cea dedicată propunerii reprezentanților
            societății civile în Comitetul Economic și Social (CES). Prin intermediul acestei platforme venim în
            sprijinul sectorului pentru a asigura alegerea pe criterii clare a reprezentanților care vor fi
            propuși spre a ocupa cele 15 fotolii disponibile în CES.
        </p>

        <p>
            Dincolo de importanța majoră a prezenței în CES, locul în care sunt avizate (cu rol consultativ) toate
            propunerile legislative, este esențial să marcăm faptul că anul 2020 este cu atât mai relevant cu cât este
            pentru prima dată când conducerea Comitetului Economic și Social ajunge, prin rotație, să fie asigurată de
            unul din cei 15 reprezentanți ai sectorului în acest organism. Este un moment în care sectorul ONG din
            România are șansa de a demonstra, din nou, gradul ridicat de profesionalism și competențele sale la cel mai
            înalt nivel.
        </p>

        <p>
            Asigurarea reprezentativității societății civile este extrem de importantă, pentru a ne putea face vocile
            auzite în momentul luării de decizii care pot influența întreaga societate.
        </p>

        <p>
            VotONG este dezvoltată de Code for Romania în parteneriat cu Fundația pentru Dezvoltarea Societății Civile
            și Academia de Advocacy.
        </p>

        <div class="columns is-mobile is-multiline is-centered">
            <div class="column is-6-mobile is-4-tablet is-3-desktop is-paddingless">
                <img src="{% static "images/academiadeadvocacy.png" %}" alt="Academia de Advocacy logo">
            </div>
            <div class="column is-6-mobile is-4-tablet is-3-desktop is-paddingless">
                <img src="{% static "images/fundatiapentrudezvoltareasocietatiicivile.png" %}"
                    alt="Fundația pentru dezvoltarea societății civile logo">
            </div>
            <div class="column is-6-mobile is-4-tablet is-3-desktop is-paddingless">
                <img src="{% static "images/codeforromania.png" %}" alt="Code for Romania logo">
            </div>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}
