{% extends 'ngo/base.html' %}
{% load social_share  %}
{% load static %}
{% load spurl %}
{% load i18n %}


{% block content %}
<div class="container">

    <div class="container section has-text-centered">
        <h1 class="title">
            Despre VotONG
        </h1>

        <p class="subtitle border-b" style="margin: 0 10%">
            VotONG este platforma prin care societatea civilă își va putea alege reprezentanții transparent, printr-un
            proces electiv bazat pe o participare deschisă a cât mai multor ONG-uri.
        </p>
    </div>

    {% block left-side-view %}
    <div class="container tight-container content mb-50">
        <p>
            În cadrul programului de cercetare și proiectare de soluții derulat de Code for Romania ne-am aplecat
            atenția asupra sectorului neguvernamental pentru a identifica punctele nevralgice ale societății civile și
            pentru a interveni cu soluții digitale acolo unde putem produce o schimbare în bine. Adesea proiectăm
            soluții care digitalizează procese și care simplifică proceduri și mecanici care au nevoie de eficientizare,
            dar în multe dintre cazuri venim cu propuneri de soluții care răspund nevoii de a construi instrumente
            complet noi care rezolvă probleme cu sprijinul tehnologiei.
        </p>

        <p>
            Soluția pe care o utilizați chiar în acest moment este o platformă care răspunde nevoii de creștere a
            legitimității reprezentanților prin mecanisme clare și transparente de alegere a vocilor care duc mai
            departe misiunile sectorului în forurile de decizie. VotONG este, așadar, mecanismul de autoreglementare
            prin care societatea civilă își alege propunerile de reprezentanți în instituții publice.
        </p>

        <p>
            Prin acest mecanism transparent, auditabil, deschis tuturor organizațiilor societății civile ne dorim
            desemnarea unor persoane cu o mai mare reprezentativitate și legitimitate astfel încât instituțiile în care
            își vor desfășura activitatea vor deveni mai funcționale. De aceea vă adresăm invitația de a ne însoți în
            acest demers pentru că împreună putem declanșa schimbările pozitive pe care ni le dorim pentru societatea
            românească.
        </p>

        <div class="columns is-vcentered">
            <div class="column">VotONG este proiectat de Code for Romania în Civic Labs și dezvoltat pro-bono de către
                voluntarii
                organizației noastre. Acest proiect nu are nicio altă sursă de finanțare și este administrat în
                întregime din donațiile voastre.</div>
            <div class="column is-6-mobile is-4-tablet is-3-desktop is-paddingless">
                <img src="{% static "images/tfsg.svg" %}" alt="Tech for Social Good logo">
            </div>
        </div>

        <p>
            VotONG este o platformă care deservește alegerea reprezentanților societății civile în forurile consultative
            prevăzute de lege precum și orice alte funcțiuni de reprezentare pentru societatea civilă.
        </p>

        <p>
            Astfel că, aici, prin mecanicile configurate în platformă și conform cu regulamentul acesteia se vor
            organiza alegeri libere pentru desemnarea candidaților care vor fi propuși spre numire în forurile
            consultative prevăzute de legislații specifice, în vigoare, cum ar fi: Consiliul Economic și Social (CES),
            Comitetul Economic și Social European (CESE), Consiliul Național pentru Combaterea Discriminării (CNCD),
            Consiliul Superior al Magistraturii, Consiliul Național de Integritate, Comitetele de monitorizare pe
            diferite domenii (ex: monitorizarea absorbției și implementării fondurilor structurale) și altele.
        </p>

        <p>
            VotONG este dezvoltată de Code for Romania în parteneriat cu Fundația pentru Dezvoltarea Societății Civile
            și Academia de Advocacy.
        </p>

        <div class="columns is-mobile is-multiline is-centered">
            <div class="column is-6-mobile is-4-tablet is-3-desktop is-paddingless">
                <img src="{% static "images/academiadeadvocacy.png" %}" alt="Academia de Advocacy logo">
            </div>
            <div class="column is-6-mobile is-4-tablet is-3-desktop is-paddingless">
                <img src="{% static "images/fundatiapentrudezvoltareasocietatiicivile.png" %}"
                    alt="Fundația pentru dezvoltarea societății civile logo">
            </div>
            <div class="column is-6-mobile is-4-tablet is-3-desktop is-paddingless">
                <img src="{% static "images/codeforromania.png" %}" alt="Code for Romania logo">
            </div>
        </div>

        <p>Pentru a consulta regulamentul de functionare al platformei VotONG, te rugam sa accesezi <a
                href="{% url 'platform_rules' %}">acest link</a>.</p>
    </div>
    {% endblock %}
</div>
{% endblock %}