{% load static %}
{% load meta_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}VotONG{% endblock %}</title>
    <meta name="description" content="" />

    {% block meta_tags %}{% with title="VotONG" %}{% meta_tags %}{% endwith %}{% endblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&subset=latin-ext">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{% static "css/bulma-collapsible.min.css" %}">
    <link rel="stylesheet" href="{% static "css/colors.css" %}">
    <link rel="stylesheet" href="{% static "css/sizing.css" %}">
    <link rel="stylesheet" href="{% static "css/footer.css" %}">
    <link rel="stylesheet" href="{% static "css/hub.css" %}">

    {% block styles %}{% endblock %}

    {% include "favicons.html" %}

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{% static 'js/bulma-collapsible.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script src="{% static "js/main.js" %}"></script>

    {% if ANALYTICS_ENABLED %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179396450-1"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-179396450-1'); </script>

    {% endif %}

</head>

<body>
    {% include "header.html" %}

    <div id="main">
        {% block content %}
        {% endblock %}
    </div>

    {% include "footer.html" %}
</body>

</html>
