{% extends 'ngo/base.html' %}
{% load social_share  %}
{% load static %}
{% load spurl %}
{% load i18n %}


{% block content %}
<div class="container">
    {% block left-side-view %}
    <div class="container tight-container content mb-50">
        <h1>
            București, 24.12.2020
        </h1>
        <h1>
            În atenția: Domnului Florin Cîțu, Prim Ministrul României 
        </h1>

        <p>
            Asociația Code for Romania, împreună cu Fundația pentru Dezvoltarea Societății Civile, Academia de Advocacy, Centrul de Resurse pentru Participare Publică, Federația Fundațiilor Comunitare și Centrul de Resurse pentru Comunitățile de Romi au organizat pe platforma VotONG <b>alegeri pentru desemnarea reprezentanților societății civile în Consiliul Economic și Social (CES)</b>, grupul solicitând, de asemenea, Secretariatului General al Guvernului să se alăture sectorului în acest demers. 
        </p>

        <p>
            Secretariatul General al Guvernului a achiesat la mecanismul VotONG, declarând în propriul comunicat că nu va face numiri în Consiliul Economic și Social în afara listei de candidați validați, propuși de organizații care respectă criteriile de eligibilitate specificate în <a href="https://votong.ro/ro/regulament/" target="_blank">Regulamentul pentru alegerea reprezentanților societății civile în Consiliul Economic și Social (CES)</a>. Mai mult, SGG a adăugat criterii suplimentare condițiilor inițiale și a desemnat și un reprezentant al SGG în poziția de Președinte al Comisiei Electorale a VotONG, cu rol de supervizare. 
        </p>

        <p>
            Cu toate acestea, la <a href="http://www.monitoruloficial.ro/article--e-Monitor--339.html" target="_blank" rel="noopener noreferrer">publicarea deciziei 416 din Monitorul Oficial 1260/18.XII.2020</a>, târziu în seara de vineri, 18 decembrie 2020, în jurul orei 21.00, primul ministru interimar a numit ca membru în plenul CES, pe dl Horia Nicolescu Mihai. Acesta și organizația pe care o reprezintă (Asociația pentru Securitate la Incendiu) nu a parcurs rigorile procesului de validare și selecție conform regulamentului agreat de societatea civilă și SGG și nu îndeplinește criteriile specificate în acesta. Numirea sa în plenul CES este astfel o încălcare directă a angajamentului asumat de SGG. 
        </p>

        <p>
            Mai grav decât atât, dl Horia Nicolescu Mihai o înlocuiește în lista celor numiți de către premierul interimar pe dna Adriana Radu, președinte al Asociației Sexul vs Barza, care a candidat cu sprijinul Coaliției pentru Egalitate de Gen, și care a obținut 304 voturi, clasându-se a doua în domeniul protecției drepturilor omului și a șaptea în clasamentul total ca număr de voturi.
        </p>

        <p>
            Este un semn foarte grav de încălcare a unui acord și de ignorare a unui proces democratic, la care Guvernul României nu numai că a achiesat, dar a și participat prin reprezentantul său în Comisia Electorală, proces la care au luat parte un număr record de 788 de organizații din societatea civilă. 
        </p>

        <p>
            Reprezentanții societății civile din Comisia Electorală a VotONG, Fundația pentru Dezvoltarea Societății Civile, Academia de Advocacy, Centrul de Resurse pentru Participare Publică, Federația Fundațiilor Comunitare și Centrul de Resurse pentru Comunitățile de Romi, Asociația Code for Romania, <b>solicităm primului ministru remedierea acestei situații prin retragerea numirii domnului Horia Nicolescu Mihai și numirea doamnei Adriana Radu în plenul CES conform angajamentului asumat anterior</b>. 
        </p>

        <h2>
            Semnează:
        </h2>

        <p>
            Fundația pentru Dezvoltarea Societății Civile 
        </p>
        <p>
            Academia de Advocacy 
        </p>
        <p>
            Centrul de Resurse pentru Participare Publică 
        </p>
        <p>
            Federația Fundațiilor Comunitare
        </p>
        <p>
            Centrul de Resurse pentru Comunitățile de Romi
        </p>
        <p>
            Asociația Code for Romania
        </p>

        <hr />

        <p>
            Raportul complet al Comisiei Electorale, depus la Secretariatul General al Guvernului, impreuna cu dosarele complete ale candidaților validati, poate fi văzut <a href="https://drive.google.com/file/d/1v1lgF170r4nIgkZa03GpbU94X4UoyvAL/view?usp=sharing" target="_blank" rel="noopener noreferrer" >aici</a>. 
        </p>        
    </div>
    {% endblock %}
</div>
{% endblock %}