{% load static %}
{% load i18n %}

<footer>
    <div class="container">
        <div class="branding">
            <div>
                Soluție proiectată, dezvoltată și administrată de:
                <a href="https://code4.ro/ro/" target="_blank" rel="noopener noreferrer">
                    <img class="code4Ro-logo" src="{% static "images/code4romania-gray.svg" %}" alt="Code for Romania" />
                </a>
            </div>
        </div>

        <ul id="footer-links">
            <li><a href="{% url 'about' %}">{% trans "About VotONG" %}</a>
            <li><a href="{% url 'platform_rules' %}">{% trans "Platform rules" %}</a>
            <li><a href="{% url 'cookies'%}">{% trans "Privacy Policy" %}</a>
            <li><a href="{% url 'terms'%}">{% trans "Terms and conditions" %}</a>
            <li>
                <a href="#" class="button is-primary">{% trans "Get Involved" %}</a>
            </li>
        </ul>

        <p>
            Daca vrei să iei legătura cu noi o poți face pe e-mail la adresa:  <a href="mailto:contact@code4.ro">contact@code4.ro</a>
        </p>

        <ul id="footer-social">
            <li>
                <a href="https://www.facebook.com/code4romania/">
                    <img src="{% static "images/social/facebook.svg" %}" alt="Facebook" />
                </a>
            </li>
            <li>
                <a href="https://twitter.com/Code4Romania">
                    <img src="{% static "images/social/twitter.svg" %}" alt="Twitter" />
                </a>
            </li>
            <li>
                <a href="https://github.com/code4romania/votong/">
                    <img src="{% static "images/social/github.svg" %}" alt="GitHub repo" />
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/code4romania/">
                    <img src="{% static "images/social/linkedin.svg" %}" alt="LinkedIn" />
                </a>
            </li>
        </ul>
    </div>
</footer>

{% block extra-footer %}
{% endblock %}
