{% load static i18n %}
{% load avatar_tags %}
{% load hub_tags %}

<div class="navbar-container">
    <div class="h-padded-wrapper">
        <div class="container border-b">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{% url 'home' %}">
                        <img src="{% static "images/votong_by_c4ro.svg" %}" alt="VotONg logo" width="200">
                    </a>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                       data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-end has-text-centered-touch">
                        <a  href="{% url 'home' %}" class="navbar-item">
                            {% trans "Home" %}
                        </a>

                        <a  href="{% url 'about' %}" class="navbar-item">
                            {% trans "About the platform" %}
                        </a>

                        <a  href="{% url 'ngos' %}" class="navbar-item">
                            {% trans "Organizations" %}
                        </a>

                        <a  href="{% url 'candidates' %}" class="navbar-item">
                            <!-- {% trans "History" %} -->
                            {% trans 'CES elections' %}
                        </a>

                        <a  href="{% url 'ngos-register-request' %}" class="navbar-item">
                            {% trans "Register your organisation" %}
                        </a>

                        <!-- <a  href="{% url 'candidates' %}" class="navbar-item">
                            {% trans "Candidates" %}
                        </a> -->

                        <!-- <a  href="{% url 'rules' %}" class="navbar-item">
                            {% trans "Metodology" %}
                        </a> -->



                        <div class="navbar-item">|</div>

                        {% if request.user.is_authenticated %}

                        {% avatar user 50 class="img-circle img-responsive nav-avatar" id="user_avatar" %}

                        {% if user|in_committee_or_staff_groups %}
                        <a href="{% url 'committee-ngos' %}" class="navbar-item">
                        {% elif user.orgs.exists %}
                        <a href="{% url 'ngo-update' user.orgs.first.id %}" class="navbar-item">
                        {% else %}
                        <a href="{% url 'account-password-reset' %}" class="navbar-item">
                        {% endif %}
                            {{ user.email|truncatechars:24 }}
                        </a>

                        <a href="{% url 'logout' %}" class="navbar-item">{% trans "Logout" %}</a>

                        {% if user.is_impersonate %}
                        <a  href="{% url 'impersonate-stop' %}" class="navbar-item" style="color:red; text-align:center;">
                            STOP IMPERSONATING<br>{{ request.user.email }}
                        </a>
                        {% endif %}

                        {% else %}

                        {% if ORG_REGISTRATION_ENABLED %}
                        <!-- <a  href="{% url 'ngos-register-request'%}" class="navbar-item">
                            {% trans "Register organization" %}
                        </a> -->
                        {% endif %}

                        <a  href="{% url 'login'%}" class="navbar-item">
                            {% trans "Login" %}
                        </a>
                        {% endif %}


                        {% comment %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_current_language as LANGUAGE_CODE %}
                        <div class="navbar-item">
                            <form class="d-inline" action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                                <div class="select">
                                    <select id="language" name="language" onchange="this.form.submit()">
                                        {% for language in LANGUAGES %}
                                        <option {% if language.0 == LANGUAGE_CODE %} selected {% endif %} name="language" value="{{language.0}}">{{language.0 | upper}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                        {% endcomment %}

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
