{% extends 'base.html' %}
{% load static %}
{% load spurl %}
{% load static i18n %}

{% block content %}

<div class="container section">
    <h1 class="title  has-text-centered">
        Istoric alegeri
    </h1>

    <p class="subtitle border-b has-text-centered" style="margin: 0 10%">
        Platforma VotONG a găzduit următoarele runde de alegeri.
    </p>

</div>
<div class="container">
    <div class="is-multiline infinite-container">

        <div class="is-flex container infinite-item">
            <div class="container tight-container content">

                <div class="flex-align-center">
                    <div class="need-title is-hidden-tablet">Alegeri Consiliul Economic și Social</div>
                </div>
                <div class="flex-align-center">
                    <div class="need-description is-hidden-tablet">
                        <p>Perioada 6 octombrie - 4 decembrie 2020</p>

                        <p><b>Câștigători</b></p>

                        <p><b>Organizații academice, profesionale, think-tank </b></p>
                        <ul>
                            <li>
                                <p>Ștefan Teișanu - Asociația Fapte</p>
                            </li>
                            <li>
                                <p>Cristian Hordilă - ASOCIATIA FESTIVALUL DE FILM TRANSILVANIA</p>
                            </li>
                        </ul>

                        <p><b>Organizații cooperatiste, agricole, de dezvoltare rurală </b></p>
                        <ul>
                            <li>
                                <p>Balogh Martin - Fundatia Civitas pentru Societatea Civila Cluj</p>
                            </li>
                            <li>
                                <p>GRIGORESCU SEVASTITA - UNIUNEA NATIONALA A COOPERATIEI MESTESUGARESTI - UCECOM</p>
                            </li>
                        </ul>

                        <p><b>Organizații din domeniul social </b></p>
                        <ul>
                            <li>
                                <p>Diana Chiriacescu - FONSS- Federatia Organizatiilor Neguvernamentale pentru Servicii
                                    Sociale</p>
                            </li>
                            <li>
                                <p>TONTSCH DANIELA - CONSILIUL NAȚIONAL AL DIZABILITĂȚII DIN ROMÂNIA</p>
                            </li>
                            <li>
                                <p>Daniela-Doina Bololoi - Asociatia Help Autism</p>
                            </li>
                        </ul>

                        <p><b>Organizații din domeniul sănătate, educație și tineri </b></p>
                        <ul>
                            <li>
                                <p>Horia-Șerban ONIȚA - Alianța Națională a Organizațiilor Studențești din România
                                    (ANOSR)</p>
                            </li>
                            <li>
                                <p>Mihai Dragoș - Federația Consiliul Tineretului din România</p>
                            </li>
                            <li>
                                <p>Mădălina Sava - Asociatia Psihologilor din Romania</p>
                            </li>
                        </ul>

                        <p><b>Organizații din domeniul protectiei mediului înconjurator, ecologiei, dezvoltării durabile
                            </b></p>
                        <ul>
                            <li>
                                <p>Corina Murafa - Fundatia Ashoka</p>
                            </li>
                        </ul>

                        <p><b>Organizații pentru protecţia drepturilor omului </b></p>
                        <ul>
                            <li>
                                <p>Bogdan Simion - Federatia Organizatiilor Neguvernamentale Pentru Copil - FONPC</p>
                            </li>
                            <li>
                                <p>Adriana Radu / Cu susținerea Coaliției pentru Egalitate de Gen - Asociația SEXUL vs
                                    BARZA</p>
                            </li>
                        </ul>

                        <a rel="noopener noreferrer"
                            href="https://ces2020.votong.ro/ro/candidates/ces-results">Regulamentul rundei de alegeri
                            CES 2020</a> și <a rel="noopener noreferrer"
                            href="https://ces2020.votong.ro/ro/candidates/ces-results">rezultatele detaliate</a> ale
                        acestei runde de alegeri pot fi vizualizate pe o copie a website-ului VotONG, creat pentru a
                        păstra intacte rundele de alegeri anterioare.
                    </div>
                </div>

                <div class="need-title is-hidden-mobile">
                    <a class="has-text-black" target="_blank" rel="noopener noreferrer"
                        href="https://ces2020.votong.ro/ro/candidates/ces-results">Alegeri Consiliul Economic și Social"</a>
                </div>
                <div class="need-description is-hidden-mobile">
                    <p>Perioada 6 octombrie - 4 decembrie 2020</p>

                    <p><b>Câștigători</b></p>

                    <p><b>Organizații academice, profesionale, think-tank </b></p>
                    <ul>
                        <li>
                            <p>Ștefan Teișanu - Asociația Fapte</p>
                        </li>
                        <li>
                            <p>Cristian Hordilă - ASOCIATIA FESTIVALUL DE FILM TRANSILVANIA</p>
                        </li>
                    </ul>

                    <p><b>Organizații cooperatiste, agricole, de dezvoltare rurală </b></p>
                    <ul>
                        <li>
                            <p>Balogh Martin - Fundatia Civitas pentru Societatea Civila Cluj</p>
                        </li>
                        <li>
                            <p>GRIGORESCU SEVASTITA - UNIUNEA NATIONALA A COOPERATIEI MESTESUGARESTI - UCECOM</p>
                        </li>
                    </ul>

                    <p><b>Organizații din domeniul social </b></p>
                    <ul>
                        <li>
                            <p>Diana Chiriacescu - FONSS- Federatia Organizatiilor Neguvernamentale pentru Servicii
                                Sociale</p>
                        </li>
                        <li>
                            <p>TONTSCH DANIELA - CONSILIUL NAȚIONAL AL DIZABILITĂȚII DIN ROMÂNIA</p>
                        </li>
                        <li>
                            <p>Daniela-Doina Bololoi - Asociatia Help Autism</p>
                        </li>
                    </ul>

                    <p><b>Organizații din domeniul sănătate, educație și tineri </b></p>
                    <ul>
                        <li>
                            <p>Horia-Șerban ONIȚA - Alianța Națională a Organizațiilor Studențești din România (ANOSR)
                            </p>
                        </li>
                        <li>
                            <p>Mihai Dragoș - Federația Consiliul Tineretului din România</p>
                        </li>
                        <li>
                            <p>Mădălina Sava - Asociatia Psihologilor din Romania</p>
                        </li>
                    </ul>

                    <p><b>Organizații din domeniul protectiei mediului înconjurator, ecologiei, dezvoltării durabile
                        </b></p>
                    <ul>
                        <li>
                            <p>Corina Murafa - Fundatia Ashoka</p>
                        </li>
                    </ul>

                    <p><b>Organizații pentru protecţia drepturilor omului </b></p>
                    <ul>
                        <li>
                            <p>Bogdan Simion - Federatia Organizatiilor Neguvernamentale Pentru Copil - FONPC</p>
                        </li>
                        <li>
                            <p>Adriana Radu / Cu susținerea Coaliției pentru Egalitate de Gen - Asociația SEXUL vs BARZA
                            </p>
                        </li>
                    </ul>

                    <p><a rel="noopener noreferrer" href="https://ces2020.votong.ro/ro/regulament/">Regulamentul rundei
                            de alegeri CES 2020</a> și <a rel="noopener noreferrer"
                            href="https://ces2020.votong.ro/ro/candidates/ces-results">rezultatele detaliate</a> ale
                        acestei runde de alegeri pot fi vizualizate pe o copie a website-ului VotONG, creat pentru a
                        păstra intacte rundele de alegeri anterioare.</p>

                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}
