{% extends "base.html" %}
{% load static %}
{% load spurl %}
{% load i18n %}

{% block styles %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
<link rel="stylesheet" href="{% static "css/home/alegeri-jumbotron.css" %}">
<link rel="stylesheet" href="{% static "css/home/alegeri-inscriere.css" %}">
<link rel="stylesheet" href="{% static "css/home/contact.css" %}">
<link rel="stylesheet" href="{% static "css/home/home.css" %}">
{% endblock %}

{% block content %}

<div class="container section has-text-centered">
    <h1 class="title">Vot ONG</h1>
    <p class="subtitle">
        VotONG este locul în care societatea civilă își va putea alege în mod transparent reprezentanții pentru a fi
        propuși în diferite organisme și foruri consultative din instituții-cheie pentru democrația românească.
        Platforma este o soluție digitală dezvoltată pro-bono, menită să aducă împreună societatea civilă din România
        și a-i pune la dispoziție un mecanism electoral simplu și eficient.
    </p>
</div>


<div class="section light-bg">
    <div class="container tight-container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="section-title">Despre proiect</h1>
                <p class="section-text">
                    VotONG este o platformă prin care societatea civilă își va putea alege reprezentanții transparent,
                    printr-un proces electiv bazat pe o participare deschisă a cât mai multor ONG-uri. Platforma permite
                    organizarea de runde electorale în care organizațiile neguvernamentale pot nominaliza proprii
                    candidați, pot susține deschis o candidatură sau alta și pot vota în cadrul alegerilor deschise prin
                    acest sistem.
                </p>

                <p class="section-text">
                    Validarea organizațiilor este un proces anual care va ajuta întregul sector să mențină facil și o
                    bază de date dinamică în care se regăsesc majoriatatea organizațiilor active din România.
                </p>

                <a href="{% url 'about' %}" class="button is-warning">Află mai multe</a>
            </div>
            <div class="column is-half">
                <img class="" src="{% static "images/about.svg" %}" alt="about">
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container tight-container">
        <h1 class="section-title">Cum funcționează</h1>
        <div class="tile is-ancestor has-text-centered">
            <div class="tile is-12 is-parent">
                <div class="tile is-child box">
                    <div class="box-icon">
                        <img src="{% static "images/1-inscriere.svg" %}" alt="Sign up icon" />
                    </div>
                    <p class="tile-title">Pasul 1: Înscrierea</p>
                    <p>
                        Fiecare ONG se poate înscrie în platformă cu ajutorul unui formular simplu disponibil în meniul
                        acestei platforme. Pentru a intra în VotONG există o serie de condiții prestabilite care
                        trebuiesc îndeplinite.
                    </p>
                </div>
                <div class="tile is-child box">
                    <div class="box-icon">
                        <img src="{% static "images/2-validare.svg" %}" alt="Validation icon" />
                    </div>
                    <p class="tile-title">Pasul 2: Validarea</p>
                    <p>
                        După înscriere fiecare ONG este validat. Administratorul platformei va verifica informațiile
                        prezentate în formularul completat și va contacta organizația dacă sunt necesare și alte
                        documente. </p>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor has-text-centered">
            <div class="tile is-12 is-parent">
                <div class="tile is-child box">
                    <div class="box-icon">
                        <img src="{% static "images/3-votare.svg" %}" alt="Vote icon" />
                    </div>
                    <p class="tile-title">Pasul 3: Votul</p>
                    <p>
                        Dacă există alegeri în curs, fiecare ONG care se califică, potrivit regulamentului fiecărei
                        runde, poate să propună candidaturi pentru a intra în cursa electorală. Organizațiile pot de
                        asemenea și să își exprime susținerea pentru candidați.
                    </p>
                </div>
                <div class="tile is-child box">
                    <div class="box-icon">
                        <img src="{% static "images/4-rezultate.svg" %}" alt="Results icon" />
                    </div>
                    <p class="tile-title">Step 4: Rezultate</p>
                    <p>
                        Rezultatele fiecărei runde de alegeri vor fi publicate pe platformă și anunțate prin e-mail
                        către toate organizațiile care au participat la runda de vot.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="alegeri-jumbotron">
    <div id="alegeri-icon">
        <i class="fas fa-user-tie"></i>
    </div>
    <div class="container">
        <h2 class="tile-title has-text-weight-bold">Alegeri CES 2020</h2>
        <p class="subtitle">
            Sesiune de vot electronic dedicată propunerii reprezentanților societății civile în Comitetul Economic și Social.
        </p>
        <div id="alegeri-buttons">
            <a href="{% url 'rules' %}" class="button is-warning">Regulament</a>
            <a href="{% url 'candidates' %}" class="button is-warning">Vezi detalii</a>
        </div>
    </div>
</div>

<div id="alegeri-inscriere" class="container">
    <h2 class="tile-title has-text-weight-bold">Vino alături de noi</h2>
    <div class="is-flex">
        <p>
            Asigurarea reprezentativității societății civile în forurile de decizie este extrem de importantă,
            pentru a putea să ne facem vocile auzite în momentul luării de hotărâri care pot influența întregul sector neguvernamental.
        </p>
        <a href="{% url 'ngos-register-request' %}" class="button is-warning">Îmi înscriu organizația</a>
    </div>
</div>

<hr />

<div id="contact" class="container tight-container">
    <div>
        <h3 class="tile-title">Intră în contact</h3>
        <p>
            Dacă vrei să iei legătura cu noi, pentru sugestii, propuneri de îmbunătățire sau dacă ai întrebări,
            atunci te rugăm să folosești formularul alăturat.
        </p>
        <p>
            Platforma VotONG este dezvoltată pro-bono de Asociația Code for Romania și este parte dintr-un
            ecosistem larg de soluții dedicate societății civile pe care îl avem în lucru în acest moment.
            Dacă vrei să ne susții, o poți face folosind butonul Implică-te de mai jos, setând o donație
            recurentă pentru noi.
        </p>
    </div>
    <div id="contact-form">
        {% if messages %}
        <article class="message is-success">
            <div class="message-body">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
        </article>
        {% endif %}
        <form action="" method="post" class="box">
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="Nume" name="name" />

                    <span class="icon is-small is-left">
                        <i class="fas fa-graduation-cap"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="Email" name="email" />

                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <textarea class="input" placeholder="Mesaj" name="message"></textarea>
                    <span class="icon is-small is-left">
                        <i class="fas fa-unlock-alt"></i>
                    </span>
                </div>
            </div>

            <label class="checkbox">
                <input type="checkbox" name="terms_and_conditions">
                Sunt de acord cu <a href="{% url 'terms' %}">termenii și condițiile platformei VotONG</a>.
            </label>

            <div id="contact-form-buttons">
                <button type="submit" class="button is-warning">Trimite</button>
                {% csrf_token %}
            </div>
        </form>
    </div>
</div>

{% endblock %}