{% extends 'ngo/base.html' %}
{% load social_share %}
{% load static %}
{% load spurl %}
{% load i18n %}


{% block content %}
<div class="container">
    {% block left-side-view %}
    <div class="container tight-container content mb-50">
        <h2>
            Regulament Alegeri Comisia Electorala 2021
        </h2>

        <p>
            Calendar:
        </p>
        <ul>
            <li><b>15 noiembrie 2021</b> – lansarea Alegerilor în platforma www.votong.ro</li>
            <li><b>22 - 29 noiembrie 2021</b> – depunerea candidaturilor</li>
            <li><b>29 noiembrie - 1 decembrie 2021</b> – validarea candidaturilor de către Comisia Electorală a VotONG
            </li>
            <li><b>1 - 7 decembrie 2021</b> – exprimarea voturilor prin platforma www.votong.ro</li>
            <li><b>8 decembrie 2021</b> – anunțarea rezultatelor provizorii</li>
            <li><b>8 - 13 decembrie 2021</b> – depunerea contestațiilor</li>
            <li><b>14 - 16 decembrie 2021</b> – soluționarea contestațiilor</li>
            <li><b>17 decembrie 2021</b> – comunicarea rezultatelor finale</li>
            <li><b>1 ianuarie 2022</b> – începutul mandatului noii Comisii Electorale VotONG</li>
        </ul>

        <hr>

        <h3>
            A. Preambul:
        </h3>

        <p>
            Conform Regulamentului său, VotONG este un ecosistem de soluții tehnice dezvoltat și administrat de către
            Asociația Code for Romania, care deservește alegerea reprezentanților societății civile în forurile
            consultative prevăzute de lege precum și orice alte funcțiuni de reprezentare pentru societatea civilă.
        </p>
        <p>
            VotONG a fost lansat în anul 2020, când prin intermediul platformei, s-au desfășurat primele alegeri
            transparente și auditabile pentru reprezentații societății civile în Comitetul Economic și Social (788
            ONG-uri au votat în cadrul acestor alegeri, care s-au finalizat cu alegerea a 15 reprezentanți ai societății
            civile, care au fost desemnați în funcție prin decizia primului ministru al României. În acest moment sunt
            înscrise în platformă 818 organizații.
        </p>
        <p>
            Componenţa Comisiei Electorale:
        </p>

        <ul>
            <li>5 reprezentanți de ONG-uri, mandataţi de propriile organizații pentru a fi parte din Comisie.
                Organizațiile respective nu vor participa și nu își vor desemna candidat în procesul de alegeri - cu
                drept de vot. </li>
            <li>1 reprezentant din partea Asociației Code for Romania ca administrator al platformei de vot pentru
                societatea civilă, care include sistemul de vot - cu drept de vot doar asupra chestiunilor care nu
                privesc validarea ONG-urilor electori, a candidatilor și a procesului de vot;</li>
            <li>1 reprezentant al instituției care organizează alegerile, care prezidează ședințele comisiei - fără
                drept de vot. </li>
        </ul>

        <p>Comisia Electorală a VotONG își va desfășura activitatea și în cazul nedesemnării unui reprezentant din
            partea instituției care desfășoară alegerile. În acest caz, ședințele comisiei sunt prezidate de un
            reprezentant Code for Romania.</p>

        <p>Cei 5 reprezentanți din partea societății civile sunt aleși pentru un mandat de 3 ani prin platforma VotONG.
            Primele alegeri sunt organizate la finalul anului 2021 și mandatul noii comisii începe la 1 ianuarie 2022.
        </p>

        <p>Până la organizarea acestor alegeri cele 5 locuri au fost ocupate interimar de către 2 dintre inițiatorii
            proiectului: Fundația pentru Dezvoltarea Societății Civile (FDSC) și Academia de Advocacy, împreună cu alte
            3 ONGuri invitate: Centrul de Resurse pentru Participare Publica (CeRe), Federația Fundațiilor Comunitare,
            Centrul de Resurse pentru Comunitățile de Romi din Cluj.</p>

        <p>Mandatul Comisiei Electorale interimare a fost unul limitat la (1) organizarea alegerilor pentru Comitetul
            Economic și Social.</p>

        <h3>
            B. Rolul Comisiei Electorale este:
        </h3>

        <ul>
            <li>Dezvoltarea și aprobarea procedurii de alegere a reprezentanților societății civile pentru fiecare
                dintre forurile consultative prevăzute de lege. Procedura va cuprinde două secțiuni care definesc: (a)
                Criteriile de îndeplinit pentru a deveni ONG elector/votant valid; (b) Criteriile de îndeplinit pentru a
                deveni candidat valid al grupului societății civile (reprezentant de ONG). Procedura va trebui supusă
                unui proces de consultare cu societatea civilă folosind modulul de consultare al platformei VotONG.
            </li>
            <li>Stabilirea calendarului alegerilor și aprobarea oricăror modificări a acestuia. 3. Depunerea de eforturi
                pentru ca ecosistemul VotONG să fie integrat/recunoscut în procesele de constituire a structurilor
                consultative, în conformitate cu legislația specifică, pentru ocuparea fotoliilor prevăzute pentru
                societatea civilă.</li>
            <li>Validarea ONG-urilor electoare, care se va face prin vot nesecret; </li>
            <li>Validarea candidaturilor înregistrate pentru alegeri; </li>
            <li>Asigurarea și urmărirea procesului electoral, electronic și nesecret (opțiunile exprimate fiind vizibile
                doar reprezentantului Code for Romania, din poziția de administrator tehnic, care își asumă sarcina de a
                nu divulga aceste opțiuni), avand ca rezultat desemnarea reprezentanților societății civile în
                componența instituției care face obiectul alegerilor; </li>
            <li>Formularea, depunerea și susținerea propunerii de desemnare a reprezentanților societății civile în
                cadrul structurilor consultative către instituția pentru care se organizează alegerile;</li>
            <li>Aducerea la cunoștința electorilor a deciziei instituției vizate privind componența structurii
                consultative. </li>
            <li>Aprobarea utilizării platformei VotONG.ro pentru proceduri de consultare sau alegere de reprezentanți ai
                societății civile în afara desemnării pentru forurile consultative menționate la punctul 1.</li>
        </ul>

        <h3>C. Criterii de îndeplinit pentru a deveni elector (votant):</h3>

        <ol>
            <li>Toți electorii înregistrați în acest moment în platforma VotONG. Ultima validare s-a efectuat în
                octombrie 2020 pentru a lua parte la alegerile pentru Comitetul Economic și Social.</li>
            <li>Orice organizație nouă validată în platformă până în ziua deschiderii votului. Criteriile de validare
                sunt următoarele:</li>
            <p>Orice:</p>
            <ul>
                <li>asociație, fundație sau federație înregistrată legal în România conform OG 26/2000, și/sau Legii
                    21/1924 privind asociaţiile şi fundaţiile (cu modificările şi completările ulterioare)</li>
                <li>fundație pentru tineret de la nivel județean sau a municipiului București,
                </li>
                <li>sau Fundația Națională pentru Tineret, înființată în baza legii 146/2002 (cu modificările și
                    completările ulterioare) precum și
                    Societatea Națională de Cruce Roșie din România înființată în baza Legii 139/1995 (modificată și
                    completată de Legea 524/2004) și a structurilor sale cu personalitate juridică,
                </li>
            </ul>

            <p>care a depus bilanţ contabil în anul premergător celui destinat alegerilor, cu excepția asociațiilor de
                întreprinzători și a asociațiilor de locatari. Nu sunt eligibile acele organizații în care membrii
                conducerii organizației (Președinte și Consiliu Director) sunt membri ai conducerii unui partid politic
                sau persoane care au fost alese într-o funcție publică.
            </p>

            <p>Pentru a fi validați ca electori, fiecare ONG trebuie să se înscrie pe platforma VotONG prezentând
                următoarele:</p>

            <ul>
                <li>date de identificare: denumirea organizației, adresa de e-mail a organizației, reprezentantul legal
                    al organizației, numele membrilor Consiliului Director, numarul de înregistrare în Registrul
                    Asociațiilor și Fundațiilor, date de contact pentru organizație și, opțional, o scurtă descriere.
                </li>
                <li>prima pagină a ultimului bilanț contabil depus la Ministerul de Finanțe și să completeze numele
                    membrilor conducerii organizației (Președintele și Consiliul Director)
                </li>
            </ul>
        </ol>

        <p><b>Validarea ca elector în platformă pentru fiecare ONG se va face conform regulamentului platformei</b></p>

        <h3>D. Criterii de îndeplinit pentru a deveni candidat</h3>

        <p>Poate candida pentru una din cele 5 poziții în Comisia electorală a VotONG orice
        </p>

        <ul>
            <li>asociație, fundație sau federație înregistrată legal în România conform OG 26/2000, și/sau Legii 21/1924
                privind asociaţiile şi fundaţiile (cu modificările şi completările ulterioare), </li>
            <li>fundație pentru tineret de la nivel județean sau a municipiului București,</li>
            <li>sau Fundația Națională pentru Tineret, înființată în baza legii 146/2002 (cu modificările și
                completările ulterioare) precum și
            </li>
            <li>Societatea Națională de Cruce Roșie din România înființată în baza Legii 139/1995 (modificată și
                completată de Legea 524/2004) și a structurilor sale cu personalitate juridică, </li>
        </ul>

        <p>care a depus bilanţ contabil în anul premergător celui destinat alegerilor, cu excepția asociațiilor de
            întreprinzători și a asociațiilor de locatari. Nu sunt eligibile acele organizații în care membrii
            conducerii organizației (Președinte și Consiliu Director) sunt membri ai conducerii unui partid politic sau
            persoane care au fost alese într-o funcție publică;</p>

        <p>care nu au între membrii conducerii organizației (Președinte sau Consiliul Director) membri ai conducerii
            unui partid politic sau persoane care au fost alese într-o funcție publică;</p>

        <p>care a fost validată ca elector în platforma VotONG în perioada 6 octombrie 2020 - 14 noiembrie 2021;</p>

        <p>Organizația care își depune candidatura va completa profilul din platforma de vot, fiind permise completări
            parțiale și editări ale informației existente până la data limită de 29 noiembrie 2021 ora 16:00.</p>

        <p><b>Organizația care își depune candidatura trebuie să îndeplinească următoarele condiții:</b></p>

        <ul>
            <li>Să fi fost validată ca elector</li>
            <li>Să încarce în platforma VotONG rapoartele anuale ale organizației pentru fiecare din ultimii trei ani
                (2018, 2019, 2020), care să includă sursele de finanțare și din care să rezulte că dispune de resurse
                financiare şi materiale pentru îndeplinirea mandatului;</li>
            <li>Să încarce în platforma VotONG dovada că nu au datorii la bugetul de stat;</li>
            <li>Să încarce în platforma VotONG o copie a ultimului statut autentificat/certificat al organizației și a
                hotărârii judecătoreşti corespunzătoare definitivă şi irevocabilă și ale tuturor documentelor
                ulterioare/ suplimentare ale statutului, inclusiv hotărârile judecătorești definitive și irevocabile;
            </li>
            <li>Să completeze și să încarce în platforma VotONG o declarație pe proprie răspundere prin care declară că
                nu realizează activități sau susține cauze de natură politică sau care discriminează pe considerente
                legate de etnie, rasă, sex, orientare sexuală, religie, capacități fizice sau psihice sau de apartenența
                la una sau mai multe categorii sociale sau economice;</li>
            <li>Să completeze și să încarce în platforma VotONG o declarație pe propria răspundere prin care declară că
                nu are între membrii conducerii organizației (Președinte sau Consiliul Director) membri ai conducerii
                unui partid politic sau persoane care au fost alese într-o funcție publică;</li>
            <li>Să desemneze un reprezentant al său în Comisia Electorală. Acesta persoană trebuie să fie parte din
                structurile de conducere ale organizației (organizația va completa în platformă funcția deținută de
                persoana respectivă);</li>
            <li>Să completeze și să încarce în platforma VotONG o declarație pe propria răspundere a reprezentantului
                desemnat prin care declară că nu este membru al conducerii unui partid politic, nu a fost ales într-o
                funcție publică și nu este demnitar al statului român.</li>
        </ul>

        <p><b>Fiecare candidatură este validată de către Asociația Code for Romania ca administrator al platformei după
                verificarea îndeplinirii condițiilor de mai sus.
            </b></p>

        <h3>E. Desfășurarea alegerilor:</h3>

        <p><b>E.1. Fiecare elector va avea 5 voturi.
            </b></p>

        <p><b>E.2. Un candidat poate primi maxim un vot din partea unui ONG elector.
            </b></p>

        <p><b>E.3. Exprimarea voturilor se va face folosind componenta specifică a ecosistemului VotONG
            </b></p>

        <p><b>E.4. La încheierea etapei de vot se vor prezenta rezultatele obținute de candidați în funcție de numărul
                de voturi obținute și admiterea celor 5 câștigători. Va exista o perioadă de 3 zile de depunere a
                contestațiilor.
            </b></p>

        <p><b>E.5. Orice elector care are suspiciuni fondate că procesul electoral a fost viciat poate cere Asociației
                Code for Romania, după încheierea procesului electoral, auditarea alegerilor și aceasta va decide
                argumentat dacă aprobă auditarea și în ce condiții va avea loc aceasta.
            </b></p>
    </div>
    {% endblock %}
</div>
{% endblock %}