{% extends 'ngo/base.html' %}
{% load social_share  %}
{% load static %}
{% load spurl %}
{% load i18n %}


{% block content %}
<div class="container">
    {% block left-side-view %}
    <div class="container tight-container content mb-50">
        <h2>
            Procedura pentru alegerea reprezentanților societății civile în Consiliul Economic și Social (CES) care să
            răspundă prevederilor L248/2013.
        </h2>

        <p>
            <b>Comisia Electorala</b>: Fundația pentru Dezvoltarea Societății Civile (FDSC), Academia de Advocacy,
            Centrul de Resurse pentru Participare Publica (CeRe), Federația Fundațiilor Comunitare, Centrul de Resurse
            pentru Comunitățile de Romi din Cluj și Asociația Code for Romania (fără drept de vot), Secretariatul
            General al Guvernului (Președintele Comisiei Electorale, fără drept de vot)
        </p>

        <p>
            Calendar:
        </p>
        <ul>
            <li>Până la <b>19 noiembrie 2020</b> – înscrierea și validarea electorilor în platforma www.votong.ro
            </li>
            <li>Până la <b>19 noiembrie 2020</b> – depunerea candidaturilor și strângerea de susțineri de către
                candidați</li>
            <li><b>20 – 21 noiembrie 2020</b> – validarea candidaturilor de către Comisia Electorală a VotONG</li>
            <li><b>22 – 23 noiembrie 2020</b> – exprimarea voturilor prin platforma www.votong.ro</li>
            <li><b>24 noiembrie 2020</b> – anunțarea rezultatelor</li>
            <li><b>25 – 26 noiembrie 2020</b> – depunerea contestațiilor</li>
            <li><b>27 noiembrie 2020 – 01 decembrie 2020</b> – soluționarea contestațiilor</li>
            <li><b>03 decembrie 2020</b> – publicarea și comunicarea rezultatelor finale ale alegerilor</li>
            <li><b>04 decembrie 2020</b> – depunerea rezultatelor și dosarelor candidaților la Secretariatul General
                al Guvernului</li>
        </ul>

        <hr>

        <h3>
            A. Preambul:
        </h3>

        <p>
            În art 2 din L248/2013 sunt definite domeniile de specialitate ale CES, după cum urmează:
        </p>
        <p>
            Art. 2
        </p>
        <p>
            (1) Consiliul Economic şi Social este consultat obligatoriu asupra proiectelor de acte normative iniţiate de
            Guvern sau a propunerilor legislative ale deputaţilor ori senatorilor. Rezultatul acestei consultări se
            concretizează în avize la proiectele de acte normative.
        </p>
        <p>
            (2) Domeniile de specialitate ale Consiliului Economic şi Social sunt:
        </p>
        <ol type="a">
            <li>politicile economice;</li>
            <li>politicile financiare şi fiscale;</li>
            <li>relaţiile de muncă, protecţia socială, politicile salariale şi egalitatea de şanse şi de tratament;</li>
            <li>agricultură, dezvoltare rurală, protecţia mediului şi dezvoltare durabilă;</li>
            <li>protecţia consumatorului şi concurenţă loială;</li>
            <li>cooperaţie, profesii liberale şi activităţi independente;</li>
            <li>drepturi şi libertăţi cetăţeneşti;</li>
            <li>politicile în domeniul sănătăţii;</li>
            <li>politicile în domeniul educaţiei, tineretului, cercetării, culturii şi sportului.</li>
        </ol>

        <p>
            (3) Consiliul Economic şi Social se poate autosesiza sau poate fi sesizat de orice autoritate publică ori de
            organizaţiile patronale sau sindicale reprezentative la nivel naţional, precum şi de reprezentanţii
            societăţii civile asupra unor stări de fapt, evoluţii ori evenimente economico-sociale de interes naţional.
        </p>

        <p>
            (4) În situaţiile prevăzute la alin. (3), Consiliul Economic şi Social emite puncte de vedere şi recomandări
            pe care le comunică autorităţilor, instituţiilor sau organizaţiilor patronale, sindicale ori ale societăţii
            civile cu atribuţii, competenţe sau interese în domeniu. În lipsa unui consens între părţile reprezentate în
            Consiliul Economic şi Social, secretariatul tehnic va transmite, după caz, punctele de vedere sau
            recomandările formulate de fiecare parte.
        </p>

        <p>
            În consecință, reprezentanții societății civile aleși în acest for ar fi de dorit să posede competențe cel
            puțin practice în cel puțin unul dintre domeniile de specialitate și abilități de comunicare (susținere a
            pozițiilor lor) și negociere;
        </p>

        <p>
            În conformitate cu prevederile art. 11 alin 2 lit. c), societatea civilă are desemnate 15 fotolii în
            Consiliul Economic și Social. Reprezentanții acestora (reprezentanți de ONG-uri) trebuie să provină din
            următoarele domenii:
        </p>

        <ul>
            <li>structuri cooperatiste;</li>
            <li>profesiuni liberale;</li>
            <li>organizaţii pentru protecţia consumatorilor;</li>
            <li>comunității științifice și academice,</li>
            <li>organizații de agricultori;</li>
            <li>organizații de pensionari;</li>
            <li>organizații ale comunităților locale,</li>
            <li>asociații care reprezintă familia și persoanele cu dizabilități;</li>
            <li>alte organizații neguvernamentale cu activitate în domeniile de competență ale Consiliului Economic și
                Social.</li>
        </ul>

        <p>
            În conformitate cu art 11, alin 2 lit c) cei 15 membri reprezentând societatea civilă, constituind partea
            societății civile, sunt numiţi prin decizie a prim-ministrului, la propunerea Ministerului Consultării
            Publice şi Dialogului Social (în prezent, departamentul Consultării Publice şi Dialogului Social din cadrul
            Secretariatului General al Guvernului (SGG)).
        </p>

        <p>
            Procedura va trebui să urmărească prevederile L248/2013 privind domeniile din care provin reprezentanții
            aleși prin prezenta procedură, pentru a ne asigura că Secretariatul General al Guvernului va prelua
            rezultatele acestui sistem de selecție a reprezentanților societății civile.
        </p>

        <table>
            <tr>
                <th>Domenii de specialitate CES cf L248/2013 art 2</th>
                <th>Structuri care propun candidați ale Soc civ. Cf art 11 alin 2 lit c</th>
                <th>Domenii de activitate ale Soc. Civ. cf. Studiu sectorul ONG 2017 – FDSC – pag.27</th>
            </tr>
            <tr>
                <td>a) politicile economice;</td>
                <td>a) structuri cooperatiste;</td>
                <td>a) Agricol;</td>
            </tr>
            <tr>
                <td>b) politicile financiare şi fiscale;</td>
                <td>b) profesiuni liberale;</td>
                <td>b) Civice;</td>
            </tr>
            <tr>
                <td>c) relaţiile de muncă, protecţia socială, politicile salariale şi egalitatea de şanse şi de
                    tratament;</td>
                <td>c) organizaţii pentru protecţia consumatorilor;</td>
                <td>c) Culturale;</td>
            </tr>
            <tr>
                <td>d) agricultură, dezvoltare rurală, protecţia mediului şi dezvoltare durabilă;</td>
                <td>d) comunității științifice și academice;</td>
                <td>d) Dezvoltare/turism;</td>
            </tr>
            <tr>
                <td>e) protecţia consumatorului şi concurenţă loială;</td>
                <td>e) organizații de agricultori;</td>
                <td>e) Educație;</td>
            </tr>
            <tr>
                <td>f) cooperaţie, profesii liberale şi activităţi independente;</td>
                <td>f) organizații de pensionari;</td>
                <td></td>
            </tr>
            <tr>
                <td>g) drepturi şi libertăţi cetăţeneşti;</td>
                <td>g) organizații ale comunităților locale;</td>
                <td>g) Mediu/ecologie;</td>
            </tr>
            <tr>
                <td>h) politicile în domeniul sănătăţii;</td>
                <td>h) asociații care reprezintă familia și persoanele cu dizabilități;</td>
                <td>h) Obști/silvice;</td>
            </tr>
            <tr>
                <td>i) politicile în domeniul educaţiei, tineretului, cercetării, culturii şi sportului.</td>
                <td>i) alte organizații neguvernamentale cu activitate în domeniile de competență ale Consiliului
                    Economic și Social.</td>
                <td>i) Profesionale;</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>j) Religioase;</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>k) Sănătate;</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>l) Social/caritabil;</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>m) Sportive/hobby</td>
            </tr>
        </table>

        <h3>
            B. Se propun următoarele secțiuni și alocare de locuri:
        </h3>

        <table>
            <tr>
                <th></th>
                <th>Secțiuni</th>
                <th>Număr locuri </th>
            </tr>
            <tr>
                <td>1</td>
                <td>Organizații academice, profesionale, think-tank (corespund categoriei “comunități științifice și
                    academice”)
                </td>
                <td>2</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Organizații cooperatiste, agricole, de dezvoltare rurală</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Organizații din domeniul social (familie, persoane cu dizabilități, pensionari etc)</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Organizații din domeniul sănătate, educație și tineri</td>
                <td>3</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Organizații din domeniul protectiei mediului înconjurator, ecologiei, dezvoltării durabile</td>
                <td>2</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Organizații pentru protecţia drepturilor omului</td>
                <td>3</td>
            </tr>
        </table>

        <h3>
            C. Criterii de îndeplinit pentru a deveni elector (votant):
        </h3>

        <h4>C.1. Eligibilitate: cine poate participa la procesul de votare?</h4>

        <p>Orice </p>
        <ul>
            <li>asociație, fundație sau federație înregistrată legal în România conform OG 26/2000, și/sau Legii 21/1924
                privind asociaţiile şi fundaţiile (cu modificările şi completările ulterioare), </li>
            <li>fundație pentru tineret de la nivel județean sau a municipiului București, </li>
            <li>sau Fundația Națională pentru Tineret, înființată în baza legii 146/2002 (cu modificările și
                completările ulterioare) precum și </li>
            <li>Societatea Națională de Cruce Roșie din România înființată în baza Legii 139/1995 (modificată și
                completată de Legea 524/2004) și a structurilor sale cu personalitate juridică, </li>
        </ul>

        <p>
            care a depus bilanţ contabil în anul premergător celui destinat alegerilor, cu excepția asociațiilor de
            întreprinzători și a asociațiilor de locatari.Nu sunt eligibile acele organizații în care membrii conducerii
            organizației (Președinte și Consiliu Director) sunt membri ai conducerii unui partid politic sau persoane
            care au fost alese într-o funcție publică.
        </p>

        <h4>
            C.2. Cum poți obține dreptul de a vota?
        </h4>

        <p>
            Pentru a fi validați ca electori, fiecare ONG trebuie să se înscrie pe platforma VotONG prezentând
            următoarele:
        </p>

        <ul>
            <li>date de identificare: denumirea organizației, adresa de e-mail a organizației, reprezentantul legal al
                organizației, numele membrilor Consiliului Director, numarul de înregistrare în Registrul Asociațiilor
                și Fundațiilor, date de contact pentru organizație și, opțional, o scurtă descriere.</li>
            <li>prima pagină a ultimului bilanț contabil depus la Ministerul de Finanțe și să completeze numele
                membrilor conducerii organizației (Președintele și Consiliul Director) </li>
        </ul>

        <h4>
            C.3. Validarea dreptului de vot pentru fiecare ONG se va face în termen de maximum 5 zile lucrătoare.
        </h4>

        <p>
            Procedura de validare a unei organizații presupune verificarea îndeplinirea criteriilor de eligibilitate
            menționate la punctul C.1 și a documentelor menționate la punctul C.2.
        </p>

        <h4>
            C.4 .După validare, ONG-ul va primi acces la platforma de vot pentru societatea civilă, unde va putea:
        </h4>

        <ul>
            <li>să completeze profilul propriei organizații</li>
            <li>să completeze profilul candidatului propus până la data de 19 noiembrie 2020 ora 16:00</li>
            <li>să atragă cel puțin 10 susțineri din partea a 10 organizații înregistrate în platformă până la data de
                19 noiembrie 2020 ora 16:00.</li>
        </ul>

        <h3>
            D. Criterii de îndeplinit pentru a deveni candidat
        </h3>

        <h4>
            D.1 Elementele care asigură o alegere și nominalizare a membrilor societății civile în cadrul CES,
            răspunzând concomitent la misiunea CES și la interesele sectorului neguvernamental, utilizând această
            procedură, sunt:
        </h4>

        <ol type="a">
            <li>Autoevaluarea atentă și responsabilă a persoanelor mandatate de ONG care își depun candidatura;</li>
            <li>Asumarea responsabilă de mandatare a candidatului de către ONG;</li>
            <li>Validarea din punct de vedere tehnic realizată de organizatori (conformitatea îndeplinirii criteriilor
                de înscriere pentru candidați)</li>
            <li>Susținerea oferită de organizațiile validate ca electori, candidaților pe care îi consideră pregătiți în
                a îndeplini cerințele unui membru CES;</li>
            <li>Votul propriu zis;</li>
            <li>Aprobarea/desemnarea reprezentanților societății civile în CES pentru un mandat de 4 ani, de către
                Primul Ministru</li>
            <li>Confirmarea aleșilor de către CES</li>
        </ol>

        <h4>
            D.2. Orice persoană mandatată de o organizație care se angajează în susținerea participării acesteia în
            cadrul CES poate candida folosind platforma VotONG.
        </h4>

        <p>
            Reprezentantul organizației va completa profilul candidatului în platforma de vot, fiind permise completări
            parțiale și editări ale informației existente până la data limită de 19 noiembrie 2020 ora 16:00.
        </p>

        <h4>
            D.3. Organizația care nominalizează un candidat trebuie să îndeplinească următoarele condiții:
        </h4>
        <ol type="a">
            <li>Să fi fost validată ca elector</li>
            <li>Să încarce în platforma VotONG rapoartele anuale ale organizației pentru fiecare din ultimii trei ani
                (2017, 2018, 2019), care să includă sursele de finanțare și din care să rezulte că dispune de resurse
                financiare şi materiale pentru îndeplinirea mandatului de reprezentare a organizaţiilor votante în CES
                (diseminarea informaţiilor, consultări periodice cu partenerii şi organizaţiile pe care le reprezintă,
                formularea de observaţii şi propuneri pentru îmbunătățirea politicilor publice în domeniul lor de
                activitate, calităţi de leadership şi recunoaștere a organizației la nivel național);</li>
            <li>Să încarce în platforma VotONG dovada că nu au datorii la bugetul de stat;</li>
            <li>Să încarce în platforma VotONG o copie a ultimului statut autentificat/certificat al organizației și a
                hotărârii judecătoreşti corespunzătoare definitivă şi irevocabilă și ale tuturor documentelor
                ulterioare/ suplimentare ale statutului, inclusiv hotărârile judecătorești definitive și irevocabile;
            </li>
            <li>Să completeze și să încarce în platforma VotONG o declarație pe proprie răspundere prin care declară că
                nu realizează activități sau susține cauze de natură politică sau care discriminează pe considerente
                legate de etnie, rasă, sex, orientare sexuală, religie, capacități fizice sau psihice sau de apartenența
                la una sau mai multe categorii sociale sau economice.</li>
        </ol>

        <h4>
            D.4 Profilul unui candidat cuprinde următoarele:
        </h4>

        <ol type="a">
            <li>Mandat din partea organizației, semnat (inclusiv prin semnătură electronică), cu sublinierea
                domeniului/ariei de competență în numele căruia candidează;</li>
            <li>Scrisoare de intenție (cu menționarea domeniului pe care dorește să-l reprezinte în cadrul CES) din care
                să rezulte desfăşurarea de activităţi de influenţare a politicilor publice și de reprezentare a
                intereselor unor grupuri de organizaţii care desfăşoară o activitate de interes public;</li>
            <li>CV în format europass;</li>
            <li>declarație de interese (format oficial);</li>
            <li>cazier judiciar (opțional);</li>
            <li>cazier fiscal, valabil la data depunerii candidaturii;</li>
        </ol>

        <p>
            Informațiile de la punctele D.4.a, D.4.b, D.4.c, D.4.d și D.4.e vor fi disponibile public în platforma
            VotONG
        </p>

        <h4>
            D.5. Pentru a putea candida, fiecare candidat trebuie să se asigure că are cel puțin zece electori care își
            exprimă în platformă susținerea pentru candidatura sa. Orice elector poate să își exprime susținerea pentru
            unul sau mai mulți candidați prin intermediul unei funcționalități dedicate din platforma VotONG.
        </h4>

        <h4>
            D.6. O organizație poate propune un singur candidat, într-un singur domeniu.
        </h4>

        <h4>
            D.7. Completarea profilului de candidat poate fi făcută de către un reprezentant al unui ONG în orice moment
            între data acceptării ONG-ului în platformă și data limită, 19 noiembrie 2020, ora 16:00.
        </h4>

        <p>
            După această dată limită, reprezentanții ONG-urilor nu vor mai putea adăuga sau modifica informația asociată
            ONG-ului, și nici pe cea asociată candidatului. Modificarea identității candidatului trebuie să fie însoțită
            de modificarea actelor aferente acestui candidat - trebuie să existe o concordanță între toate documentele
            exprimate la punctul D.5 și identitatea candidatului unui ONG. Permisiunea de modificare sau eliminare a
            conținutului paginii de candidat este permisă doar reprezentantului ONG-ului, iar formatul paginii este
            identic pentru toți candidații.
        </p>

        <h4>
            D.8. Fiecare candidatură este validată de către Comisia Electorală după verificarea îndeplinirii condițiilor
            de la punctele D.3 și D.5, precum și prezența informațiilor de la D.4.
        </h4>

        <h3>
            E. Desfășurarea alegerilor:
        </h3>

        <h4>
            E.1. Reprezentanților ONG-urilor le va fi pusă la dispoziție o platformă de discuții la care doar aceștia
            vor avea acces, în baza adresei de email.
        </h4>

        <p>
            Platforma va fi un Slack, în care aceștia pot pune întrebări candidaților altor ONG-uri. Acest forum de
            discuții are rolul de a suplini nevoia unor dezbateri transparente ale candidaților și a unor dialoguri
            între aceștia și electori. Conversațiile din acest Slack nu sunt publice. Menirea lor este să suplinească
            comunicarea necesară în orice alegeri democratice.
        </p>

        <h4>
            E.2. Federațiile, platformele și coalițiile interesate vor avea posibilitatea de a desfășura alegeri interne
            folosind platforma VotONG.
        </h4>

        <h4>
            E.3. Fiecare elector va avea, în cadrul fiecărei secțiuni, un număr egal de voturi cu numărul fotoliilor
            alocate în Comitetul Economic și Social pentru fiecare dintre acestea. Fiecare elector va avea un număr
            total de 15 voturi disponibile, împărțite conform cu tabelul următor:
        </h4>

        <table>
            <tr>
                <th></th>
                <th>Secțiuni</th>
                <th>Număr de locuri</th>
                <th>Număr de voturi al fiecărui elector</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Organizații academice, profesionale, think-tank (corespund domeniului “comunități științifice și
                    academice”)
                </td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Organizații cooperatiste și agricole, dezvoltare rurală</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Organizații din domeniul social (familie, persoane cu dizabilități, pensionari etc)</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Organizații din domeniul sănătate, educație și tineri</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Organizații din domeniul mediului înconjurător și ecologie, dezvoltare durabila</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Organizații pentru protecţia drepturilor omului</td>
                <td>3</td>
                <td>3</td>
            </tr>
        </table>

        <h4>
            Un candidat poate primi maxim un vot din partea unui ONG elector.
        </h4>

        <h4>
            E.4. Exprimarea voturilor se va face folosind componenta specifică a ecosistemului VotONG
        </h4>

        <h4>
            E.5. La încheierea etapei de vot se vor prezenta rezultatele obținute de candidați în funcție de numărul de
            voturi obținute și admiterea celor 15 câștigători. Va exista o perioadă de 8 zile de depunere și rezolvare a
            contestațiilor.
        </h4>

        <h4>
            E.6. Orice elector care are suspiciuni fondate că procesul electoral a fost viciat poate cere Comisiei
            Electorale, după încheierea procesului electoral, auditarea alegerilor și Comisia Electorală va decide dacă
            aprobă auditarea și în ce condiții va avea loc aceasta.
        </h4>

        <h4>
            E.7. Formularea și depunerea propunerii de desemnare a reprezentanților societății civile în cadrul
            structurilor consultative, la Cabinetul Primului Ministru și susținerea acesteia spre adoptare și decizie a
            Prim-Ministrului;
        </h4>

        <h4>
            E.8. Aducerea la cunoștința electorilor a deciziei Prim-Ministrului, publicată în Monitorul Oficial.
        </h4>

        <p>
            Ca urmare a anunțului public făcut de Secretariatul General al Guvernului cu privire la acceptarea
            procedurii de alegere și desemnare a reprezentanților societății civile în Consiliul Economic și Social, în
            urma analizei de către Comisia Electorală a VotONG, a fost luată decizia de aprobare a solicitărilor
            Secretariatului General al Guvernului. Marcăm astfel un moment extrem de important pentru sectorul
            neguvernamental în procesul de autoreglementare, cu efecte pe termen lung în desemnarea transparentă și
            democratică a reprezentanților sectorului în structurile în care societatea civilă este reprezentată.
        </p>

        <p>
            Comisia Electorală a luat la cunoștință amendamentele propuse de către Secretariatul General al Guvernului
            care vin în completarea regulamentului actual (regulament care a fost supus consultării publice cu sectorul
            ONG în luna septembrie a acestui an) și a decis acceptarea acestor noi criterii și integrarea lor ca
            secțiune complementară în procesul alegerilor curente.
        </p>

        <p>
            Pe lângă criteriile propuse în regulamentul publicat pe www.votong.ro, Secretariatul General al Guvernului a
            propus următoarele:
        </p>

        <ol type="1">
            <li>Pentru criteriile de eligibilitate aplicabile electorilor (punctul C1 din regulamentul dezvoltat de
                către societatea civilă): <i>Nesuprapunerea conducerii executive a unei organizații participante cu
                    conducerea unei alte organizații participante.</i></li>
            <li>Pentru criteriile de eligibilitate aplicabile organizațiilor care propun candidați (punctul D3 din
                regulamentul dezvoltat de către societatea civilă): <i>Organizația care propune un candidat a fost
                    implicată fie într-un proiect național, fie în patru proiecte locale, cu relevanță semnificativă
                    într-unul dintre domeniile de interes pentru CES (cu aplicabilitate asupra perioadei 1 ian 2019
                    – 30 oct 2020).</i></li>
            <li>Pentru criterii de eligibilitate aplicabile electorilor (punctul C1 din regulamentul dezvoltat de
                către societatea civilă): <i>Organizațiile participante nu pot avea între membrii conducerii
                    organizației (Președinte sau Consiliul Director) membri ai conducerii unui partid politic sau
                    persoane care au fost alese într-o funcție publică.</i></li>
        </ol>

        <p>
            Astfel, în procesul de validare:
        </p>

        <ul>
            <li>Pentru criteriul 1 - Comisia Electorală va verifica faptul că nu există suprapunere completă la
                nivel de Președinte și Consiliu Director pentru 2 sau mai multe organizații;</li>
            <li>Pentru criteriul 2 - dacă este cazul, se vor solicita informații suplimentare pentru organizațiile
                care au propus deja candidaturi. În același timp, solicităm organizațiilor aflate în proces de
                completare a candidaturilor să se asigure că includ informațiile necesare pentru verificarea
                îndeplinirii acestui criteriu.</li>
            <li>Pentru criteriul 3 - în cazul persoanelor care au fost alese într-o funcție publică, Comisia
                Electorală va verifica faptul că acest mandat este încheiat la momentul înregistrării în platformă.
            </li>
        </ul>

        <p>
            Respectarea criteriilor se va verifica atât pentru organizațiile deja validate, cât și pentru cele care
            sunt în curs de validare. Acolo unde va fi cazul, se vor solicita informații suplimentare.
        </p>

        <p>
            Ca urmare a validării propunerilor de candidați de către Comisia Electorală și a votului exprimat de
            societatea civilă, lista completă a candidaților împreună cu numărul de voturi primite de fiecare
            candidat vor fi comunicate Secretariatului General al Guvernului nu mai târziu de 4 decembrie 2020
            pentru a servi ca <b>listă exclusivă</b> din care să fie numiți de către Prim-ministru reprezentanții în
            CES ai societății civile.
        </p>

        <p>
            De asemenea, menționăm că Secretariatului General al Guvernului a acceptat invitația de a desemna un
            reprezentant propriu în Comisia Electorală a alegerilor pentru reprezentanții societății civile în
            Consiliul Economic și Social prin mecanismul VotONG. Acesta nu va avea drept de vot și va superviza
            Comisia din calitatea de Președinte al acesteia pe durata acestor alegeri. Persoana desemnată pentru
            acest rol este dl consilier Andrei Dinculescu-Bighea.
        </p>

        <p>
            Solicitarea Secretariatului General al Guvernului referitoare la prelungirea perioadei de înscriere a
            electorilor și a candidaților a fost, de asemenea, acceptată, rezultând următorul calendar:
        </p>

        <ul>
            <li>Până la <b>19 noiembrie 2020</b> – înscrierea și validarea electorilor în platforma www.votong.ro
            </li>
            <li>Până la <b>19 noiembrie 2020</b> – depunerea candidaturilor și strângerea de susțineri de către
                candidați</li>
            <li><b>20 – 21 noiembrie 2020</b> – validarea candidaturilor de către Comisia Electorală a VotONG</li>
            <li><b>22 – 23 noiembrie 2020</b> – exprimarea voturilor prin platforma www.votong.ro</li>
            <li><b>24 noiembrie 2020</b> – anunțarea rezultatelor</li>
            <li><b>25 – 26 noiembrie 2020</b> – depunerea contestațiilor</li>
            <li><b>27 noiembrie 2020 – 01 decembrie 2020</b> – soluționarea contestațiilor</li>
            <li><b>03 decembrie 2020</b> – publicarea și comunicarea rezultatelor finale ale alegerilor</li>
            <li><b>04 decembrie 2020</b> – depunerea rezultatelor și dosarelor candidaților la Secretariatul General
                al Guvernului</li>
        </ul>

    </div>
    {% endblock %}
</div>
{% endblock %}