{% load i18n %}
<!-- TODO translation -->

Bună ziua,<br><br>

Primiți acest e-mail deoarece ați făcut o cerere de resetare a parolei pentru contul dvs din platforma VotONG.
<br><br>

Vă rugăm să accesați <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">această</a>
pagină pentru a alege o nouă parolă.
<br><br>

<a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Setează parola inițială.</a> <br><br>
<br><br>

Numele dvs de utilizator este: {{ user.get_username }}
<br><br>

Mulțumim,<br>
Echipa VotONG