{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block domain-filters %}
{% endblock domain-filters %}

{% block extra-header %}
{% endblock extra-header %}

{% block content %}

<div class="columns is-centered">
  <div class="column is-half">
    <h2 class="title is-2">{% trans "Initiated password reset" %}</h2>

    <article class="message is-success">
      <div class="message-body">
        <!-- TODO translate -->
        Un email cu instrucțiunile necesare pentru a reseta parola a fost trimis către e-mailul dvs. Ar trebui să îl
        primiți în curând. Dacă e-mailul întârzie, verificați directorul Spam. Dacă nu primiți niciun e-mail vă rugăm să
        ne contactați la contact@votong.ro.
      </div>
    </article>
  </div>
</div>

{% endblock %}