{% extends 'account-base.html' %}
{% load avatar_tags %}
{% load static %}
{% load spurl %}
{% load i18n %}

{% block content %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // 1. Display file name when select file
        let fileInputs = document.querySelectorAll('.file.has-name')
        for (let fileInput of fileInputs) {
            let input = fileInput.querySelector('.file-input')
            let name = fileInput.querySelector('.file-name')
            input.addEventListener('change', () => {
                let files = input.files
                if (files.length === 0) {
                    name.innerText = 'No file selected'
                } else {
                    name.innerText = files[0].name
                }
            })
        }

        // 2. Remove file name when form reset
        let forms = document.getElementsByTagName('form')
        for (let form of forms) {
            form.addEventListener('reset', () => {
                console.log('a')
                let names = form.querySelectorAll('.file-name')
                for (let name of names) {
                    name.innerText = 'No file selected'
                }
            })
        }
    })
</script>

<div id="content-main" class="container section tight-container">
  {% include 'partials/sections.html' with active='change-avatar' %}

    <div class="columns is-centered">
        <div class="column is-half is-pulled-right">
            <div class="card column is-one-third is-pulled-right">
                {% if not avatars %}
                <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
                {% endif %}
                <div class="card-header-title">
                    <p class="title is-6">{% trans "Your current avatar" %}</p>
                </div>
                <div class="media-right">
                    <figure class="image is-80x80">
                        {% avatar user %}
                    </figure>
                </div>
            </div>

        </div>

        <div class="column is-half">
            {% if messages %}
            <article class="message is-info column is-one-third">
                <div class="message-body">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </article>
            {% endif %}
            {% with upload_avatar_form as form %}
                {% if form.errors %}
                <article class="message is-danger">
                    <div class="message-body">
                        {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                        {% endfor %}
                    </div>
                </article>
                {% endif %}
            {% endwith %}

            <div class="column is-vcentered is-one-third">
                <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                    <div class="file is-boxed is-success has-name field">
                        <label class="file-label" style="width: 100%">
                            <input class="file-input" type="file" name="avatar">
                            <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                  {% trans "Upload file..." %}
                                </span>
                            </span>
                            <span class="file-name">
                               {% trans "No uploaded file" %}
                            </span>
                        </label>
                    </div>

                    <div class="field mgt-medium">
                        <div class="control is-expanded">
                            <input type="submit" value="{% trans "Upload New Image" %}" class="button is-success is-fullwidth">
                        </div>
                    </div>

                    {% csrf_token %}

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
