{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}

    {% comment %}
    {% element h1 %}
        {% trans "Sign Out" %}
    {% endelement %}
    {% element p %}
        {% trans 'Are you sure you want to sign out?' %}
    {% endelement %}
    {% endcomment %}
    
    <h1 id="allauth-logout-title" class="">{% trans "Redirecting to sign out..." %}</h1>

    {% url 'account_logout' as action_url %}
    <div id="allauth-logout-form-container">
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            <input class="button is-success is-hidden" id="allauth-logout-button" type="submit" value="{% trans "or click here to sign out" %}">
        {% endslot %}
    {% endelement %}
    </div>
    <script>
        jQuery(document).ready(function() {
            jQuery("#allauth-logout-form-container > form").trigger("submit");
            setTimeout(function() { 
                $("#allauth-logout-button").removeClass("is-hidden");
            }, 10000);
        });
    </script>
{% endblock content %}