{% extends 'hub/ngo/base.html' %}
{% load static i18n %}
{% load spurl %}
{% load hub_tags %}


{% block content %}

<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="section-title">{% trans "Reset candidate confirmations" %}</div>
            <p class="section-text">{% trans "Resetting the candidate confirmations is irreversible. Are you sure you want to continue?" %}</p>
            <p><input type="submit" value="{% trans 'Continue' %}" class="button is-warning has-text-weight-bold"></p>
        </div>
    </form>
</div>

{% endblock %}
