<div class="flex-align-center">
  <h2 class="need-title">
    Alegeri Consiliul Economic și Social 2020
  </h2>
</div>

<p class="need-title">
  <a
    target="_blank"
    rel="noopener noreferrer nofollow"
    href="https://ces2020.votong.ro/ro/candidates/ces-results">
    Link către rezultate
  </a>
</p>

<div class="need-description">
  <p>
    Perioada 6 octombrie - 4 decembrie 2020
  </p>

  <p><strong>Câștigători</strong></p>

  <p><strong>Organizații academice, profesionale, think-tank </strong></p>
  <ul>
    <li>
      <p>
        Ștefan Teișanu - Asociația Fapte
      </p>
    </li>
    <li>
      <p>
        Cristian Hordilă - Asociația Festivalul de Film Transilvania
      </p>
    </li>
  </ul>

  <p><strong>Organizații cooperatiste, agricole, de dezvoltare rurală </strong></p>
  <ul>
    <li>
      <p>
        Balogh Martin - Fundația Civitas pentru Societatea Civila Cluj
      </p>
    </li>
    <li>
      <p>
        Grigorescu Sevastita - Uniunea Nationala a Cooperatiei Mestesugaresti - UCECOM
      </p>
    </li>
  </ul>

  <p><strong>Organizații din domeniul social </strong></p>
  <ul>
    <li>
      <p>
        Diana Chiriacescu - FONSS- Federația Organizațiilor Neguvernamentale pentru Servicii Sociale
      </p>
    </li>
    <li>
      <p>
        Tontsch Daniela - CONSILIUL NAȚIONAL AL DIZABILITĂȚII DIN ROMÂNIA
      </p>
    </li>
    <li>
      <p>
        Daniela-Doina Bololoi - Asociația Help Autism
      </p>
    </li>
  </ul>

  <p><strong>Organizații din domeniul sănătate, educație și tineri </strong></p>
  <ul>
    <li>
      <p>
        Horia-Șerban Onița - Alianța Națională a Organizațiilor Studențești din România (ANOSR)
      </p>
    </li>
    <li>
      <p>
        Mihai Dragoș - Federația Consiliul Tineretului din România
      </p>
    </li>
    <li>
      <p>
        Mădălina Sava - Asociația Psihologilor din Romania
      </p>
    </li>
  </ul>

  <p><strong>Organizații din domeniul protecției mediului înconjurător, ecologiei, dezvoltării
    durabile</strong></p>
  <ul>
    <li>
      <p>
        Corina Murafa - Fundația Ashoka
      </p>
    </li>
  </ul>

  <p><strong>Organizații pentru protecția drepturilor omului </strong></p>
  <ul>
    <li>
      <p>
        Bogdan Simion - Federația Organizațiilor Neguvernamentale Pentru Copil - FONPC
      </p>
    </li>
    <li>
      <p>
        Adriana Radu / Cu susținerea Coaliției pentru Egalitate de Gen - Asociația SEXUL vs BARZA
      </p>
    </li>
    <li>
      <p>
        Gelu Duminică - Fundația Agenția de Dezvoltare Comunitară ”Împreună”
      </p>
    </li>
  </ul>

  <p>
    <a rel="noopener noreferrer nofollow" href="https://ces2020.votong.ro/ro/regulament/">
      Regulamentul rundei de alegeri CES 2020
    </a>
    și
    <a rel="noopener noreferrer nofollow" href="https://ces2020.votong.ro/ro/candidates/ces-results">
      rezultatele detaliate
    </a>
    ale acestei runde de alegeri pot fi vizualizate pe o copie a website-ului VotONG, creat pentru a
    păstra intacte rundele de alegeri anterioare.
  </p>

</div>
