* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: var(--black);
}

#main {
    padding: 3em 0;
}

.tight-container {
    margin: 0 5%;
}

@media (min-width: 1024px){
    .tight-container {
        margin: 0 15%;
    }
}

.h-padded-wrapper {
    padding: 0 1.5em;
}

.title {
    padding-bottom: 1rem;
    color: var(--black);
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--black);
    padding: 1em;
}

.status-accepted {
  color: green;
}

.status-rejected {
  color: red;
}

.status-pending {
  color: blue;
}

@media (min-width: 1024px) {
    #main {
        padding: 2em 0;
    }

    .h-padded-wrapper {
        padding: 0 5em;
    }

    .container .subtitle {
        margin: 0 20%;
    }
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.border-b {
    border-bottom: 1px solid var(--black);
}
.navbar {
    background-color: transparent;
}

.navbar-item {
    /* color: #fff; */
    font-size: 14px;
    font-weight: 600;
}

.navbar-item img {
    max-height: none;
}

.navbar-burger {
    margin-top: auto;
    margin-bottom: auto;
}

.dropdown-content .navbar-item {
    color: var(--dark-gray);
}

.nav-avatar {
    border-radius: 50%;
    padding: 0.25em;
    height: var(--nav-avatar-height)!important;
    width: var(--nav-avatar-width)!important;
}

.section-title {
    font-size: 1.9em;
    padding-bottom: 1em;
    font-family: Titillium Web, sans-serif;
    font-style: normal;
    color: var(--black);
}

.section-text {
    font-size: 1em;
    font-weight: 300;
    color: var(--black);
    padding-bottom: 1em;
}

.tile.is-child{
    padding:2em;
    margin: 2em!important;
}

.tile-title {
    color: var(--dark-gray);
    font-size: 1.5em;
    padding: 0.5em;
}

@media (min-width: 768px) {
    .need-call2action {
        margin: 2em;
    }

    .need-logo {
        margin: 1em;
        min-width: 100px;
        max-width: 100px;
    }
}

.mb-50 {
    margin-bottom: 50px;
}

#right_sidebar {
    border-top: 1px solid #E5E5E5;
}

@media screen and (min-width: 769px) {
    #right_sidebar {
        border-top: 1px solid #E5E5E5;
        width: 30%;
        margin-right: 0;
        margin-left: auto;
    }
}

.light-bg {
    background-color: var(--light-bg-color);
}

.sidebar-btn {
    font-size: 0.9rem;
}

.domain-title {
  font-size: 1.75em;
  color: #3D4F9F;
  margin-bottom: 1em;
}

.domain-subtitle {
  color: #525F7F;
}

.uppercase {
    text-transform: uppercase;
}

.filter-container {
    margin: 1em 0;
}

.filter-dropdown button, .filter-dropdown button:hover {
    border: 1px solid #1C1080;
    color: #1C1080;
    font-size: 1em;
}

.tool {
    margin-bottom: 1rem;
}

.donation-card {
    background-color: white;
    padding: 2em;
}

.detail-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.detail-header .title {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: #3D4F9F;
}

.detail-header .subtitle {
    font-size: 16px;
    color: #000;
}

.detail-header-img {
    width: 115px;
    height: auto;
    margin-right: 1.25em;
}

.detail-desc {
    padding-top: 3rem;
}

.detail-desc p {
    padding: 3px 10px;
}

.detail-desc .label {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
}

.vote-org-buttons {
  margin: 20px 0;
}

.detail-desc-title {
    display: flex;
    padding:0;
    flex-direction: row;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    background-color: #F2F2F2;
    margin: 1em 0;
}

.detail-desc-title .candidate-colorblock {
    width:60px;
    height:50px;
    display: inline-block;
    margin-right: 20px;
    background-color: var(--candidate-colorblock);
}

.detail-desc-title .ngo-colorblock {
    width:60px;
    height:50px;
    display: inline-block;
    margin-right: 20px;
    background-color: var(--ngo-colorblock);
}

.donate-hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em 0 0.5em 0;
}

.donate-hero-img {
    display: flex;
    min-width: 33px;
    height: 40px;
    margin-right: 1em;
}

.donate-hero .title {
    font-size: 16px;
    font-weight: bold;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    min-height: 150px;
    margin: 1em;
}

.tag-bar {
    margin-top: 1.25em;
}

.need-tag {
    background: rgba(167, 209, 233, 0.45) !important;
    border-radius: 6px !important;
    margin-right: 10px;
}

.need-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #bedcfa;
    color: #3D4F9F;
    padding: 1em;
}

.need-button {
    display: flex;
}

.need {
    flex-direction: column;
    width: 100%;
}

.need-logo {
    margin-right: 1em;
    max-width: 64px;
    min-width: 64px;
}

.need-title {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

.need-subtitle {
    font-weight: bold;
    font-size: 0.8em;
}

.need-description {
    margin-top: 1em;
}

.need-call2action {
    margin: 1em;
}

.candidate-desc {
    font-weight: 300;
    font-size: 16px;
}

@media (min-width: 768px) {
    .need {
        flex-direction: row;
        align-items: center;
    }

    .card-info {
        min-height: 100px;
    }

    .vr {
        height: 80%;
        border-right: 1px solid #dbdbdb;
    }

    .need-icon {
        padding: 1.5em;
        color: #fff;
    }

    .need-call2action {
        margin: 2em;
    }

    .need-logo {
        margin: 1em;
        min-width: 100px;
        max-width: 100px;
    }
}

#need-form input[type="submit"] {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.search-wrapper {
    justify-content: flex-end;
    margin-bottom: 3em;
}

.search-wrapper form {
    width: 300px;
}

.search-input, .search-input:hover, .search-input:focus {
    box-shadow: none;
    border: none;
    font-family: Titillium Web, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
}

@media (max-width: 768px) {

    .search-wrapper form {
        width: 100%;
    }
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6B6B6B;
    opacity: 1; /* Firefox */
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #6B6B6B;
}

.search-input::-ms-input-placeholder { /* Microsoft Edge */
    color: #6B6B6B;
}

.search-input + label.search-icon .icon {
    pointer-events: auto;
    cursor: pointer;
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
    color: #6B6B6B;
}

.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form .field {
    width: 100%;
}

.control {
    font-size: 14px;
    font-family: Titillium Web, sans-serif;
}

.register-form label {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
}

.register-form input, .register-form select {
    width: 100%;
    font-family: Titillium Web, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.register-form .select {
    display: block;
}

.register-form input[type="text"], .register-form input[type="textarea"], .register-form select {
    border-radius: 6px;
    font-size: 14px;
    padding: 1.5em;
    font-family: Titillium Web, sans-serif;
    font-weight: normal;
}

.register-form input[type="file"] {
    font-size: 14px;
    font-family: Titillium Web, sans-serif;
}

.register-form input[type="email"] {
    border: 1px solid #dbdbdb;;
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, .05);
    border-radius: 6px;
    font-size: 14px;
    padding: 1.5em;

}

.register-form input[type="submit"] {
    border-radius: 3px;
    width: 250px;
    font-weight: bold;
}

.donations-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 32px;
}

.donations-table th {
    background: #C2D0DE;
    border: 1px solid white;
    padding: 1em;
}

.donations-table td {
    background: #F2F2F2;
    border: 1px solid white;
    padding: 1em;
}


.file.has-name .file-name {
    max-width: none;
}

.half-width {
    width: 50%;
}

.pagination-next, .pagination-previous {
    min-width: 80px;
}

.pagination-next.hidden, .pagination-previous.hidden {
    visibility: hidden;
}

.errorlist {
  color: red;
}

.ces-form .label {
    font-weight: 600;
    font-size: 14px;
}

.button.is-success {
    background-color: var(--call2action);
}

.filter-grid {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.filter-card {
    display:flex;
    align-items:center;
    width:100%;
    background-color: var(--lightest-gray);
}

.filter-icon {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 1rem;
    background-color: #616161;
}

.filter-icon-active {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 1rem;
    background-color: var(--active-pale-yellow);
}

.filter-card-content {
    padding: 1rem
}

.filter-link {
    display: flex;
}

.filter-card-active {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--active-yellow);
    color: var(--black);
}
