{% load static %}

<div class="need is-flex container infinite-item">
  <div class="card-image need-logo is-hidden-mobile">
    <img src="{% if ngo.logo %}{{ ngo.logo.url }}{% else %}{% static 'images/logo-demo.png' %}{% endif %}" alt="{{ ngo.name }}">
  </div>

  <div class="card-info">
    <div class="flex-align-center">
      <div class="card-image need-logo is-hidden-tablet">
        <img src="{% if ngo.logo %}{{ ngo.logo.url }}{% else %}{% static 'images/logo-demo.png' %}{% endif %}" alt="{{ ngo.name }}">
      </div>
      <div class="need-title is-hidden-tablet">{{ ngo.name }}</div>
    </div>
    <div class="need-title is-hidden-mobile">
      <a class="has-text-black" href="{% url 'ngo-detail' ngo.pk %}">{{ ngo.name }}</a>
    </div>

  </div>

  <div class="need-call2action">
    <a
      class="button is-flex has-background-success-dark has-text-weight-bold has-text-white"
      href="{% url 'ngo-detail' ngo.pk %}">
      Vizualizează
    </a>
  </div>

</div>

<hr class="is-hidden-tablet" style="margin: 0 10%;"/>
<hr class="is-hidden-mobile half-width"/>
