{% extends "hub/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block domain-filters %}
{% endblock domain-filters %}

{% block extra-header %}
{% endblock extra-header %}

{% block content %}

  <div class="columns is-centered">
    <div class="column is-three-quarters">
      <div class="tight-container">

        <h1 id="login-title" class="title is-2">
          {% trans "Welcome to VotONG!" %}
        </h1>

        <h2 id="login-subtitle" class="title is-4">
          {% trans "Login as a member of the Electoral Commission." %}
        </h2>

        {% if form.errors %}
          <article class="message is-danger">
            <div class="message-body">
              {% trans "Your username and password didn't match. Please try again." %}
            </div>
          </article>
        {% endif %}

        {% if next %}
          <article class="message is-danger">
            <div class="message-body">
              {% if user.is_authenticated %}
                <p>{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</p>
              {% else %}
                <p>{% trans "Please login to see this page." %}</p>
              {% endif %}
            </div>
          </article>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}

          <div class="field">
            <label class="label">{% trans 'Email' %}</label>
            <div class="control has-icons-left has-icons-right">
              <label for="id_username" class="sr-only">{% trans 'Password' %}</label>
              <input class="input" type="email" name="username" autofocus="" required="" id="id_username" placeholder="{% trans 'email' %}" value="">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">{% trans 'Password' %}</label>
            <p class="control has-icons-left">
              <label for="id_password" class="sr-only">{% trans 'Password' %}</label>
              <input class="input" type="password" name="password" required="" id="id_password" placeholder="{% trans 'password' %}">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control">
              <input type="submit" value="{% trans 'Login' %}" class="button is-pulled-right is-warning has-text-weight-bold">
              <input type="hidden" name="next" value="{{ next }}">
              <strong>
                <a href="{% url 'password_reset' %}">{% trans 'Forgot password?' %}</a>
              </strong>
            </p>
          </div>
        </form>

        <div style="margin-top: 5%">
          <p class="has-text-weight-normal login-text login-text-extra">
            {% trans "If you're not a member of the commission, please login using" %}
            <strong><a href="{% url 'login_landing' %}" class="login-text-extra">{% trans "this link" %}</a></strong>
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
