{% extends "hub/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block domain-filters %}
{% endblock domain-filters %}

{% block extra-header %}
{% endblock extra-header %}

{% block content %}

  <div class="columns is-centered">
    <div class="column is-half">
      <h2 class="title is-2">{% trans "Confirm password reset" %}</h2>

      {% if validlink %}

        {% if form.errors %}
          <article class="message is-danger">
            <div class="message-body">
              {% for field, errors in form.errors.items %}
                {% for error in errors %}
                  {{ error }}
                {% endfor %}
              {% endfor %}
            </div>
          </article>
        {% else %}
          <article class="message is-info">
            <div class="message-body">
              <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            </div>
          </article>
        {% endif %}

        <form method="post">
          {% csrf_token %}
          <div class="field">
            <label class="label">{% trans 'New password:' %}</label>
            <p class="control has-icons-left">
              <input class="input" type="password" name="new_password1" required="" id="id_new_password1">
              <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
            </p>
          </div>
          <div class="field">
            <label class="label">{% trans 'Confirm password:' %}</label>
            <p class="control has-icons-left">
              <input class="input" type="password" name="new_password2" required="" id="id_new_password2">
              <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input type="submit" value="{% trans 'Change my password' %}" class="button is-success is-pulled-right">
            </p>
          </div>
        </form>

      {% else %}

        <article class="message is-danger">
          <div class="message-body">
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
          </div>
        </article>

      {% endif %}
    </div>
  </div>
{% endblock %}
