{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block domain-filters %}
{% endblock domain-filters %}

{% block extra-header %}
{% endblock extra-header %}

{% block content %}

<div class="columns is-centered">
  <div class="column is-half">
    <h2 class="title is-2">{% trans "Reset password" %}</h2>

    {% if form.errors %}
    <article class="message is-danger">
      <div class="message-body">
        {% trans "The email address you entered is not valid. Please try again." %}
      </div>
    </article>
    {% endif %}

    <div style="padding: 1rem 0 1rem">
      <p>
        {% blocktrans %}
        In order to reset your password, please enter the organisation e-mail address. This is the e-mail address that
        you filled in, under <b>Organisation E-mail</b>, when you signed your organisation up.
        {% endblocktrans %}
      </p>
    </div>


    <form method="post" action="{% url 'password_reset' %}">
      {% csrf_token %}
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" name="email" autofocus="" required="" id="id_email"
            placeholder="{% trans 'email address' %}" value="">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <p class="control">
          <input type="submit" value="{% trans 'Reset password' %}" class="button is-success is-pulled-right">
        </p>
      </div>
    </form>

  </div>
</div>

{% endblock %}