#elections-registration {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  padding-bottom: 50px;
}

#elections-registration h2 {
  font-size: 35px;
  padding: 0.5em 0;
  color: var(--dark-gray);

}

#elections-registration .button {
  margin-left: 20px;
  height: 5em;
}
