{% extends 'account-base.html' %}
{% load static %}
{% load spurl %}
{% load i18n %}

{% block content %}

<div id="content-main" class="container section tight-container">
  {% include 'partials/sections.html' with active='change-email' %}

    <div class="columns is-centered">
        <div class="column is-half">
            {% if messages %}
            <article class="message is-info">
                <div class="message-body">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </article>
            {% endif %}

            {% if form.errors %}
            <article class="message is-danger">
                <div class="message-body">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    {% endfor %}
                </div>
            </article>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <div class="field">
                    <label class="label">{% trans 'New email:' %}</label>
                    <p class="control has-icons-left">
                        <input class="input" type="email" name="email" required="" id="id_email">

                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                        <input type="submit" value="{% trans 'Change Email' %}" class="button is-success">
                    </p>
                </div>
        </div>
    </div>
</div>

{% endblock %}
