{% extends "base.html" %}
{% load static %}
{% load spurl %}
{% load i18n %}

{% block styles %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
  <link rel="stylesheet" href="{% static "css/home/alegeri-jumbotron.css" %}">
  <link rel="stylesheet" href="{% static "css/home/alegeri-inscriere.css" %}">
  <link rel="stylesheet" href="{% static "css/home/contact.css" %}">
  <link rel="stylesheet" href="{% static "css/home/home.css" %}">
{% endblock %}

{% block content %}

  <div class="section light-bg">
    <div class="container tight-container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <h1 class="section-title">VotONG</h1>
          <p class="section-text">
            VotONG este o platformă care facilitează procesul de desemnare a reprezentanților societății civile
            în diferite instituții publice precum Consiliul Economic și Social, Consiliul Național pentru
            Combaterea Discriminării (CNCD), Consiliul Suprem al Magistraturii ș.a. În platformă se vor organiza
            runde electorale în care organizațiile neguvernamentale pot nominaliza proprii candidați, pot
            susține deschis o candidatură sau alta și pot vota în cadrul alegerilor deschise prin acest sistem
            pot nominaliza proprii candidați, pot susține deschis o candidatură sau alta și pot vota în cadrul
            alegerilor deschise prin acest sistem.
          </p>
          <a href="{% url 'about' %}" class="button is-warning">Află mai multe</a>
        </div>
        <div class="column is-half">
          <img class="" src="{% static "images/about.png" %}" alt="about">
        </div>
      </div>
    </div>
  </div>

  <div id="alegeri-jumbotron">
    <div id="alegeri-icon">
      <i class="fas fa-user-tie"></i>
    </div>
    <div class="container">
      <h2 class="tile-title has-text-weight-bold">
        Alegeri reprezentanții societății civile în Consiliul Economic și Social
      </h2>
      <p class="subtitle">
        Proces de selecție și alegere a reprezentanților societății civile în Consiliul Economic și Social</p>
      <div id="alegeri-buttons">
        <a href="{% url 'rules' %}" class="button is-warning">Regulament</a>
        <!-- <a href="{% url 'ces-results' %}" class="  button is-warning">Vezi rezultate finale</a> -->
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container tight-container">
      <h1 class="section-title">Cum funcționează</h1>
      <div class="tile is-ancestor has-text-centered">
        <div class="tile is-12 is-parent">
          <div class="tile is-child box">
            <div class="box-icon">
              <img src="{% static "images/1-inscriere.svg" %}" alt="Sign up icon"/>
            </div>
            <p class="tile-title">Pasul 1: Eligibilitate</p>
            <p>
              Se pot înscrie în platformă toate asociațiile, fundațiile sau federațiile înregistrate legal în România,
              orice fundație pentru tineret sau Fundația Națională pentru Tineret, precum și Societatea Națională de
              Cruce Roșie din România și a structurilor sale cu personalitate juridică, care respectă condițiile din
              regulament.
            </p>
          </div>
          <div class="tile is-child box">
            <div class="box-icon">
              <img src="{% static "images/2-validare.svg" %}" alt="Validation icon"/>
            </div>
            <p class="tile-title">Pasul 2: Înscriere</p>
            <p>
              Organizațiile se pot înscrie în VotONG prin platforma 
              <a href="https://ngohub.ro">NGO Hub</a>. 
              Pentru a intra în VotONG există o serie de condiții prestabilite care trebuiesc îndeplinite și
              care pot fi consultate în 
              <a href="{% url 'platform_rules' %}">Regulamentul platformei</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor has-text-centered">
        <div class="tile is-12 is-parent">
          <div class="tile is-child box">
            <div class="box-icon">
              <img src="{% static "images/3-votare.svg" %}" alt="Vote icon"/>
            </div>
            <p class="tile-title">Pasul 3: Validare</p>
            <p>
              După înscriere fiecare ONG este validat. Administratorul platformei va verifica informațiile prezentate în
              formularul completat și va contacta organizația dacă sunt necesare și alte documente. Validarea
              organizațiilor înscrise va avea loc anual.
            </p>
          </div>
          <div class="tile is-child box">
            <div class="box-icon">
              <img src="{% static "images/4-vot.svg" %}" alt="Results icon"/>
            </div>
            <p class="tile-title">Pasul 4: Vot</p>
            <p>
              Dacă există alegeri în curs, fiecare ONG care se califică, potrivit regulamentului fiecărei runde, poate
              să propună candidaturi pentru a intra în cursa electorală. Organizațiile pot de asemenea și să își exprime
              susținerea pentru candidați.
            </p>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor has-text-centered">
        <div class="tile is-12 is-parent">
          <div class="tile is-child box">
            <div class="box-icon">
              <img src="{% static "images/5-rezultate.png" %}" alt="Sign up icon"/>
            </div>
            <p class="tile-title">Pasul 5: Rezultate</p>
            <p>
              Rezultatele fiecărei runde de alegeri vor fi publicate pe platformă și anunțate prin e-mail către toate
              organizațiile care au participat la runda de vot.
            </p>
          </div>
          <div class="tile is-child box rules-box">
            <p class="tile-title">Regulament</p>
            <p>
              Citește aici detalii despre regulamentul de funcționare al platformei Vot ONG.
            </p>
            <a href="{% url 'platform_rules' %}" class="button is-warning">Vezi Regulament</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if True %}
    <div id="alegeri-inscriere" class="container">
      <h2 class="has-text-weight-bold">Înscrie-te</h2>
      <div class="columns is-centered">
        <div class="column">
          <p>
            Asigurarea reprezentativității societății civile în forurile de decizie este extrem de importantă,
            pentru a putea să ne facem vocile auzite în momentul luării de hotărâri care pot influența întregul
            sector neguvernamental.
          </p>
          <p>
            De opt ani, Code for Romania construiește soluții digitale
            pentru problemele cu care ne confruntăm în România.

            Iar de anul acesta, am adunat soluțiile digitale ce contribuie la creșterea capacității interne a
            organizațiilor neguvernamentale în
            <a href="https://ngohub.ro">NGO Hub</a>.
          </p>
          <p>
            <strong>
              De acum înainte, accesul în platformele pe care le știți deja
              (inclusiv
              <strong>Vot ONG</strong>
              și
              <strong><a href="https://redirectioneaza.ro">redirectioneaza.ro</a></strong>
              )
              se va realiza tot prin
              <a href="https://ngohub.ro">NGO Hub</a>,
            </strong>
            tocmai pentru a facilita gestionarea unui cont unic pentru fiecare organizație,
            actualizat și administrat central.

          </p>
        </div>
        <div class="column is-narrow">
          <a href="
            {% if ENABLE_ORG_REGISTRATION_FORM %}
              {% url 'ngos-register-request' %}
            {% else %}
              {{ NGOHUB_APP_BASE_URL }}
            {% endif %}" class="button is-warning">
            Înregistrează-te
            <br>
            în NGO Hub
          </a>
        </div>
      </div>
    </div>
  {% endif %}

  <div id="contact" class="container tight-container columns is-centered">
    <div class="column">
      <h3 class="tile-title">Intră în contact</h3>
      <p>
        Dacă vrei să iei legătura cu noi, pentru sugestii, propuneri de îmbunătățire sau dacă ai întrebări,
        atunci te rugăm să folosești formularul alăturat.
      </p>
      <p>
        Platforma VotONG este dezvoltată pro-bono de Asociația Code for Romania și este parte dintr-un
        ecosistem larg de soluții dedicate societății civile pe care îl avem în lucru în acest moment.
        Dacă vrei să ne susții, o poți face folosind butonul Implică-te de mai jos, setând o donație
        recurentă pentru noi.
      </p>
    </div>
    <div id="contact-form" class="column">

      {% if messages %}
        <article class="message is-success">
          <div class="message-body">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        </article>
      {% endif %}

      <form action="" method="post" class="box">
        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
          {% if hidden_field.errors %}
            <article class="message is-danger">
              <div class="message-body">Erori "{{ hidden_field.label }}": {{ hidden_field.errors }}</div>
            </article>
          {% endif %}
        {% endfor %}

        {% for field in form %}
          {% if field.errors %}
            <article class="message is-danger">
              <div class="message-body">Erori "{{ field.label }}": {{ field.errors }}</div>
            </article>
          {% endif %}
        {% endfor %}

        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Nume" name="name"/>

            <span class="icon is-small is-left">
                        <i class="fas fa-graduation-cap"></i>
                    </span>
          </div>
        </div>

        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Email" name="email"/>

            <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
          </div>
        </div>

        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <textarea class="input" placeholder="Mesaj" name="message"></textarea>
            <span class="icon is-small is-left">
                        <i class="fas fa-unlock-alt"></i>
                    </span>
          </div>
        </div>

        {{ form.captcha }}

        <label class="checkbox">
          <input type="checkbox" name="terms_and_conditions">
          Sunt de acord cu <a href="{% url 'terms' %}">termenii și condițiile platformei VotONG</a>.
        </label>


        <div id="contact-form-buttons">
          <button type="submit" class="button is-warning">Trimite</button>
          {% csrf_token %}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
