{% load static i18n %}

<div class="h-padded-banner warning-banner">
  <div class="container column is-12 is-flex is-align-content-center banner-content">

    <p>
      <strong>
        {% trans "The electoral commission has validated the candidates for the CES 2024." %}
      </strong>
      <br>
      {% trans "The validation process will take place between the 2nd and the 3rd of December 2024." %}
      <a href="{% url 'blog-post' 'validare-candidaturi-2024' %}">
        {% trans "Find out more details here." %}
      </a>
    </p>

  </div>
</div>
