{% load static i18n %}

<div class="h-padded-banner warning-banner">
  <div class="container column is-12 is-flex is-align-content-center banner-content">

    <p>
      Propunerile de reprezentanți ai societății civile în Consiliul Economic și Social vor fi votate 
      în 2-3 decembrie 2024. 
      <a href="{% url 'blog-post' 'comunicare-votare-2024' %}">Află mai multe detalii aici</a>.

      <br>

      <strong>
          Pe 2 și 3 decembrie 2024 îți poți exprima votul <a href="{% url 'candidates' %}">AICI</a>.
      </strong>
    </p>
  </div>
</div>
