{% extends "hub/base.html" %}
{% load static %}
{% load spurl %}
{% load i18n %}

{% block styles %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
  <link rel="stylesheet" href="{% static "css/home/elections-jumbotron.css" %}">
  <link rel="stylesheet" href="{% static "css/home/elections-registration.css" %}">
  <link rel="stylesheet" href="{% static "css/home/contact.css" %}">
  <link rel="stylesheet" href="{% static "css/home/home.css" %}">
{% endblock %}

{% block content %}

  <div class="section light-bg">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <h1 class="section-title">VotONG</h1>
          <p class="section-text">
            VotONG este o platformă care facilitează procesul de desemnare a reprezentanților societății civile
            în diferite instituții publice precum
            Consiliul Economic și Social,
            Consiliul Național pentru Combaterea Discriminării (CNCD),
            Consiliul Suprem al Magistraturii ș.a.
          </p>

          <p class="section-text">
            În platformă se vor organiza runde electorale în care organizațiile neguvernamentale
            pot nominaliza proprii candidați,
            pot susține deschis o candidatură sau alta
            și pot vota în cadrul alegerilor deschise prin acest sistem.
          </p>

          <a href="{% url 'about' %}" class="button is-warning" data-tooltip="Apasă aici pentru a afla mai multe">Află mai multe</a>
        </div>
        <div class="column is-half">
          <img class="" src="{% static "images/about.png" %}" alt="about">
        </div>
      </div>
    </div>
  </div>

  {% if CURRENT_EDITION_TYPE == "ces" %}

    <div id="elections-jumbotron">
      <div id="elections-icon">
        <i class="fas fa-user-tie"></i>
      </div>
      <div class="container">
        <h2 class="tile-title has-text-weight-bold">
          Alegeri reprezentanții societății civile în Consiliul Economic și Social 2024
        </h2>
        <p class="subtitle">
          Proces de selecție și alegere a reprezentanților societății civile în Consiliul Economic și Social
        </p>
        <div id="elections-buttons">
          <a href="{% url 'election_rules' %}" class="button is-warning">Regulament alegeri CES</a>
          {% if RESULTS_ENABLED %}
            <a href="{% url 'results' %}" class="button is-warning">Vezi rezultate finale</a>
          {% endif %}
        </div>
      </div>
    </div>

  {% elif CURRENT_EDITION_TYPE == "ce" %}

    <div id="elections-jumbotron">
      <div id="elections-icon">
        <i class="fas fa-user-tie"></i>
      </div>
      <div class="container">
        <h2 class="tile-title has-text-weight-bold">
          Alegeri Comisia Electorală a platformei VotONG
        </h2>
        <p class="subtitle">
          Proces de selecție și alegere a Comisiei Electorale a platformei VotONG
        </p>
        <div id="elections-buttons">
          <a href="{% url 'election_rules' %}" class="button is-warning">Regulament alegeri CES</a>
          {% if RESULTS_ENABLED %}
            <a href="{% url 'results' %}" class="button is-warning">Vezi rezultate finale</a>
          {% endif %}
        </div>
      </div>
    </div>

  {% elif CURRENT_EDITION_TYPE == "pnrr" %}

    <div id="elections-jumbotron">
      <div id="elections-icon">
        <i class="fas fa-user-tie"></i>
      </div>
      <div class="container">
        <h2 class="tile-title has-text-weight-bold">
          Alegeri reprezentanții societății civile în Comitetul de Monitorizare a PNRR
        </h2>
        <p class="subtitle">
          Proces de selecție și alegere a reprezentanților societății civile în Comitetul de Monitorizare a PNRR
        </p>
        <div id="elections-buttons">
          <a href="{% url 'election_rules' %}" class="button is-warning">Regulament alegeri CES</a>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="section">
    <div class="container">
      <h1 class="section-title">Cum funcționează</h1>
      <div class="tile is-ancestor has-text-centered">
        <div class="tile is-12 is-parent">
          <div class="tile is-child box">
            <div class="box-icon">
              <img src="{% static "images/1-inscriere.svg" %}" alt="Sign up icon"/>
            </div>
            <h2 class="tile-title">Pasul 1: Eligibilitate</h2>
            <p>
              Se pot înscrie în platformă toate asociațiile, fundațiile sau federațiile înregistrate legal în România,
              orice fundație pentru tineret sau Fundația Națională pentru Tineret, precum și Societatea Națională de
              Cruce Roșie din România și a structurilor sale cu personalitate juridică, care respectă condițiile din
              regulament.
            </p>
          </div>
          <div class="tile is-child box">
            <div class="box-icon">
              <img src="{% static "images/2-validare.svg" %}" alt="Validation icon"/>
            </div>
            <h2 class="tile-title">Pasul 2: Înscriere</h2>
            <p>

              Organizațiile se pot înscrie în VotONG prin platforma
              <a href="{{ NGOHUB_HOME_FULL }}">NGO Hub</a>
              solicitând aplicația VotONG din meniul „Toate aplicațiile” din contul organizației.
              Pentru a intra în VotONG există o serie de condiții prestabilite care trebuie îndeplinite și
              care pot fi consultate în
              <a href="{% url 'platform_rules' %}">Regulamentul platformei</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor has-text-centered">
        <div class="tile is-12 is-parent">
          <div class="tile is-child box">
            <div class="box-icon">
              <img src="{% static "images/3-votare.svg" %}" alt="Vote icon"/>
            </div>
            <h2 class="tile-title">Pasul 3: Validare</h2>
            <p>
              După solicitarea aplicației VotONG din contul organizației de pe platforma NGO Hub,
              fiecare ONG trece printr-un proces de validare.
              Administratorul platformei VotONG va verifica informațiile prezentate în formularul completat 
              și va contacta organizația dacă sunt necesare și alte documente.
              Validarea organizațiilor înscrise va avea loc anual.
            </p>
          </div>
          <div class="tile is-child box">
            <div class="box-icon">
              <img src="{% static "images/4-vot.svg" %}" alt="Results icon"/>
            </div>
            <h2 class="tile-title">Pasul 4: Vot</h2>
            <p>
              Dacă există alegeri în curs, fiecare ONG care se califică, potrivit regulamentului fiecărei runde, poate
              să propună candidaturi pentru a intra în cursa electorală. Organizațiile pot de asemenea și să își exprime
              susținerea pentru candidați.
            </p>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor has-text-centered">
        <div class="tile is-12 is-parent">
          <div class="tile is-child box">
            <div class="box-icon">
              <img src="{% static "images/5-rezultate.png" %}" alt="Sign up icon"/>
            </div>
            <h2 class="tile-title">Pasul 5: Rezultate</h2>
            <p>
              Rezultatele fiecărei runde de alegeri vor fi publicate pe platformă și anunțate prin e-mail către toate
              organizațiile care au participat la runda de vot.
            </p>

            {% if RESULTS_ENABLED %}
              <a href="{% url 'results' %}" class="button is-warning">Rezultate finale</a>
            {% endif %}
          </div>
          <div class="tile is-child box rules-box">
            <h2 class="tile-title">Regulament platformă</h2>
            <p>
              Citește aici detalii despre regulamentul de funcționare al platformei VotONG.
            </p>
            <a href="{% url 'platform_rules' %}" class="button is-warning">Vezi Regulamentul Platformei</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if True %}
    <div id="elections-registration" class="container">
      <h2 class="has-text-weight-bold">Înscrie-te</h2>
      <div class="columns is-centered">
        <div class="column">
          <p>
            Asigurarea reprezentativității societății civile în forurile decizionale este extrem de importantă,
            pentru a putea să ne facem vocile auzite în momentul luării de hotărâri care pot influența întregul
            sector neguvernamental.
          </p>
          <p>
            De opt ani, Code for Romania construiește soluții digitale pentru problemele cu care ne confruntăm
            în România.
            Iar de anul acesta, am adunat soluțiile digitale ce contribuie la creșterea capacității interne
            a organizațiilor neguvernamentale în NGO Hub.
          </p>

          <p>
            <strong>
              De acum înainte, accesul în platformele pe care le știți deja (inclusiv VotONG și Redirecționează) se va
              realiza tot prin
              <a href="{{ NGOHUB_HOME_FULL }}">NGO Hub</a>,
            </strong>
            tocmai pentru a facilita gestionarea unui cont unic pentru fiecare organizație,
            actualizat și administrat central.
          </p>
        </div>
        <div class="column is-narrow">
          <a href="{{ REGISTER_URL }}" class="button is-warning">
            Înregistrează-te
            <br>
            în NGO Hub
          </a>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container is-centered">
    <div id="contact" class="columns">
      <div class="column">
        <h3 class="tile-title">Cum ne poți contacta</h3>
        <p>
          Dacă vrei să iei legătura cu noi, pentru sugestii, propuneri de îmbunătățire sau dacă ai întrebări,
          atunci te rugăm să folosești formularul alăturat.
        </p>
        <p>
          Platforma VotONG este dezvoltată pro-bono de Asociația Code for Romania și este parte dintr-un ecosistem larg
          de soluții dedicat societății civile.
          Dacă vrei să ne susții, o poți face folosind butonul
          <strong>Implică-te</strong> de mai jos,
          setând o donație recurentă pentru noi.
        </p>
        <a href="https://code4.ro/doneaza" class="button is-warning">Implică-te</a>
      </div>

      <div id="contact-form" class="column">

        {% if messages %}
          <article class="message is-success">
            <div class="message-body">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          </article>
        {% endif %}

        <form action="" method="post" class="box">
          {{ form.non_field_errors }}

          {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
              <article class="message is-danger">
                <div class="message-body">Erori "{{ hidden_field.label }}": {{ hidden_field.errors }}</div>
              </article>
            {% endif %}
          {% endfor %}

          {% for field in form %}
            {% if field.errors %}
              <article class="message is-danger">
                <div class="message-body">Erori "{{ field.label }}": {{ field.errors }}</div>
              </article>
            {% endif %}
          {% endfor %}

          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input
                id="contact-name"
                class="input"
                type="text"
                aria-label="{% trans 'Name' %}"
                placeholder="{% trans 'Name' %}"
                name="name"/>

              <span class="icon is-small is-left">
              <i class="fas fa-graduation-cap"></i>
            </span>
            </div>
          </div>

          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input
                id="contact-email"
                class="input"
                type="text"
                aria-label="{% trans 'Email' %}"
                placeholder="{% trans 'Email' %}"
                name="email"/>

              <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            </div>
          </div>

          <div class="field">
            <div class="control has-icons-left has-icons-right">
            <textarea
              id="contact-message"
              class="input"
              aria-label="{% trans 'Message' %}"
              placeholder="{% trans 'Message' %}"
              name="message"></textarea>

              <span class="icon is-small is-left">
              <i class="fas fa-unlock-alt"></i>
            </span>
            </div>
          </div>

          {{ form.captcha }}

          <label class="checkbox">
            <input type="checkbox" name="terms_and_conditions">
            Sunt de acord cu <a href="{% url 'terms' %}">termenii și condițiile platformei VotONG</a>.
          </label>


          <div id="contact-form-buttons">
            <button type="submit" class="button is-warning">Trimite</button>
            {% csrf_token %}
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
