{% extends 'hub/candidate/base.html' %}
{% load static i18n %}
{% load spurl guardian_tags %}
{% load social_share meta_tags hub_tags %}

{% block meta_tags %}
  {% if candidate.photo %}
    {% with title=candidate.name image=candidate.photo.url %}
      {% meta_tags %}
    {% endwith %}
  {% endif %}
{% endblock %}

{% block left-side-view %}

  {% block domain-filters %}
  {% endblock %}

  <div class="container">
    <div class="section-title">{% trans "Section: " %}{{ candidate.domain.name }}</div>

    {% if candidate.domain.description and candidate.domain.name != candidate.domain.description %}
      <p class="section-text">{{ candidate.domain.description }}</p>
    {% endif %}


    {% if candidate.old_domain %}
      <p class="section-text">
        Candidatura a fost depusă pe domeniul "{{ candidate.old_domain.name }}".
        Organizația a solicitat modificarea domeniului ca elector după evaluarea candidaturilor.
      </p>
    {% endif %}
  </div>

  <div class="container need is-flex">
    <div class="card-image need-logo is-hidden-mobile">
      <img src="{% if candidate.org.logo %}{{ candidate.org.logo.url }}{% else %}{% static 'images/logo-demo.png' %}{% endif %}" alt="{{ candidate.org.name }}">
    </div>

    <div class="card-info">
      <div class="flex-align-center">
        <div class="card-image need-logo is-hidden-tablet">
          <img src="{% if candidate.org.logo %}{{ candidate.org.logo.url }}{% else %}{% static 'images/logo-demo.png' %}{% endif %}" alt="{{ candidate.org.name }}">
        </div>
        <div>
          <div class="need-title is-hidden-tablet">
            <a class="has-text-black" href="{% url 'ngo-detail' candidate.org.pk %}">{{ candidate.org }}</a>
          </div>
          <div class="need-subtitle is-hidden-tablet">
            Județ: {{ candidate.org.city.county }}, Localitate: {{ candidate.org.city.city }}
          </div>
        </div>
      </div>

      <div class="need-title is-hidden-mobile">
        <a class="has-text-black" href="{% url 'ngo-detail' candidate.org.pk %}">{{ candidate.org }}</a>
      </div>
      <div class="need-subtitle is-hidden-mobile">
        Județ: {{ candidate.org.city.county }}, Localitate: {{ candidate.org.city.city }}
      </div>

      <div class="need-description">
        {% include "hub/candidate/components/candidate_status.html" with candidate=candidate user=user %}
      </div>

    </div>

    {% if not user.is_superuser %}

      {% if can_support_candidate %}
        <div class="buttons">

          {% if not own_candidate %}
            {% if supported_candidate %}
              <a href="{% url 'candidate-support' candidate.id %}" class="button is-danger">
                Retrage susținerea
              </a>
            {% else %}
              <a href="{% url 'candidate-support' candidate.id %}" class="button is-success">
                Susține
              </a>
            {% endif %}
          {% endif %}

          <span style="width: 100%; padding: 10px;">{% trans "Supporters:" %} {{ candidate.count_supporters }}</span>
        </div>
      {% endif %}

      {% if can_see_approval_action %}
        {% trans "Confirm candidate status" as approval_action %}

        {% if can_approve_candidate %}
          <a href="{% url 'candidate-status-confirm' candidate.id %}" class="button is-success">
            {{ approval_action }}
          </a>
        {% else %}
          <p class="button is-disabled">
            {{ approval_action }}
          </p>
        {% endif %}
      {% endif %}

      {% if CANDIDATE_VOTING_ENABLED and user.is_authenticated and candidate.status == "confirmed" %}
        {% if can_vote_candidate %}
          {% if voted_candidate %}
            <span class="tag is-success">
            {% trans "✔ VOTED" %}
          </span>
            {% elif used_all_domain_votes %}
            <span class="tag is-warning">
            {% trans "You have used all the votes allotted for this domain." %}
          </span>
          {% else %}
            <a href="{% url 'candidate-vote' candidate.id %}" class="button is-success">
              {% trans "Vote" %}
            </a>
          {% endif %}

        {% else %}

          {% if not organization_has_domain and ORG_EDITING_ENABLED %}
            <p class="button is-disabled">
              {% trans "You need to choose your domain" %}
            </p>
          {% else %}
            <p class="button is-disabled">
              {% trans "You can't vote" %}
            </p>
          {% endif %}
        {% endif %}
      {% endif %}

    {% endif %}

  </div>

  <div class="container detail-desc">
    <div class="detail-desc-title">
      <span class="candidate-colorblock"></span>
      {% trans "Candidate information" %}
    </div>

    <div>
      <p><span class="label">{% trans 'Representative name' %}:</span> {{ candidate.name }}</p>
      <p><span class="label">{% trans 'Representative role' %}:</span> {{ candidate.role }}</p>

      {% if candidate.mandate %}
        {% trans "Mandate" as doc_name %}
        {% include "hub/partials/document.html" with document_url=candidate.mandate.url document_name=doc_name can_view_secret_files=can_view_all_information is_secret=False %}
      {% endif %}

      {% if candidate.letter_of_intent %}
        {% trans "Letter of intent" as doc_name %}
        {% include "hub/partials/document.html" with document_url=candidate.letter_of_intent.url document_name=doc_name can_view_secret_files=can_view_all_information is_secret=False %}
      {% endif %}

      {% if candidate.cv %}
        {% trans "CV" as doc_name %}
        {% include "hub/partials/document.html" with document_url=candidate.cv.url document_name=doc_name can_view_secret_files=can_view_all_information is_secret=False %}
      {% endif %}

      {% if candidate.declaration_of_interests %}
        {% trans "Declaration of interests" as doc_name %}
        {% include "hub/partials/document.html" with document_url=candidate.declaration_of_interests.url document_name=doc_name can_view_secret_files=can_view_all_information is_secret=False %}
      {% endif %}

      {% if candidate.statement %}
        {% trans "Representative statement" as doc_name %}
        {% include "hub/partials/document.html" with document_url=candidate.statement.url document_name=doc_name can_view_secret_files=can_view_all_information is_secret=False %}
      {% endif %}

      {% if candidate.fiscal_record %}
        {% trans "Fiscal record" as doc_name %}
        {% include "hub/partials/document.html" with document_url=candidate.fiscal_record.url document_name=doc_name can_view_secret_files=can_view_all_information is_secret=True %}
      {% endif %}

      {% if candidate.criminal_record %}
        {% trans "Criminal record" as doc_name %}
        {% include "hub/partials/document.html" with document_url=candidate.criminal_record.url document_name=doc_name can_view_secret_files=can_view_all_information is_secret=True %}
      {% endif %}

    </div>
  </div>

  <div class="container detail-desc">
    {% include "hub/partials/organization_documents.html" with ngo=candidate.org %}
  </div>


  {% comment %}
    {% social_buttons obj=candidate %}
  {% endcomment %}

{% endblock %}

{% block content %}
  {% url "ngos" as ngos %}
  {% with current_url=ngos %}
    {{ block.super }}
  {% endwith %}
{% endblock %}
