{% extends 'hub/candidate/base.html' %}
{% load static %}
{% load spurl %}
{% load i18n %}
{% load cache %}

{% block extra-header %}
  {% with header_template=CURRENT_EDITION_TYPE|add:"/edition_header.html" %}
    {% include "hub/"|add:header_template with source="candidates" %}
  {% endwith %}
{% endblock %}


{% block left-side-view %}

  {% if should_display_candidates %}

    {% block domain-filters %}
    {% endblock %}

    <div class="search-wrapper container is-flex">
      <form action="{% url 'candidates' %}" method="GET">
        <div class="field border-b">
          <p class="control has-icons-right ">
            <label class="search-icon">
              <input
                class="input search-input"
                type="text"
                name="q"
                value="{{ current_search }}"
                placeholder="{% trans 'Search...' %}">
              <span class="icon is-small is-right"><i class="fas fa-search"></i></span>
              <input type="submit" style="display: none;"/>
            </label>
          </p>
        </div>
      </form>
    </div>

    {% if current_domain %}
      <h2 class="section-title uppercase">
        <span class="is-4"><<</span> <a href="{% url 'candidates' %}">{% trans "Back" %}</a>
      </h2>
    {% endif %}

    {% trans "Proposed candidates" as section_title %}

    {% if page_obj and not SINGLE_DOMAIN_ROUND %}

      {% include "hub/candidate/components/expandable_voting_domains.html" with section_title=section_title %}

    {% else %}

      <h2 class="section-title uppercase">
        {{ section_title }} ({{ counters.candidates_pending }})
      </h2>

    {% endif %}

    <div class="container">
      {% if page_obj %}
        {% cache listing_cache_duration candidates_list listing_cache_key %}
          <div class="is-multiline infinite-container">

            {% if not SINGLE_DOMAIN_ROUND %}
              {% include "hub/candidate/components/listing_by_voting_domain.html" %}
            {% else %}
              {% include "hub/candidate/components/listing_detail.html" with candidates=page_obj.object_list display_photo=True display_domain=True %}
            {% endif %}

          </div>
        {% endcache %}
      {% endif %}
    </div>

  {% endif %}

{% endblock %}

{% block content %}
  {% with current_url=request.get_full_path %}
    {{ block.super }}
  {% endwith %}
{% endblock %}
