.subtle-link {
    color: #000;

    &:hover {
        color: #165ccc;
    }
}

.banner {
    background-color: #f3f4f6;
}

.banner-content {
    padding: 12px 0;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
