.subtle-link {
  color: #000;

  &:hover {
    color: #165ccc;
  }
}

.banner {
  background-color: #f3f4f6;
}

.banner-content {
  padding: 12px 0;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.h-padded-banner {
  margin: 1.5em 0;
  padding: 1em 3em;
}

.warning-banner {
  background-color: #ffb300;
}

.warning-banner strong {
  font-size: 1em;
  font-weight: 700;
}

.warning-banner a {
  font-size: 1em;
}

.warning-banner p {
  font-size: 1.2em;
}
