{% load static i18n %}

<div class="container section has-text-centered">
    <h1 class="title">
        {% trans "CES Elections" %}
    </h1>
    <p class="subtitle border-b">
        {% trans "Platforma de vot electronic ce se adresează organizațiilor neguvernamentale, dedicată alegerii reprezentanților societății civile spre propunere în Consiliul Economic și Social (CES) conform prevederilor L248/2013." %}
    </p>
</div>
<div class="section has-text-centered">
    <a href="{% url 'rules' %}" class="subtitle has-text-weight-bold">
        {% trans "Metodology" %}
    </a>
    <i class="fas fa-external-link-alt"></i>
</div>