{% load static i18n %}

<div class="container section has-text-centered">
    <h1 class="title">
        {% trans "CES Elections" %}
    </h1>
    <p class="subtitle" style="margin: 0 10%">
        {% trans "Această rundă electorală este dedicată alegerii reprezentanților societății civile care vor fi propuși pentru a ocupa cele 15 fotolii dedicate sectorului ONG în Comitetul Economic și Social (CES). Dincolo de importanța majoră a prezenței în CES, locul în care sunt avizate (cu rol consultativ) toate propunerile legislative, este esențial să marcăm faptul că anul 2020 este cu atât mai relevant cu cât este pentru prima dată când conducerea Comitetului Economic și Social ajunge, prin rotație, să fie asigurată de unul din cei 15 reprezentanți al sectorului în acest organism. Este un moment în care sectorul ONG din România are șansa de a demonstra din nou gradul ridicat de profesionalism și competențele sale la cel mai înalt nivel." %}
    </p>
    <p class="subtitle border-b" style="margin: 0 10%">
        {% trans "Puteți naviga prin cele șase secțiuni de mai jos pentru a analiza candidaturile anunțate, pentru a vă declara susținerea pentru unul sau mai mulți dintre candidați și, apoi, după validarea acestora, vă puteți exprima voturile finale. Mai multe detalii despre Regulament puteți găsi accesând butonul ”Metodologie” de mai jos." %}
    </p>
</div>
<div class="section has-text-centered">
    <a href="{% url 'rules' %}" class="subtitle has-text-weight-bold">
        {% trans "Metodology" %}
    </a>
    <i class="fas fa-external-link-alt"></i>
</div>