name: Pipeline

on:
  push:
    branches:
      - 'master'
      - 'develop'
    paths:
      - '**.py'
      - '**/requirements*.in'
      - '**/requirements*.txt'
  pull_request:
    paths:
      - '**.py'
      - '**/requirements*.in'
      - '**/requirements*.txt'

jobs:
  static_analysis:
    runs-on: ubuntu-latest
    container: python:3.7.7-buster

    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          cat requirements-dev.txt | grep black== | cut -d' ' -f1 | xargs pip install
      - name: Check formatting with black
        run: |
          black --line-length 119 --target-version py37 --check .
